{% extends 'layouts/form.jinja' %}


{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {
        "text": "Ticket " ~ ticket_prefixed_id,
        "href": url('workflow:task-workflow-ui-detail', kwargs={'pk': ticket_id}),
      },
      {
        "text": step_title,
        "href": url('workflow:task-ui-detail', kwargs={'pk': step_id}),
      },
      {"text": page_title}
    ],
    with_workbasket=False,
  ) }}
{% endblock %}


{% block form %}
  <p class="govuk-body">
    This will create a new workbasket and associate with the ticket
    {{ ticket_prefixed_id }}.
  </p>

  {% call django_form() %}
    {{ crispy(form) }}
  {% endcall %}
{% endblock %}
