{% from "includes/measures/macros/measurement.jinja" import measurement %}

{%- macro duty_amount(obj) %}
    {{ obj.duty_amount }}
    {%- if obj.monetary_unit %}
        <abbr title="{{ obj.monetary_unit.description }}">{{ obj.monetary_unit.code }}</abbr>
    {%- elif obj.condition_measurement %}
        {{ measurement(obj.condition_measurement) }}
    {%- else -%}
        %
    {%- endif -%}
{%- endmacro %}
