{% from "components/table/macro.njk" import govukTable %}
{% from 'macros/create_link.jinja' import create_link %}

<div class="quota__core-data govuk-grid-row">
    <div class="quota__core-data__content govuk-grid-column-three-quarters">
        {% for key, value in reference_document_version_quotas.items() %}
            {% if value["quota_order_number"] != None %}
                <h2 class="govuk-heading-m" id="subsection-title">Order Number
                    <a class="govuk-link" href="{{ url("quota-ui-detail", args=[value["quota_order_number"].sid] ) }}">
                        {{ value["quota_order_number"] }}
                    </a>
                </h2>
                <div class="govuk-body">
                    validity: from {{ value["quota_order_number"].valid_between.lower }}
                    {% if value["quota_order_number"].valid_between.upper == None %}
                        no end date defined
                    {% else %}
                        to {{ value["quota_order_number"].valid_between.upper }}
                    {% endif %}
                </div>
            {% else %}
                <h2 class="govuk-heading-m" id="subsection-title">Order Number {{ value["quota_order_number_text"] }}</h2>
            {% endif %}
            <div class="govuk-body govuk-!-margin-bottom-2">
                Valid between: {{ value['ref_doc_order_number'].valid_between }}
                {% if value['ref_doc_order_number'].main_order_number %}
                    Sub Quota to {{ value['ref_doc_order_number'].main_order_number.quota_order_number }}
                {% endif %}
            </div>
            <div class="govuk-body govuk-!-margin-bottom-2">
                <a href="{{ url('reference_documents:preferential_quota_order_number_edit', args=[value['ref_doc_order_number'].id]) }}">Edit</a>
                <a href="{{ url('reference_documents:preferential_quota_order_number_delete', args=[value['ref_doc_order_number'].id]) }}">Delete</a>
            </div>
            {% if value['data_rows'] != [] %}
                {{ govukTable({
                "head": reference_document_version_quotas_headers,
                "rows": value['data_rows']
                }) }}
            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    No Quota definitions defined
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="govuk-grid-column-one-quarter">
        <div class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">Actions</h2>
            <ul class="govuk-list govuk-!-font-size-16">
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quota_order_number_create', args=[object.pk]) }}">Add New Order Number</a></li>
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quotas_create', args=[object.pk]) }}">Add New Quota</a></li>
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quotas_bulk_create', args=[object.pk]) }}">Bulk add quotas</a></li>
            </ul>

        </div>
    </div>
</div>
