{% from "components/table/macro.njk" import govukTable %}
{% from 'macros/create_link.jinja' import create_link %}

<div class="quota__core-data govuk-grid-row">
    <div class="quota__core-data__content govuk-grid-column-three-quarters">
        {% for key, value in reference_document_version_quotas.items() %}
            {% if value["quota_order_number"] != None %}
                <h2 class="govuk-heading-m" id="subsection-title">Order number
                    <a class="govuk-link" href="{{ url("quota-ui-detail", args=[value["quota_order_number"].sid] ) }}">
                        {{ value["quota_order_number"] }}
                    </a>
                </h2>
                <div class="govuk-body">
                    validity: from {{ value["quota_order_number"].valid_between.lower }}
                    {% if value["quota_order_number"].valid_between.upper == None %}
                        no end date defined
                    {% else %}
                        to {{ value["quota_order_number"].valid_between.upper }}
                    {% endif %}
                </div>
            {% else %}
                <h2 class="govuk-heading-m" id="subsection-title">Order number {{ value["quota_order_number_text"] }}</h2>
            {% endif %}
            <div class="govuk-body govuk-!-margin-bottom-2">
                Valid between: {{ value['ref_doc_order_number'].valid_between }}
                {% if value['ref_doc_order_number'].main_order_number %}
                    Sub quota to {{ value['ref_doc_order_number'].main_order_number.quota_order_number }}
                {% endif %}
            </div>
            <div class="govuk-body govuk-!-margin-bottom-2">
            {% if object.editable() %}
                <a class="order_number_link" href="{{ url('reference_documents:preferential_quota_order_number_edit', args=[value['ref_doc_order_number'].id]) }}">Edit</a>
                <a class="order_number_link" href="{{ url('reference_documents:preferential_quota_order_number_delete', args=[value['ref_doc_order_number'].id, value['ref_doc_order_number'].reference_document_version.id]) }}">Delete</a>
                <a class="order_number_link" href="{{ url('reference_documents:preferential_quotas_create_for_order', args=[object.pk, value['ref_doc_order_number'].pk]) }}">Add quota to order number</a>
                <a class="order_number_link" href="{{ url('reference_documents:preferential_quotas_bulk_create_for_order', kwargs={"pk": object.pk, "order_pk": value['ref_doc_order_number'].pk}) }}">Bulk add quotas</a>
            {% endif %}
            </div>
            {% if value['data_rows'] != [] %}
                {{ govukTable({
                "head": reference_document_version_quotas_headers,
                "rows": value['data_rows']
                }) }}
            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    No quota definitions defined
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="govuk-grid-column-one-quarter">
        <div class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">Actions</h2>
            <ul class="govuk-list govuk-!-font-size-16">
                {% if object.editable() %}
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quota_order_number_create', args=[object.pk]) }}">Add new order number</a></li>
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quotas_create', args=[object.pk]) }}">Add new quota</a></li>
                <li><a class="govuk-link" href="{{ url('reference_documents:preferential_quotas_bulk_create', args=[object.pk]) }}">Bulk add quotas</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
