{% from "components/table/macro.njk" import govukTable %}
{% from 'macros/create_link.jinja' import create_link %}

<div class="quota__core-data govuk-grid-row">
    <div class="quota__core-data__content govuk-grid-column-three-quarters">
        {% for on_ctx in order_numbers %}
            {% if on_ctx.tap_order_number != None %}
                <h2 class="govuk-heading-m" id="subsection-title">Order number
                    <a class="govuk-link" href="{{ url("quota-ui-detail", args=[on_ctx.tap_order_number.sid] ) }}">
                        {{ on_ctx.order_number.order_number }}
                    </a>
                </h2>
                <div class="govuk-body">
                    validity: from {{ on_ctx.order_number.valid_between.lower }}
                    {% if on_ctx.order_number.valid_between.upper == None %}
                        no end date defined
                    {% else %}
                        to {{ on_ctx.order_number.valid_between.upper }}
                    {% endif %}
                </div>
            {% else %}
                <h2 class="govuk-heading-m" id="subsection-title">Order number {{ on_ctx.order_number.order_number }}</h2>
                <div class="govuk-body govuk-!-margin-bottom-2">
                    {% if on_ctx.order_number.main_order_number %}
                        Sub quota to {{ on_ctx.order_number.main_order_number.order_number }}
                    {% endif %}
                </div>
                <div class="govuk-body">
                    validity: from {{ on_ctx.order_number.valid_between.lower }}
                    {% if on_ctx.order_number.valid_between.upper == None %}
                        no end date defined
                    {% else %}
                        to {{ on_ctx.order_number.valid_between.upper }}
                    {% endif %}
                </div>
            {% endif %}

            <div class="govuk-body govuk-!-margin-bottom-2">
                {% if object.editable() %}
                    {% if request.user.has_perm("change_refordernumber") %}
                        <a class="order_number_link" href="{{ url('reference_documents:order-number-edit', args=[on_ctx.order_number.id]) }}">Edit</a>
                    {% endif %}

                    {% if request.user.has_perm("delete_refordernumber") %}
                        <a class="order_number_link"
                           href="{{ url('reference_documents:order-number-delete', args=[on_ctx.order_number.id, on_ctx.order_number.reference_document_version.id]) }}">Delete</a>
                    {% endif %}

                    {% if request.user.has_perm("add_refquotadefinitionrange") %}
                        <a class="order_number_link" href="{{ url('reference_documents:quota-definition-range-create', args=[object.pk]) }}">Add new quota template</a>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotadefinition") %}
                        <a class="order_number_link" href="{{ url('reference_documents:quota-definition-create-for-order', args=[object.pk, on_ctx.order_number.pk]) }}">Add quota to order number</a>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotadefinition") %}
                        <a class="order_number_link" href="{{ url('reference_documents:quota-definition-bulk-create-for-order', kwargs={"pk": object.pk, "order_pk": on_ctx.order_number.pk}) }}">Bulk add
                            quotas</a>
                    {% endif %}

                {% endif %}
            </div>
            {% if on_ctx.quota_defs != [] %}
                <h3 class="govuk-heading-m" id="subsection-title">Quota definitions</h3>
                {{ govukTable({
                "head": reference_document_version_quotas_headers,
                "rows": on_ctx.quota_def_data_rows()
                }) }}
            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    <i>No quota definitions defined</i>
                </div>
            {% endif %}

            {% if on_ctx.quota_suspension_defs != [] %}
                <h3 class="govuk-heading-m" id="subsection-title">Quota suspensions</h3>
                {{ govukTable({
                "head": reference_document_version_suspension_headers,
                "rows": on_ctx.quota_suspensions_data_rows()
                }) }}
            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    <i>No quota suspensions defined</i>
                </div>
            {% endif %}

            {% if on_ctx.quota_def_templates|length %}
                <h3 class="govuk-heading-m" id="subsection-title">Quota definition ranges</h3>
                {% for qdt in on_ctx.quota_def_templates %}

                    <div class="govuk-body govuk-!-margin-bottom-2">
                        Duty Rate: {{ qdt.quota_definition_range.duty_rate }}<br>
                        First years volume : {{ qdt.quota_definition_range.initial_volume }} <br>
                        Incremental yearly change there after : {{ qdt.quota_definition_range.yearly_volume_increment }} <br>
                        Incremental yearly change text : {{ qdt.quota_definition_range.yearly_volume_increment_text }} <br>
                        Yearly period :
                        from {{ qdt.quota_definition_range.start_day }}-{{ qdt.quota_definition_range.start_month }}-20XX to
                        {{ qdt.quota_definition_range.end_day }}-{{ qdt.quota_definition_range.end_month }}-20XX<br>
                        Yearly range : from {{ qdt.quota_definition_range.start_year }}
                        {% if qdt.quota_definition_range.end_year %}
                            to {{ qdt.quota_definition_range.end_year }} <br>
                        {% else %}
                            onwards (no end year)<br>
                        {% endif %}

                    </div>
                    <div class="govuk-body govuk-!-margin-bottom-2">
                        <i>Note: For templated quota definitions that extend longer than three years in the future only the next three years will be displayed.</i>
                    </div>
                    <div class="govuk-body govuk-!-margin-bottom-2">
                        {% if object.editable() %}
                            {% if request.user.has_perm("reference_documents.change_refquotadefinitionrange") %}
                                <a class="order_number_link" href="{{ url('reference_documents:quota-definition-range-edit', args=[qdt.quota_definition_range.id]) }}">Edit</a>
                            {% endif %}

                            {% if request.user.has_perm("reference_documents.delete_preferentialquotatemplate") %}
                                <a class="order_number_link"
                                   href="{{ url('reference_documents:quota-definition-range-delete', args=[qdt.quota_definition_range.id, on_ctx.order_number.reference_document_version.id]) }}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {{ govukTable({
                        "head": reference_document_version_quotas_headers,
                        "rows": qdt.quota_def_template_data_rows()
                    }) }}
                {% endfor %}
            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    <i>No quota definition ranges defined</i>
                </div>
            {% endif %}

            {% if on_ctx.quota_suspension_templates|length %}
                <h3 class="govuk-heading-m" id="subsection-title">Quota suspension ranges</h3>
                {% for qst in on_ctx.quota_suspension_templates %}
                    <div class="govuk-body govuk-!-margin-bottom-2">
                        Yearly period :
                        from {{ qst.quota_suspension_template.start_day }}-{{ qst.quota_suspension_template.start_month }}-20XX to
                        {{ qst.quota_suspension_template.end_day }}-{{ qst.quota_suspension_template.end_month }}-20XX<br>
                        Yearly range : from {{ qst.quota_suspension_template.start_year }}
                        {% if qst.quota_suspension_template.end_year %}
                            to {{ qst.quota_suspension_template.end_year }} <br>
                        {% else %}
                            onwards (no end year)<br>
                        {% endif %}

                    </div>
                    <div class="govuk-body govuk-!-margin-bottom-2">
                        <i>Note: For templated quota suspensions that extend longer than three years in the future only the next three years will be displayed.</i>
                    </div>
                    <div class="govuk-body govuk-!-margin-bottom-2">
                        {% if object.editable() %}
                            {% if request.user.has_perm("reference_documents.change_refquotadefinitionrange") %}
                                <a class="order_number_link" href="{{ url('reference_documents:quota-suspension-range-edit', args=[qst.quota_suspension_template.id]) }}">Edit</a>
                            {% endif %}

                            {% if request.user.has_perm("reference_documents.delete_preferentialquotatemplate") %}
                                <a class="order_number_link"
                                   href="{{ url('reference_documents:quota-suspension-range-delete', args=[qst.quota_suspension_template.id, on_ctx.order_number.reference_document_version.id]) }}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {{ govukTable({
                        "head": reference_document_version_quotas_headers,
                        "rows": qst.quota_suspensions_template_data_rows()
                    }) }}


                {% endfor %}

            {% else %}
                <div class="govuk-body govuk-!-margin-bottom-2">
                    <i>No templated quota suspensions defined</i>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="govuk-grid-column-one-quarter">
        <div class="app-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">Actions</h2>
            <ul class="govuk-list govuk-!-font-size-16">
                {% if object.editable() %}
                    {% if request.user.has_perm("reference_documents.add_refordernumber") %}
                        <li><a class="govuk-link" href="{{ url('reference_documents:order-number-create', args=[object.pk]) }}">Add new order number</a></li>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotadefinitionrange") %}
                        <li><a class="govuk-link" href="{{ url('reference_documents:quota-definition-range-create', args=[object.pk]) }}">Add new quota template</a></li>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotasuspension") %}
                        <li><a class="govuk-link" href="{{ url('reference_documents:quota-suspension-create', args=[object.pk]) }}">Add new quota suspension</a></li>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotasuspensionrange") %}
                        <li><a class="govuk-link" href="{{ url('reference_documents:quota-suspension-range-create', args=[object.pk]) }}">Add new quota suspension template</a></li>
                    {% endif %}

                    {% if request.user.has_perm("reference_documents.add_refquotadefinition") %}
                        <li><a class="govuk-link" href="{{ url('reference_documents:quota-definition-create', args=[object.pk]) }}">Add new quota</a></li>
                        <li><a class="govuk-link" href="{{ url('reference_documents:quota-definition-bulk-create', args=[object.pk]) }}">Bulk add quotas</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
