
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Breaking down a duty sentence</h3>
    <p class="govuk-body">A duty sentence can be constructed in several chunks that correspond to measure components in TAP. Together they make up the duty sentence for a measure. For example, the full duty applicable to the import of white chocolate (<a class="govuk-link" href="{{ url('measure-ui-detail', kwargs={'sid': 2051552 }) }}">Measure 2051552</a>) is as follows: </p>
    <p class="govuk-body">9.10% + 45.10 GBP / 100 KG MAX 18.90% + 16.50 GBP / 100 KG</p>
    <p class="govuk-body">This duty sentence consists of 4 measure components:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>9.10%</li>
      <li>+ 45.10 GBP / 100 KG</li>
      <li>MAX 18.90%</li>
      <li>+ 16.50 GBP / 100 KG</li>
    </ul>
    <p class="govuk-body">Each measure component can be valid by itself but they can be combined to create more complex duties. When TAP parses a duty sentence it looks for certain patterns in a particular order.</p>
    <h3 class="govuk-heading-s">9.10%</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>empty duty expression prefix for <a href="#duty-expressions" class="govuk-link">% or amount</a></li>
      <li><code>9.10</code> is the duty amount</li>
      <li>if there is no monetary or measurement unit the duty amount is a percentage</li>
    </ul>
    <h3 class="govuk-heading-s">+ 45.10 GBP / 100 KG</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><code>+</code> duty expression prefix for <a href="#duty-expressions" class="govuk-link">+ % or amount</a></li>
      <li><code>45.10</code> is the duty amount</li>
      <li><code>GBP</code> is the monetary unit code for <a class="govuk-link" href="#monetary-units">pound sterling</a></li>
      <li><code>100 KG</code> is the measurement unit abbreviation (not code!) for <a class="govuk-link" href="#measurement-units">hectokilogram</a></li>
    </ul>
    <h3 class="govuk-heading-s">MAX 18.90%</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><code>MAX</code> duty expression prefix for <a href="#duty-expressions" class="govuk-link">maximum</a></li>
      <li><code>18.90</code> is the duty amount</li>
      <li>no monetary or measurement unit so the duty amount is a percentage</li>
    </ul>
    <h3 class="govuk-heading-s">+ 16.50 GBP / 100 KG</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><code>+</code> duty expression prefix for <a href="#duty-expressions" class="govuk-link">+ % or amount</a></li>
      <li><code>16.50</code> is the duty amount</li>
      <li><code>GBP</code> is the monetary unit code for <a class="govuk-link" href="#monetary-units">pound sterling</a></li>
      <li><code>100 KG</code> is the measurement unit abbreviation for <a class="govuk-link" href="#measurement-units">hectokilogram</a></li>
    </ul>
    <h3 class="govuk-heading-m">Code or abbreviation</h3>
    <p class="govuk-body">In duty sentences the abbreviation is used for measurement units and measurement unit qualifiers. Codes are only used in measure conditions.</p>
    <p class="govuk-body">You can use the lists of duty expressions and units in the other tabs to look up the correct code or abbreviation you need for a duty sentence. Bear in mind that these records also have validity periods so depending on the measure the duty sentence applies to, they may or may not be valid depending on that measure's validity.</p>
  </div>
</div>