<div id="div_id_{{ field.html_name }}" class="govuk-form-group {% if field.errors %} govuk-form-group--error{% endif %}">
    {% set selected_action = field.initial | int %}
    <label for="id_{{ field.html_name }}" class="govuk-label">
        Action code
    </label>
    <div id="action-code-hint" class="govuk-hint">Select the action code from the dropdown list</div>
    {% if field.errors %}
        {% for error in field.errors %} 
        <p id="id_{{ field.html_name }}-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>  
                {{error}} <br>
        </p>
        {% endfor %}
    {% endif %}
    <select name="{{ field.html_name }}" class="govuk-select" id="id_{{ field.html_name }}"> 
        <option value="">-- Please select an action code --</option>
        {% for action in form.fields.action.queryset %}
            <option 
                value={{ action.id }}
                data-duty={{ action.requires_duty }}
                {% if action.id == selected_action %}selected{% endif %}
            >
                {{ action }}
            </option>
        {% endfor %}
    </select> 
</div>
