repos:
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.3.0
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/myint/autoflake.git
    rev: v1.7.7
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [--force-single-line-imports]
  - repo: https://github.com/myint/docformatter.git
    rev: v1.5.0
    hooks:
      - id: docformatter
        args:
          [
            "--in-place",
            "--wrap-summaries=80",
            "--wrap-descriptions=80",
            "--pre-summary-newline",
          ]
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/ikamensh/flynt/
    rev: '0.76'
    hooks:
      - id: flynt
  - repo: https://github.com/uktrade/pii-secret-check-hooks
    rev: 0.0.0.34
    hooks:
    -   id: pii_secret_filename
        files: ''
        language: python
        language_version: python3.9
        pass_filenames: true
        require_serial: true
    -   id: pii_secret_file_content
        files: ''
        language: python
        language_version: python3.9
        pass_filenames: true
        require_serial: true
    -   id: pii_secret_file_content_ner
        files: ''
        language: python
        language_version: python3.9
        args: [--ner_output_file=ner_output_file.txt] # uncomment to output NER entities
        pass_filenames: true
        require_serial: true
    -   id: hooks_version_check
        name: Checking local hooks against latest release
        verbose: true
        require_serial: true