allure-pytest-bdd
black
dj-database-url
django
django-dotenv
django-extra-fields
django-filter
django-fsm
django-health-check
django-polymorphic
django-treebeard
django-webpack-loader
django_extensions
djangorestframework
factory-boy
git+https://github.com/alphagov/govuk-frontend-jinja.git
gunicorn
jinja2
psycopg2-binary
pytest
pytest-bdd
pytest-cov
pytest-django
pytest-mock
sentry-sdk
werkzeug
whitenoise
