aiohttp
apsw==3.43.0.0
aioresponses
allure-pytest-bdd
api-client
better-exceptions
beautifulsoup4
black
boto3
celery[redis]
coverage[toml]
crispy-forms-gds @ git+https://github.com/uktrade/crispy-forms-gds.git
defusedxml
dj-database-url
django
django-chunk-upload-handlers
django-crispy-forms
django-dotenv
drf-extra-fields
django-cte
django-csp
django-extensions
django-fakeredis
django-filter
django-formtools
django-fsm
django-health-check
django-polymorphic
django-redis
django-rest-polymorphic
django-sequences
django-staff-sso-client
django-storages
django-test-migrations
django-webpack-loader
djangorestframework
drf-flex-fields
elastic-apm
factory-boy
flower
freezegun
gevent
govuk-frontend-jinja @ git+https://github.com/alphagov/govuk-frontend-jinja.git@15845e4cca3a05df72c6e13ec6a7e35acc682f52
govuk-tech-docs-sphinx-theme
gunicorn
lxml
markupsafe
moto
notifications-python-client
openpyxl
parsec
psycopg2-binary
py_w3c
pygments
pytest
pytest-asyncio
pytest-bdd
pytest-celery
pytest-cov
pytest-django
pytest-forked
pytest-responses
pytest-xdist
python-magic
requests-oauthlib
requests-mock
responses
sentry-sdk
Sphinx
sphinx-gherkindoc
sqlite-s3vfs
tabulate
urllib3
wrapt
Werkzeug
whitenoise
xmldiff
