black
django
django-dotenv
django-health-check
django-treebeard
django-webpack-loader
django_extensions
git+https://github.com/alphagov/govuk-frontend-jinja.git
gunicorn
jinja2
psycopg2-binary
sentry-sdk
