allure-pytest-bdd
black>=20.8b1
dj-database-url
django>=3.0,<3.1
django-dotenv
django-extra-fields
django-filter
django-fsm
django-health-check
django-polymorphic
django-rest-polymorphic
django-treebeard
django-webpack-loader
django_extensions
djangorestframework
factory-boy
freezegun
git+https://github.com/alphagov/govuk-frontend-jinja.git
gunicorn
jinja2
lxml
parsec
psycopg2-binary
pytest
pytest-bdd
pytest-cov
pytest-django
sentry-sdk
sphinx
werkzeug
whitenoise
xlrd
