{% extends "layouts/layout.jinja" %}

{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/table/macro.njk" import govukTable %}
{% from "macros/fake_tabs.jinja" import fake_tabs %}

{% set page_title = "Commodity: " ~ commodity.item_id %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Find commodity codes", "href": url("commodity-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% set links = [
    {
      "text": "Details",
      "href": url('commodity-ui-detail', args=[commodity.sid]),
      "selected": selected_tab == "details"
    },
    {
      "text": "Descriptions",
      "id": "descriptions",
      "href": url('commodity-ui-detail-descriptions', args=[commodity.sid]),
      "selected": selected_tab == "descriptions"
    },
    {
      "text": "Indent history",
      "id": "indent-history",
      "href": url('commodity-ui-detail-indent-history', args=[commodity.sid]),
      "selected": selected_tab == "indent-history"
    },
    {
      "text": "Measures",
      "href": url('commodity-ui-detail-measures-as-defined', args=[commodity.sid]),
      "selected": selected_tab == "measures",
    },
    {
      "text": "Commodity hierarchy",
      "href": url('commodity-ui-detail-hierarchy', args=[commodity.sid]),
      "selected": selected_tab == "hierarchy",
    },
    {
      "text": "Footnotes",
      "href": url('commodity-ui-detail-footnotes', args=[commodity.sid]),
      "selected": selected_tab == "footnotes"
    },
    {
      "text": "Version control",
      "href": url('commodity-ui-detail-version', args=[commodity.sid]),
      "selected": selected_tab == "version"
    },
  ]
%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
    </div>
  </div>
  {{ fake_tabs(links) }}
  {% block extra_tabs %}{% endblock %}
  <div class="govuk-tabs__panel {% block content_class %}{% endblock %}">
    {% block tab_content %}
      {% include "includes/commodities/tabs/core_data.jinja" %}
    {% endblock %}
  </div>
{% endblock %}
