{% extends "layouts/form.jinja" %}
{% from "components/step-by-step-nav/macro.jinja" import step_by_step_nav %}

{% set page_title = "Import TARIC file" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <h1 class="govuk-heading-xl">Import TARIC file</h1>
      {{ crispy(form, context={"csrf_token": csrf_token, "request": request}) }}
    </div>
  </div>
{% endblock %}
