{% extends "layouts/layout.jinja" %}
{% from "components/step-by-step-nav/macro.jinja" import step_by_step_nav %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}

{% set page_title = "Import commodities" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "EU Taric Import List", "href": url("commodity_importer-ui-list")},
      {"text": "Import commodities", "href": url("commodity_importer-ui-create")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if saved_batch_status == "IMPORTED" %}
      {{ govukPanel({
        "titleText": "TARIC ID " ~ saved_file_name ~ " has been uploaded",
        "text": "Workbasket " ~ saved_file_workbasket_id ~ " created",
        "classes": "govuk-!-margin-bottom-7"
      }) }}

    {% elif saved_batch_status == "UPLOADING" %}

      {{ govukPanel({
        "titleText": "TARIC ID " ~ saved_file_name ~ " is uploading.",
        "text": "This might take a while.",
        "classes": "govuk-!-margin-bottom-7"
      }) }}

    {% endif%}
      <a class="govuk-link" href="{{ url('geo_area-ui-list') }}">
            Back to EU TARIC import list
          </a>
    </div>


  </div>
{% endblock %}
