{% extends "commodities/detail.jinja" %}
{% from "components/sort_by.jinja" import sort_by %}

{% block tab_content %}

<h2 class="govuk-heading-l">Measures on declarable commodities</h2>

{% set table_rows = [] %}

{% for object in object_list %}

  {% set object_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('measure-ui-detail', kwargs={'sid': object.sid}) }}">{{ object.sid }}</a>
  {%- endset %}

  {% set comm_code_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('commodity-ui-detail', kwargs={'sid': object.goods_nomenclature.sid}) }}" title="{{ object.goods_nomenclature.get_description().description }}">{{ object.goods_nomenclature.code }}</a>
  {%- endset %}

  {% set geo_area_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('geo_area-ui-detail', kwargs={'sid': object.geographical_area.sid}) }}">{{ object.geographical_area}} - {{ object.geographical_area.structure_description }}</a>
  {%- endset %}

  {{ table_rows.append([
    {"text": object_link },
    {"text": comm_code_link },
    {"text": object.measure_type },
    {"text": geo_area_link },
    {"text": "{:%d %b %Y}".format(object.valid_between.lower) },
    {"text": "{:%d %b %Y}".format(object.effective_end_date) if object.effective_end_date else "-"},
  ]) or "" }}
{% endfor %}

{% set base_url = url('commodity-ui-detail-measures-declarable', args=[commodity.sid]) %}

{% set comm_code %}
  {{ sort_by(request, "commodity", "Commodity code", base_url) }}
{% endset %}

{% set measure_type %}
  {{ sort_by(request, "measure_type", "Measure type", base_url) }}
{% endset %}

{% set geo_area %}
  {{ sort_by(request, "geo_area", "Geographical area", base_url) }}
{% endset %}

{% set start_date %}
  {{ sort_by(request, "start_date", "Start date", base_url) }}
{% endset %}

{% if paginator.count > 0 %}
  {% include "includes/common/pagination-list-summary.jinja" %}
{% endif %}
{% if object_list %}
  {{ govukTable({
    "head": [
      {"text": "Measure SID" },
      {"text": comm_code },
      {"text": measure_type},
      {"text": geo_area},
      {"text": start_date},
      {"text": "End date"},
    ],
    "rows": table_rows
  }) }}
{% else %}
  <p class="govuk-body">There are no measures for this commodity code.</p>
{% endif %}
{% include "includes/common/pagination.jinja" %}

{% endblock %}