{% extends "quota-definitions/sub-quota-duplicate-definitions-step.jinja"%}

{% set page_subtitle = "Quota order number "~view.quota_order_number %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block page_title_heading %}
            {{ page_title }}
        {% endblock %}
        <span class="govuk-caption-xl">
        {% block page_subtitle %}
            {{ page_subtitle }}
        {% endblock %}
        </span>
    </h1>
    <p class="govuk-body">
      Changes can be made to individual definition periods on the review page before submission
    </p>
    <br />

    {% call django_form(action=view.get_step_url(wizard.steps.current)) %}
        {{ wizard.management_form }}
        {% block form %}{{ crispy(form) }}{% endblock %}
    {% endcall %}

{% endblock %}