{% extends "quota-definitions/sub-quota-duplicate-definitions-step.jinja"%}
{#

Collects info on:
number of periods being created
date split of the definition periods (yearly, quarterly, set dates etc.)

#}