{% extends "layouts/form.jinja" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/details/macro.njk" import govukDetails %}

{% block content %}
    <h2 class="govuk-heading">Main quota association details</h2>
    {% set main_definition = view.main_definition %}
    {% set table_rows = [] %}
    {{ table_rows.append([
        {"html": main_definition.sid },
        {"html": "{:%d %b %Y}".format(main_definition.valid_between.lower) },
        {"html": "{:%d %b %Y}".format(main_definition.valid_between.upper) },
        {"html": intcomma(main_definition.volume) },
        {"html": main_definition.measurement_unit.abbreviation},
    ]) or ""}}
    {{ govukTable({
        "head": [
            {"text": "SID"},
            {"text": "Start date"},
            {"text": "End date"},
            {"text": "Volume"},
            {"text": "Unit"},
        ],
        "rows": table_rows
    })
    }}
    {% call django_form() %}
    {{ crispy(form) }}
    {% endcall %}
{% endblock %}
{# <form method="post">
    {# <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> #}
    {{ crispy(form, no_form_tags) }}
</form> #}

{# {% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call django_form(action=object.get_url("edit")) %}
        {{ crispy(form) }}
      {% endcall %}
    </div>
  </div>
{% endblock %} #}
