{% extends "layouts/form.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "Update sub quota definition and association" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit quotas", "href": url("quota-ui-list")},
      {"text": "Quota " ~ view.association.main_quota.order_number, "href": view.association.main_quota.order_number.get_url()},
      {"text": "Quota " ~ view.association.main_quota.order_number ~ " - Data", "href": url("quota_definition-ui-list", kwargs={"sid":view.association.main_quota.order_number.sid})},
      {"text": page_title},
    ])
  }}
{% endblock %}

{% block content %}
    <h2 class="govuk-heading">Main quota definition details</h2>
    {% set main_definition = view.get_main_definition() %}
    {% set table_rows = [] %}
    {{ table_rows.append([
        {"html": main_definition.sid },
        {"html": "{:%d %b %Y}".format(main_definition.valid_between.lower) },
        {"html": "{:%d %b %Y}".format(main_definition.valid_between.upper) },
        {"html": intcomma(main_definition.volume) },
        {"html": main_definition.measurement_unit.abbreviation},
    ]) or ""}}
    {{ govukTable({
        "head": [
            {"text": "SID"},
            {"text": "Start date"},
            {"text": "End date"},
            {"text": "Volume"},
            {"text": "Unit"},
        ],
        "rows": table_rows
    })
    }}
    {% call django_form() %}
    {{ crispy(form) }}
    {% endcall %}
{% endblock %}
