{% set page_title = "Select definition periods to duplicate (sub-quota-definitions.jinja)" %}
{% from "components/summary-list/macro.njk" import govukSummaryList%}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/create_sortable_anchor.jinja" import create_sortable_anchor %}


<div class="govuk-form-group">
  <div class="govuk-!-width-three-qurters">
    {% include "quotas/sub-quota-definitions-select-definition-period.jinja" %}
  </div>
  <div id="sub_quota_definitions">
  </div>
</div>

<script nonce="{{ request.csp_nonce }}">
  const parentOrderNumber = {{object_sid}};
</script>