{% extends "layouts/layout.jinja" %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}
{% set page_title = "Definitions created" %}

{% macro panel_title(main_quota, sub_quota) %}
  Definition periods for quota ID {{sub_quota }} have been created and associated with related definition periods from quota ID {{main_quota}}
{% endmacro %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        "titleText": panel_title(main_quota, sub_quota),
        "classes": "govuk-!-margin-bottom-7"
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          "text": "Create new associations",
          "href": url("sub_quota_definitions-ui-create"),
          "classes": "govuk-button--primary"
        }) }}
        {{ govukButton({
          "text": "View association",
          "href": definition_view_url,
          "classes": "govuk-button--secondary"
        }) }}
      </div>
        <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("workbaskets:current-workbasket") }}">Go to workbasket summary</a>
      
      <h2>Next steps</h2>
      
      <div class="govuk-button-group">
        {{ govukButton({
          "text": "Create measures",
          "href": url('measure-ui-create', kwargs={"step": "start"}),
          "classes": "govuk-button--primary"
        }) }}
        {{ govukButton({
          "text": "Homepage",
          "href": url("home"),
          "classes": "govuk-button--secondary"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}