{% extends "quota-definitions/sub-quota-duplicate-definitions-step.jinja"%}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/inset-text/macro.njk" import govukInsetText %}

{% block form %}
    {% set table_rows = [] %}
    {% set data = view.get_staged_definition_data() %}
    
    {% for definition in data %}
      {% set edit_link -%}
        <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("sub_quota_definitions-ui-updates", kwargs={"pk": definition.main_definition}) }}">Edit</a>
      {%- endset %}
      {% set definition_status_cell %}
        <span class="{{view.status_tag_generator(definition.sub_definition_staged_data).tag_class}}">
          {{ view.status_tag_generator(definition.sub_definition_staged_data).text | upper}}
        </span>
      {% endset %}
      {% set main_definition = view.get_main_definition(definition.main_definition)%}

      {{ table_rows.append([
        {"text": main_definition.sid, "classes": "definition-original" },
        {"text": "{:%d %b %Y}".format(main_definition.valid_between.lower), "classes": "definition-original" },
        {"text": "{:%d %b %Y}".format(main_definition.valid_between.upper) if main_definition.valid_between.upper else "-", "classes": "definition-original" },
        {"text": intcomma(main_definition.volume), "classes": "definition-original" },
        {"text": main_definition.measurement_unit.abbreviation, "classes": "definition-original" },
        {"text": "-", "classes": "definition-original" },
        {"text": "-", "classes": "definition-original" },
        {"text": "-", "classes": "definition-original" },
        {"text": "-", "classes": "definition-original" },
      ]) or "" }}
      {% set formatted_start_date = view.format_date(definition.sub_definition_staged_data.start_date) %}
      {% set formatted_end_date = view.format_date(definition.sub_definition_staged_data.end_date) %}
      {{ table_rows.append([
        {"text": "-", "classes": "definition-duplicate"},
        {"text": formatted_start_date, "classes": "definition-duplicate" },
        {"text": formatted_end_date, "classes": "definition-duplicate" },
        {"text": intcomma(definition.sub_definition_staged_data.volume), "classes": "definition-duplicate" },
        {"text": definition.sub_definition_staged_data.measurement_unit_abbreviation or main_definition.measurement_unit.abbreviation, "classes": "definition-duplicate"},
        {"text": definition.sub_definition_staged_data.relationship_type or "-", "classes": "definition-duplicate" },
        {"text": definition.sub_definition_staged_data.coefficient or "-", "classes": "definition-duplicate"   },
        {"text": definition_status_cell, "classes": "definition-duplicate" },
        {"text": edit_link, "classes": "definition-duplicate" },
      ]) or "" }}
      
    {% endfor %}
    {{ govukInsetText({'text': "You must enter a co-efficient value and specify the relationship type for each duplicated definition period."})}}
    {{ govukTable({
      "head": [
        {"text": "SID"},
        {"text": "Start date"},
        {"text": "End date"},
        {"text": "Volume"},
        {"text": "Unit"},
        {"text": "Relationship type"},
        {"text": "Coefficient value"},
        {"text": "Status"},
        {"text": "Action"},
      ],
      "rows": table_rows,
    }) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p>Selecting 'Submit' will create the new definitions and quota associations. </p>
    <p>Further edits to the definition periods can be made on the quota order number page through an additional workbasket transaction.</p>
      </div>
    </div>
  <div class="govuk-button-group">
  {{ govukButton({
    "text": "Submit",
  }) }}
  {{ govukButton({
    "text": "Start again",
    "classes": "govuk-button--secondary",
    "href": url('sub_quota_definitions-ui-create', args={'step': 'start'}),
  }) }}
  </div>
{% endblock %}