{% extends "quota-definitions/sub-quota-duplicate-definitions-step.jinja"%}
{% from "components/create-status-tag.jinja" import create_status_tag %}
{% from "components/table/macro.njk" import govukTable %}

{# TODO: format sub-quota dates. #}
{% block form %}
    {% set table_rows = [] %}
    {% set data = view.duplicated_definitions %}
    {% for definition in data %}
      {% set edit_link -%}
        <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("sub_quota_definitions-ui-updates", kwargs={"sid": definition.parent_definition.trackedmodel_ptr_id}) }}">Edit</a>
      {%- endset %}
      {% set definition_status_cell %}
        <span class="{{view.status_tag_generator(definition.definition_data).tag_class}}">
          {{ view.status_tag_generator(definition.definition_data).text | upper}}
        </span>
      {% endset %}
      
      {{ table_rows.append([
        {"text": definition.parent_definition.sid},
        {"text": "{:%d %b %Y}".format(definition.parent_definition.valid_between.lower) },
        {"text": "{:%d %b %Y}".format(definition.parent_definition.valid_between.upper) },
        {"text": intcomma(definition.parent_definition.volume) },
        {"text": definition.parent_definition.measurement_unit.abbreviation },
        {"text": "-" },
        {"text": "-" },
        {"text": "-" },
        {"text": "-" },
      ]) or "" }}
      {{ table_rows.append([
        {"text": "-"},
        {"text": definition.definition_data.start_date },
        {"text": definition.definition_data.end_date },
        {"text": intcomma(definition.definition_data.volume) },
        {"text": definition.definition_data.measurement_unit_abbreviation or definition.parent_definition.measurement_unit.abbreviation},
        {"text": definition.definition_data.relationship_type or "-" },
        {"text": definition.definition_data.coefficient or "-"   },
        {"text": definition_status_cell },
        {"text": edit_link },
      ]) or "" }}
      
    {% endfor %}

    {{ govukTable({
      "head": [
        {"text": "Sid"},
        {"text": "Start date"},
        {"text": "End date"},
        {"text": "Volume"},
        {"text": "Unit"},
        {"text": "Relationship type"},
        {"text": "Coefficient value"},
        {"text": "Status"},
        {"text": "Action"},
      ],
      "rows": table_rows,
    }) }}
    <p>Selecting 'Submit' will create the new definitions and create a relationship in QuotaAssociations. Further edits to the definitions can be made via the Quota view</p>
    {{ govukButton({
    "text": "Submit",
  }) }}
{% endblock %}