{% extends "quota-definitions/sub-quota-duplicate-definitions-step.jinja"%}

{% set page_title = step_metadata[wizard.steps.current].title %}
{% block form %}
    <p class="govuk-body">
        Before you start, you'll need:
        <ul class="govuk-list govuk-list--bullet">
            <li>the main quota order number</li>
            <li>the sub-quota order number</li>
            <li>which definitions should be duplicated from main to sub-quota</li>
            <li>any updates to be made to the duplicated definitions</li>
        </ul>
        Additional updates can be made after duplication, via the edit definition page.

    </p>
    <div class="govuk-button-group">
    {{ govukButton({"text": "Start now", "isStartButton": True}) }}
    {{ govukButton({
      "text": "Back",
      "href": url("workbaskets:edit-workbasket"),
      "classes": "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}