{% set parent_sid %}
    <ul class="govuk-table-list">
        {% for origin in object.origins.all() %}
            <li>{{origin.sid}}</li>
        {% endfor %}
    </ul>
{% endset %}
{% set parent_code %}
    <ul class="govuk-table-list">
        {% for origin in object.origins.all() %}
            <a class="govuk-link govuk-!-font-weight-bold" href="{{ object.get_url() }}">{{ object.code }}</a>
        {% endfor %}
    </ul>
{% endset %}
{% set parent_suffix %}
    <ul class="govuk-table-list">
        {% for origin in object.origins.all() %}
            <li>{{origin.suffix}}</li>
        {% endfor %}
    </ul>
{% endset %}
{% set indent %}
    <ul class="govuk-table-list">
        {% for indent in object.indents.all() %}
            <li>{{indent.indent}}</li>
        {% endfor %}
    </ul>
{% endset %}
<div class="quota__core-data">
    <div class="quota__core-data__content">
        <h2 class="govuk-heading-l">Details</h2>
        {{ govukSummaryList({
            "rows": [
            {
                "key": {"text": "Commodity SID"},
                "value": {"text": object.sid},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Comodity Code"}, {# /PS-IGNORE #}
                "value": {"text": object.code},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Comodity suffix"},
                "value": {"text": object.suffix},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Indent number"},
                "value": {"text": object.indents.all()},
                "value": {"text": indent if object.origins.all() else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Comodity Description"}, {# /PS-IGNORE #}
                "value": {"text": object.get_description().description},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity validity start date"},
                "value": {"text":  "{:%d %b %Y}".format(object.valid_between.lower)},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity validity end date"},
                "value": {"text":  "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent commodity SID"},
                "value": {"text": parent_sid if object.origins.all() else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent comodity Code"},
                "value": {"text": parent_code if object.origins.all() else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent comodity suffix"},
                "value": {"text": parent_suffix if object.origins.all() else "-"},
                "actions": {"items": []}
            },
            ]
        })}}
    </div>
</div>
