{% set parent_code %}
    {% if parent %}
        <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("commodity-ui-detail", kwargs={"sid": parent.sid}) }}">{{ parent.code }}</a>
    {% endif %}
{% endset %}

<div class="quota__core-data">
    <div class="quota__core-data__content">
        <h2 class="govuk-heading-l">Details</h2>
        {{ govukSummaryList({
            "rows": [
            {
                "key": {"text": "Commodity SID"},
                "value": {"text": object.sid},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity code"},
                "value": {"text": object.code},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity suffix"},
                "value": {"text": object.suffix},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Indent number"},
                "value": {"text": object.indents.all().last().indent},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity description"},
                "value": {"text": object.get_description().description},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity validity start date"},
                "value": {"text":  "{:%d %b %Y}".format(object.valid_between.lower)},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Commodity validity end date"},
                "value": {"text":  "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent commodity SID"},
                "value": {"text": parent.sid if parent else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent commodity code"},
                "value": {"text": parent_code if parent else "-"},
                "actions": {"items": []}
            },
            {
                "key": {"text": "Parent commodity suffix"},
                "value": {"text": parent.suffix if parent else "-"},
                "actions": {"items": []}
            },
            ]
        })}}
    </div>
</div>
