{% extends "commodities/detail.jinja" %}

{% block content_class %}commodity-hierarchy{% endblock %}
{% macro leaf_commodity(comm) -%}
  <div class="govuk-body {% if comm == this_commodity %}govuk-!-font-weight-bold{% endif %}">
    <span><a class="govuk-link" href="{{ url('commodity-ui-detail', args=[comm.sid]) }}">{{comm.description}}</a>  {{ comm_code_display(comm) }}</span>
  </div>
{% endmacro %}

{% macro comm_code_display(comm) -%}
<span class="comm-code-table-container">
  <table class="comm-code-table">
    <tr class="comm-code-table-row">
        <td class="comm-code-block"><span class="comm-code-1">{{comm.code.code[:2]}}</span></td>
        <td class="comm-code-block"><span class="comm-code-2">{{comm.code.code[2:4]}}</span></td>
        <td class="comm-code-block"><span class="comm-code-3">{{comm.code.code[4:6]}}</span></td>
        <td class="comm-code-block"><span class="comm-code-4">{{comm.code.code[6:8]}}</span></td>
        <td class="comm-code-block"><span class="comm-code-5">{{comm.code.code[8:]}}</span></td>
        <td class="comm-code-suffix">({{comm.suffix}})</td>
        <td><a class="comm-code-link govuk-link govuk-!-font-size-16" href="{{ url('commodity-ui-detail', args=[comm.sid]) }}">View<span class="govuk-visually-hidden">{{ comm.code }}</span></td>
    </tr>
  </table>
</span>
{% endmacro %}

{# {% macro comm_code_description_link(comm) %}
  <a class="govuk-link" href="{{ url('commodity-ui-detail', args=[comm.sid]) }}">{{ comm.description }}</a>
{% endmacro %} #}

{# TODO:
  NOTE: tabular numbers didn't work....
  https://design-system.service.gov.uk/styles/font-override-classes/#tabular-numbers
  eg: https://www.check-duties-customs-exporting-goods.service.gov.uk/summary?d=DE&ds=gtp&kw=fish&pc=03019917
</tr>

#}
{% block tab_content %}

<h2 class="govuk-heading-l">Commodity hierarchy</h2>
{% if not is_current %}
  <p>This commodity has been end dated so no longer forms part of the hierarchy.</p>

{% elif snapshot.commodities|length == 1 %}
  {{ leaf_commodity(snapshot.commodities[0]) }}

{% else %}
  {% for comm in snapshot.commodities %}
    {% if loop.nextitem and loop.nextitem.indent > comm.indent %}
    <details class="govuk-details" data-code="{{comm.item_id}}-{{comm.suffix}}"{% if comm in snapshot.ancestors[this_commodity] %}open=""{% endif %}>
    <summary class="govuk-details__summary">
      
        <span class="govuk-details__summary-text {% if comm == this_commodity %}govuk-!-font-weight-bold{% endif %}">
          {{ comm.description }} <span class="comm-code-display">{{comm_code_display(comm)}}</span>
        </span>
      
    </summary>

    {% elif not loop.nextitem or loop.nextitem.indent <= comm.indent %}
      {{ leaf_commodity(comm) }}

      {% if not loop.nextitem %}
        {% for i in range(comm.indent) %}
          </details>
        {% endfor %}
      {% else %}
        {% for i in range(comm.indent - loop.nextitem.indent) %}
          </details>
        {% endfor %}
      {% endif %}

    {% endif %}

  {% endfor %}

{% endif %}

{% endblock %}