{% if page_obj.has_other_pages() %}
    <nav class="pagination" role="navigation" aria-label="Pagination Navigation">
      <div class="govuk-body">
        Showing {{ page_obj|length }} of {{'{0:,}'.format(paginator.count)}} {{ object_list.model._meta.verbose_name_plural if paginator.count > 1 else object_list.model._meta.verbose_name }}
      </div>
      <div class="govuk-body align-left">
        Page {{page_obj.number}} of {{ '{0:,}'.format(paginator.num_pages)}}
      </div>
      <ul class="govuk-list align-right">
        {% if page_obj.has_previous() %}
          <li>
            <a
              class="govuk-link govuk-!-margin-right-1"
              href="?{{ query_transform(request, page=page_obj.previous_page_number())}}"
              rel="prev"
              aria-label="Goto Page {{ page_obj.previous_page_number() }}"
            >
              Prev
            </a>
          </li>
        {% endif %}
        {% for page_link in page_links %}
          {% set isCurrent = page_link == page_obj.number %}
          <li class="{{ 'govuk-!-margin-left-2 govuk-!-margin-right-2' if isCurrent else 'govuk-!-margin-right-1'}}" {% if isCurrent %}aria-current="true"{% endif %}>
            {% if page_link == '...' or page_link == page_obj.number|string %}
              {{ page_link }}
            {% else %}
              <a class="govuk-link" href="?{{ query_transform(request, page=page_link) }}" aria-label="Goto Page {{ page_link }}">{{ '{0:,}'.format(page_link|int) }}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if page_obj.has_next() %}
          <li>
            <a
              class="govuk-link"
              href="?{{ query_transform(request, page=page_obj.next_page_number()) }}"
              rel="next"
              aria-label="Goto Page {{ page_obj.next_page_number() }}"
            >
              Next
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}