{% set description_rows = [] %}
{% for description in object.descriptions.all() %}
	{% set valid_between %}
		<span class='govuk-!-font-weight-bold'>{{"{:%d %b %Y}".format(description.valid_between.lower)}}</span>
	{% endset %}
	{{ description_rows.append([
		{"html": valid_between},
		{"text": description.description},
	]) or ""}}
{% endfor %}

<div class="additional_code__description-data">
	<div class="additional_code__description-data__content">
		<h2 class="govuk-heading-l">Descriptions</h2>
		{{ govukTable({
			"head": [
			{
				"text": "Start Date",
				"classes": "govuk-!-width-one-quarter"
			},
			{
				"text": "Description",
				"classes": "govuk-!-width-two-thirds"
			},
			],
			"rows": description_rows
		}) }}
	</div>
</div>