<div class="quota__blocking-period govuk-grid-row">
    <div class="quota__blocking-period__content govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Details</h2>
        {% if blocking_period %}
            {{ govukSummaryList({
                "rows": [
                    {
                        "key": {"text": "Quota blocking period SID"},
                        "value": {"text": blocking_period.sid},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Blocking start date"},
                        "value": {"text": "{:%d %b %Y}".format(blocking_period.valid_between.lower)},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Blocking end date"},
                        "value": {"text": "{:%d %b %Y}".format(blocking_period.valid_between.upper)},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Blocking period type"},
                        "value": {"text": blocking_period.blocking_period_type},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Description"},
                        "value": {"text": blocking_period.description if blocking_period.description else "-"},
                        "actions": {"items": []}
                    },
                ]
            })}}
        {% else %}
            <p class="govuk-body">No active or upcoming blocking period.</p>
        {% endif %}
    </div>
    {% include "includes/quotas/actions.jinja"%}
</div>