{% set origins %}
    <ul class="govuk-table-list">
        {% for origin in object.origins.distinct().all() %}
            <li>{{origin.area_id}} - {{origin.get_description().description}}</li>
        {% endfor %}
    </ul>
{% endset %}
<div class="quota__core-data">
    <div class="quota__core-data__content">
        <h2 class="govuk-heading-l">Details</h2>
        {{ govukSummaryList({
            "rows": [
                {
                    "key": {"text": "Quota definition SID"},
                    "value": {"text": object.sid},
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Quota definition description"},
                    "value": {"text": latest_definition.description if latest_definition.description else "-"},
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Start date"},
                    "value": {"text": "{:%d %b %Y}".format(latest_definition.valid_between.lower) },
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "End date"},
                    "value": {"text": "{:%d %b %Y}".format(latest_definition.valid_between.upper) },
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Initial volume"},
                    "value": {"text": latest_definition.initial_volume },
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Volume"},
                    "value": {"text": latest_definition.volume },
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Measurement unit"},
                    "value": {"text": latest_definition.measurement_unit.description},
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Critical threshold"},
                    "value": {"text": latest_definition.quota_critical_threshold ~ "%"},
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Critical state"},
                    "value": {"text": "Yes" if latest_definition.quota_critical else "No"},
                    "actions": {"items": []}
                },
                {
                    "key": {"text": "Maximum precision"},
                    "value": {"text": latest_definition.maximum_precision },
                    "actions": {"items": []}
                },
            ]
        })}}
    </div>
</div>