<div class="quota__definition-details govuk-grid-row">
    <div class="quota__definition-details__content govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Details</h2>
        {% if current_definition %}
            {{ govukSummaryList({
                "rows": [
                    {
                        "key": {"text": "Quota definition SID"},
                        "value": {"text": current_definition.sid},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Quota definition description"},
                        "value": {"text": current_definition.description if current_definition.description else "-"},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Definition period status"},
                        "value": {"text": quota_data.attributes.status if quota_data else "-" },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Start date"},
                        "value": {"text": "{:%d %b %Y}".format(current_definition.valid_between.lower) },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "End date"},
                        "value": {"text": "{:%d %b %Y}".format(current_definition.valid_between.upper) if current_definition.valid_between.upper else "-" },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Initial volume"},
                        "value": {"text": intcomma(current_definition.initial_volume) },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Volume"},
                        "value": {"text": intcomma(current_definition.volume) },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Remaining balance"},
                        "value": {"text": intcomma(quota_data.attributes.balance) if quota_data else "-" },
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Measurement unit"},
                        "value": {"text": current_definition.measurement_unit.abbreviation|title},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Critical threshold"},
                        "value": {"text": current_definition.quota_critical_threshold ~ "%"},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Critical state"},
                        "value": {"text": "Yes" if current_definition.quota_critical else "No"},
                        "actions": {"items": []}
                    },
                    {
                        "key": {"text": "Maximum precision"},
                        "value": {"text": current_definition.maximum_precision },
                        "actions": {"items": []}
                    },
                ]
            })}}
    {% else %}
        <p class="govuk-body">No active or upcoming quota definition.</p>
    {% endif %}
    </div>
    {% include "includes/quotas/actions.jinja"%}
</div>