{% set table_rows = [] %}
{% for quota_association in quota_associations %}
  {% set sub_quota_link %}
    <a class="govuk-link govuk-!-font-weight-bold"
      href="{{ url('quota-ui-detail', args=[quota_association.sub_quota.order_number.sid]) }}">
      {{ quota_association.sub_quota.order_number }}
    </a>
  {% endset %}
  {{ table_rows.append([
    {"html": sub_quota_link},
    {"html": quota_association.sub_quota_relation_type},
    {"text": quota_association.coefficient},
  ]) or "" }}
{% endfor %}

<div class="quota__sub-quotas govuk-grid-row">
    <div class="quota__sub-quotas__content govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Details</h2>
        {% if quota_associations %}
        {{ govukTable({
            "head": [
                {"text": "Sub-quota order number"},
                {"text": "Relation type"},
                {"text": "Co-efficient"},
            ],
            "rows": table_rows
            }) }}
        {% else %}
          <p class="govuk-body">No active sub-quotas.</p>
        {% endif %}
    </div>
    {% include "includes/quotas/actions.jinja"%}
</div>

