{% set table_rows = [] %}
{% for object in sub_quota_associations %}
  {% set sub_quota_link %}
    <a class="govuk-link govuk-!-font-weight-bold"
      href="{{ url('quota-ui-detail', args=[object.sub_quota.order_number.sid]) }}">
      {{ object.sub_quota.order_number }}
    </a>
  {% endset %}
  {% set actions_html %}
      <a class="govuk-link" href="{{ object.sub_quota.version_at(request.user.current_workbasket.transactions.last()).get_association_edit_url() }}">Edit</a>
      <br/>
      <a class="govuk-link" href="{{ url('quota_association-ui-delete', args=[object.pk]) }}">Delete</a>
  {% endset %}
  {{ table_rows.append([
    {"html": sub_quota_link},
    {"html": object.get_sub_quota_relation_type_display()},
    {"text": object.coefficient},
    {"text": actions_html }
  ]) or "" }}
{% endfor %}

{% for object in main_quota_associations %}
  {% set main_quota_link %}
    <a class="govuk-link govuk-!-font-weight-bold"
      href="{{ url('quota-ui-detail', args=[object.main_quota.order_number.sid]) }}">
      {{ object.main_quota.order_number }}
    </a>
  {% endset %}
  {% set actions_html %}
      <a class="govuk-link" href="{{ object.sub_quota.version_at(request.user.current_workbasket.transactions.last()).get_association_edit_url() }}">Edit</a>
      <br/>
      <a class="govuk-link" href="{{ url('quota_association-ui-delete', args=[object.pk]) }}">Delete</a>
  {% endset %}

  {{ table_rows.append([
    {"html": main_quota_link},
    {"html": object.get_sub_quota_relation_type_display()},
    {"text": object.coefficient},
    {"text": actions_html }
  ]) or "" }}
{% endfor %}

<div class="quota__sub-quotas govuk-grid-row">
    <div class="quota__sub-quotas__content govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-l">Quota associations</h2>
        {% if sub_quota_associations %}
        <h3>Sub-quotas</h3>
        {% elif main_quota_associations %}
        <h3>Main quota</h3>
        {% else %}
          <p class="govuk-body">No active main or sub-quotas.</p>
        {% endif %}
        {{
          govukTable({
            "head": [
              {"text": "Order number"},
              {"text": "Relationship type"},
              {"text": "Co-efficient"},
              {"text": "Actions"}
            ],
            "rows": table_rows
          })
        }}
        
    </div>
    {% include "includes/quotas/actions.jinja"%}
</div>

