{% from 'macros/create_link.jinja' import create_link %} 

<h2 class="govuk-heading-l">Conditions</h2>
{% if object.get_conditions() %}
    {% set table_rows = [] %}
    {% for condition in object.get_conditions().with_duty_sentence() -%}
        {{ table_rows.append([
            {"text": condition.condition_code.code ~ condition.component_sequence_number},
            {"text": condition.duty_sentence if condition.duty_sentence else '-'},
            {"text": condition.action.description},
            {"text": create_link(condition.required_certificate.get_url(), condition.required_certificate.code) if condition.required_certificate else '-'},
            {"text": condition.required_certificate.get_description().description if condition.required_certificate else '-'},
        ]) or "" }} 
    {% endfor %}
    {{ govukTable({
    "head": [
        {"text": "Condition code and sequence"},
        {"text": "Duties"},
        {"text": "Action"},
        {"text": "Certificate"},
        {"text": "Certificate description", "classes": "govuk-!-width-one-half"},
    ],
    "rows": table_rows
    }) }}
{% else %}
    <p class="govuk-body">This measure has no conditions.</p>
{% endif %}

