{%- extends "includes/common/tabs/core_data.jinja" -%}
{% from "macros/create_link.jinja" import create_link %}

{% set geographical_exclusions %}
	{% for exclusion in object.exclusions.current() %}
		{{ create_link(url("geo_area-ui-detail", kwargs={"sid": exclusion.excluded_geographical_area.sid}), exclusion.excluded_geographical_area.get_description().description)}}{{ ", " if not loop.last}}
	{% endfor %}
{% endset %}

{% block data %}
	{{ govukSummaryList({
		"rows": [
        {
            "key": {"text": "Measure ID"},
            "value": {"text": object.sid},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Measure type"},
            "value": {"text": object.measure_type.sid ~ " - " ~ object.measure_type.description},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Measure generating regulation"},
            "value": {"text": create_link(url("regulation-ui-detail", kwargs={"role_type": object.generating_regulation.role_type,"regulation_id": object.generating_regulation.regulation_id}), object.generating_regulation.regulation_id ~ " - " ~ object.generating_regulation.information_text ) if object.generating_regulation else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Commodity code"},
            "value": {"text": create_link(url("commodity-ui-detail", kwargs={"sid": object.goods_nomenclature.sid}), object.goods_nomenclature.item_id) if object.goods_nomenclature else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Commodity code description"},
            "value": {"text": object.goods_nomenclature.get_description().description if object.goods_nomenclature else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Duties"},
            "value": {"text": object.duty_sentence if object.duty_sentence else '-'},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Additional code"},
            "value": {"text": create_link(url("additional_code-ui-detail", kwargs={"sid": object.additional_code.sid}), object.additional_code.type.sid~object.additional_code.code) if object.additional_code else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Geographical area"},
            "value": {"text": create_link(url("geo_area-ui-detail", kwargs={"sid": object.geographical_area.sid}), object.geographical_area.get_description().description) if object.geographical_area else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Geographical area exclusions"},
            "value": {"text": geographical_exclusions if object.exclusions.current() else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Quota order number"},
            "value": {"text": create_link(url("quota-ui-detail", kwargs={"sid": object.order_number.sid}), object.order_number) if object.order_number else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Start date"},
            "value": {"text":  "{:%d %b %Y}".format(object.valid_between.lower)},
            "actions": {"items": []}
        },
        {
            "key": {"text": "End date"},
            "value": {"text":  "{:%d %b %Y}".format(object.effective_end_date) if object.effective_end_date else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Status"},
            "value": {"text":  object.transaction.workbasket.get_status_display()},
            "actions": {"items": []}
        },
        ]
        })}}
{% endblock %}
