{% from 'macros/create_link.jinja' import create_link %}

<h2 class="govuk-heading-l">Footnotes</h2>

{% if object.footnoteassociationmeasure_set.current() %}
  {% set table_rows = [] %}
  {% for association in object.footnoteassociationmeasure_set.current() %}
    {{ table_rows.append([
        {"text": create_link(association.associated_footnote.get_url(), association.associated_footnote|string) },
        {"text": association.associated_footnote.descriptions.first().description },
      ]) or "" }}
  {% endfor %}
    {{ govukTable({
    "head": [
        {"text": "SID"},
        {"text": "Description"},
    ],
    "rows": table_rows
    }) }}
{% else %}
    <p class="govuk-body">This measure has no footnotes.</p>
{% endif %}
