{% from 'macros/create_link.jinja' import create_link %}

<h2 class="govuk-heading-l">Footnotes</h2>

{% if object.footnotes.all() %}
  {% set table_rows = [] %}
  {% for footnote in object.footnotes.all() %}
    {{ table_rows.append([
        {"text": create_link(footnote.get_url(), footnote|string) },
        {"text": footnote.descriptions.first().description },
      ]) or "" }}
  {% endfor %}
    {{ govukTable({
    "head": [
        {"text": "SID"},
        {"text": "Description"},
    ],
    "rows": table_rows
    }) }}
{% else %}
    <p class="govuk-body">This measure has no footnotes.</p>
{% endif %}
