{% macro checkbox_item(field) %}
  {% set id = field.id_for_label %}
  {% set name = field.html_name %}
  {% set checked = "checked" if field.value() else "" %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ name }}" type="checkbox" {{ checked }} data-check-trackedmodel>
          <label class="govuk-label govuk-checkboxes__label" for="{{ id }}"></label>
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}
