{% extends "template.njk" %}

{% block head %}
  {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', "{{ settings.GOOGLE_ANALYTICS_ID }}");
      </script>
    <!-- End Google Tag Manager -->
  {% endif %}
  
  <!--[if !IE 8]><!-->
    {{ render_bundle("main", "css") }}
  <!--<![endif]-->
  <!--[if IE 8]>
    {# render_bundle("ie8", "css") #}
  <![endif]-->
  {% block styles %}{% endblock %}
{% endblock %}

{% set htmlClasses = "" %}
{% set bodyClasses = "" %}
{% set containerClasses = "" %}
{% set mainClasses = 'govuk-main-wrapper--auto-spacing' %}

{% block bodyStart %}
  {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GOOGLE_ANALYTICS_ID }}"height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ render_bundle("main", "js") }}
{% endblock %}
