{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string, "href": object.get_url()},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Confirmation</span>
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
      {% block panel %}{% endblock%}
      <h2 class="govuk-heading-m">Next steps</h2>
      <p class="govuk-body">To complete your task you must publish your change. </p>
      {% if request.session.workbasket %}
      {{ govukButton({
        "text": "Go to your tariff changes",
        "href": url("workbaskets:workbasket-ui-detail", args=[request.session.workbasket.id]),
        "classes": "govuk-button--secondary"
      }) }}
      {% endif %}
      <ul class="govuk-list govuk-list-spaced">
        <li><a class="govuk-link" href="{{ object.get_url() }}">View {{ object._meta.verbose_name }} {{ object|string }}</a></li>
        <li><a href="{{ object.get_url("list") }}">Manage more {{ object._meta.verbose_name_plural }}</a></li>
        {% include "includes/common/main-menu-link.jinja" %}
      </ul>
    </div>
  </div>
{% endblock %}
