
{% extends 'layouts/form.jinja' %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call django_form() %}
        {{ crispy(form) }}
      {% endcall %}
    </div>
  </div>
  {% block below_form %}{% endblock %}
{% endblock %}
