{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {% if form.errors %}Error: {% endif %}{{ super() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% block form %}{% endblock %}
{% endblock %}

{% macro errors(form) %}
  {% set error_list = [] %}
  {% set formset = form if form.forms else None %}
  {% set forms = formset.forms if formset else [form] %}
  {% for form in forms %}
    {% for field, errors in form.errors.items() %}
      {% for error in errors.data %}
        {{ error_list.append({
          "text": error.message,
          "href": "#" ~ (form.prefix ~ "-" if form.prefix else "") ~ field ~ ("_" ~ error.subfield if error.subfield is defined else ""),
        }) or "" }}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {{ govukErrorSummary({
    "titleText": "There is a problem",
    "errorList": error_list
  }) }}
{% endmacro %}

{% macro django_form(action="", method="post") %}
  <form method="{{ method }}" action="{{ action }}">
    {% if method|lower == "post" %}{{ csrf_input }}{% endif %}
    {% if form.errors %}
      {{ errors(form) }}
    {% endif %}
    {{ caller() }}
  </form>
{% endmacro %}
