{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/_generic.jinja" %}

{% set service_name = "Manage Trade Tariffs" %}

{% block pageTitle %}
  {{ page_title }} | {{ service_name }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    "serviceName": service_name,
    "serviceUrl": "#",
    "navigation": [
      {
        "href": url("logout") if request.user.is_authenticated else url("login"),
        "text": "Sign out" if request.user.is_authenticated else "Sign In"
      }
    ]
  }) }}
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    "tag": {
      "text": "alpha"
    },
    "html": "This is a new service – your feedback will help us to improve it."
  }) }}
{% endblock %}

