{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/_generic.jinja" %}

{% set service_name = "Manage the UK Tariff" %}

{% block pageTitle %}
  {{ page_title }} | {{ service_name }}
{% endblock %}

{% block head %}
  {{ super() }}
  <link href="{{ static('common/css/application.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ govukHeader({
    'serviceName': service_name,
    'serviceUrl': '#',
    'navigation': {
      'label': 'Account navigation',
      'items': [
        {
          'href': url('index'),
          'text': request.user.name | default(request.user.email),
          'active': True
        },
      ]
    },
  }) }}
{% endblock %}
