{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{% set create_url = create_url or "create" %}

{% set page_title = "Find and edit " ~ object_list.model._meta.verbose_name_plural %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <p class="govuk-body">
    Search for {{object_list.model._meta.verbose_name_plural}}.
    {% if not ommit_create_link %}
    Alternatively, <a class="govuk-link" href="{{ create_url }}">create a new {{ object_list.model._meta.verbose_name }}</a>.
    {% endif %}
  </p>

  <div class="filter-layout">
    <div class="filter-layout__filters">
      <h2 class="govuk-heading-m govuk-!-margin-top-3">Search and filter</h2>
      <form method="get" action="{{ url(form_url) }}">
          {{ crispy(filter.form) }}
      </form>
    </div>

    <div class="filter-layout__content">
      {% if paginator.count > 0 %}
        {% include "includes/common/pagination-list-summary.jinja" %}
      {% endif %}
      {% if object_list %}
        {% include list_include %}
      {% else %}
        <p class="govuk-body">There are no results for your search, please:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check the spelling of your keywords</li>
          <li>use more general keywords</li>
          <li>select or deselect different filters</li>
          <li>get help via our <a class="govuk-link" href="#">support and feedback form</a></li>
        </ul>
      {% endif %}
      {% include "includes/common/pagination.jinja" %}
    </div>
  </div>
{% endblock %}

