{% extends "common/edit.jinja" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit quotas", "href": url("quota-ui-list")},
      {"text": object.order_number._meta.verbose_name|capitalize ~ ": " ~ object.order_number|string, "href": object.order_number.get_url()},
      {"text": "Edit quota details", "href": object.order_number.get_url("edit")},
      {"text": page_title}
    ])
  }}
{% endblock %}