{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}


{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row">
        <span>
            {{ original.tracked_models.count }}
            tracked model{{ original.tracked_models.count|pluralize }}
        </span>
        <input
            type="submit"
            value="Delete WorkBasket TrackedModels"
            name="_clear-workbasket"
            {% if not original.tracked_models.count %}disabled{% endif %}
        >
    </div>
{% endblock %}
