{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}


{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if original.status == 'EDITING' or original.status == 'ARCHIVED' %}
    <div class="submit-row">
        <span>
            {{ original.tracked_models.count }}
            tracked model{{ original.tracked_models.count|pluralize }}
            /
            {{ original.transactions.count }}
            transaction{{ original.transactions.count|pluralize }}
        </span>
        <input
            type="submit"
            style="background-color:#a41515"
            value="Delete WorkBasket Contents"
            name="_clear-workbasket"
            {% if not original.tracked_models.count and not original.transactions.count %}disabled{% endif %}
        >
    </div>
    {% endif %}
{% endblock %}
