<p>The regulation group is used to control what types of measure are allowed to be linked to this regulation. They
    also control when some trade defence measures get applied, and allow certain types of measures to override them.
    Measures will not be available to traders if they are incorrectly linked to a regulation group.</p>

<p>Regulation groups obey the following rules:</p>

<p>- Non-preferential quota measures (types 122 or 123) must be linked to the regulation group KON (and they are
    only allowed to have certificates that start with B, C, Q or Y) or can be linked to the group OPQ.</p>

<p>- Unilateral preferences under GSP (types 141, 142, 143, 145 or 146) must be linked to the regulation group SPG.
</p>

<p>- All other preferences (also types 141, 142, 143, 145 or 146) must be linked to one of the groups FTA, PRF or
    RDR.</p>

<p>If a regime needs to contain measures that fit into multiple regulation groups (e.g. steel safeguards, which uses
    both quotas and trade defences) then there need to be two regulations split into multiple parts (e.g. the ID for
    them differs in the final digit).</p>