{% extends "layouts/confirm.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Step deleted" %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Ticket " ~ ticket.prefixed_id, "href": ticket.get_url("detail")},
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": "Step ID: " ~ deleted_pk,
    "text": "Step has been deleted",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}

{% block button_group %}
  {{ govukButton({
    "text": "Return to ticket",
    "href": ticket.get_url("detail"),
  }) }}
  {{ govukButton({
    "text": "View all tickets",
    "href": ticket.get_url("list"),
    "classes": "govuk-button--secondary"
  }) }}
{% endblock %}

{% block actions %}{% endblock %}
