{% extends "layouts/confirm.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Step updated" %}

{% set ticket = object.taskitem.workflow %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Ticket " ~ ticket.prefixed_id, "href": ticket.get_url("detail")},
      {"text": "Step: " ~ object.title, "href": url("workflow:task-ui-detail", kwargs={"pk": object.pk})},
      {"text": page_title}
    ],
    with_workbasket=False,
  ) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": "Step: " ~ object.title,
    "text": "Step has been updated",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}

{% block button_group %}
  {{ govukButton({
    "text": "View step",
    "href": url('workflow:task-ui-detail', kwargs={"pk": object.pk}),
    "classes": "govuk-button"
  }) }}
  {{ govukButton({
    "text": "Return to ticket",
    "href": ticket.get_url("detail"),
    "classes": "govuk-button--secondary"
  }) }}
{% endblock %}

{% block actions %}{% endblock %}
