{% extends "common/confirm_update.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = page_title %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": object_type ~ ": " ~ object.title, "href": url("workflow:task-ui-detail", kwargs={"pk": object.pk})},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": object_type ~ ": " ~ object.title,
    "text": object_type ~ " has been updated",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}

{% block button_group %}
  {{ govukButton({
    "text": "View " ~ object_type,
    "href": url('workflow:task-ui-detail', kwargs={"pk": object.pk}),
    "classes": "govuk-button"
  }) }}
  {{ govukButton({
    "text": "Return to homepage",
    "href": url("home"),
    "classes": "govuk-button--secondary"
  }) }}
{% endblock %}

{% block actions %}
  <li><a href="{{ url("workflow:task-ui-list") }}">Find and view tasks</a></li>
{% endblock %}
