.commodity-hierarchy {
    details>details,
    details>p {
        padding-left: 10px;
        padding-bottom: 10px;
        border-left: 20px solid govuk-tint(govuk-colour("green"), 100);
    }
}
.comm-code-container{
    height: 1.5em;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid grey
}

.govuk-body, .comment p, body, .govuk-body-m {
    margin-bottom: 0;
}

.comm-code-block {
    margin: .1em;
    font-size: 1em;
    width: 1.5em;
    text-align: center;
    height: 1.3em;
    border-right: 2px solid govuk-tint(govuk-colour("white"), 100)
}

.comm-code-no-children {
    padding-left: 55px;
}

.comm-code-1 {
    background-color: #ECE8FF;
}
.comm-code-2 {
    background-color: #CCEFF1;
}
.comm-code-3 {
    background-color: #DEF2CE;
}
.comm-code-4 {
    background-color: #FBF3C6;
}
.comm-code-5 {
    background-color: #FCDFB9;
}

.govuk-details {
    margin-bottom: 0px;
}

.govuk-details__summary {
    display: block;
}

.comm-code-display {
    float: right;
    // display: block;
}

.comm-code-table {
    display: contents;
    float: right;
}

.comm-code-table-container {
    float: right;
}

.comm-code-suffix{
    width: 3rem;
    text-align: center;
}

.comm-code-link {
    float: right;
}
// need a separate/additional style for hierarchy-1 when selected
// .commodity-hierarchy-dash-this-commodity::before {
//     content: "—";
//     margin-left: -50px;
//     margin-right: 30px;
//     // content: "—";
//     // margin-left: -80px;
//     // margin-right: 40px;
//     // padding-left: 20px;
// }
// .commodity-hierarchy-dash-1::before {
//     content: "—";
//     margin-left: -30px;
//     margin-right: 10px;
//     // content: "—";
//     // margin-left: -80px;
//     // margin-right: 40px;
//     // padding-left: 20px;
// }
// .commodity-hierarchy-dash-2::before {
//     content: "—     —";
//     margin-left: -80px;
//     margin-right: 40px;
//     padding-left: 20px;
//     span::before {
//         content: "—";
//         margin-left: -30px;
//         margin-right: 10px;
//     }
// }
// .commodity-hierarchy-dash-3>span::before {
//     content:"-";
//     // background-color: blue;
//     margin-left: -100x;
//     margin-right: 20px;
//     padding-left: 20px;
// }
// .commodity-hierarchy-dash-4::before {
//     content: "—";
//     background-color: yellow;
//     margin-left: -60px;
//     margin-right: 40px;
//     padding-left: 20px;
// }
// .commodity-hierarchy-dash-5::before {
//     content: "—";
//     background-color: red;
//     margin-left: -80px;
//     margin-right: 20px;
//     padding-left: 20px;
// }
// I want to: set a — for each 