.workbasket-filters {

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .govuk-link {
    color: govuk-colour("black");
  }

  .selected-link {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    text-decoration: none;
  }

  .selected-link:visited {
    color: govuk-colour("white");
    text-decoration: none;
  }

  .selected-link:hover {
    text-decoration: underline;
  }
}

.govuk-header {

  .workbasket-link {

    svg {
      margin-bottom: -4px;
    }
  }
}

.workbasket-navigation {

  border-top: 1px solid govuk-colour("mid-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding: 5px 50px;
      margin: 0;
    }

    .active {
      border-bottom: 4px solid govuk-colour("blue");
    }
  }

  .govuk-link {
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: govuk-colour("blue");
    }
  }

}