.workbasket-filters {

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .govuk-link {
    color: govuk-colour("black");
  }

  .selected-link {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    text-decoration: none;
  }

  .selected-link:visited {
    color: govuk-colour("white");
    text-decoration: none;
  }

  .selected-link:hover {
    text-decoration: underline;
  }
}

.govuk-header {

  .workbasket-link {

    svg {
      margin-bottom: -4px;
    }
  }

  .logout-login {
    color: govuk-colour("white");
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 0.1em;
    }
  }

}

.workbasket-navigation {

  border-top: 1px solid govuk-colour("mid-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding: 5px 35px;
      margin: 0;
    }

    .active {
      border-bottom: 4px solid govuk-colour("blue");
    }
  }

  .govuk-link {
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: govuk-colour("blue");
    }
  }

}

.homepage-card {
  box-sizing: border-box;
  border: 1px solid $govuk-border-colour;
  padding: govuk-spacing(3) govuk-spacing(3) 0;
  margin: govuk-spacing(3);
  width: calc(100% - govuk-spacing(6));
  float: left;
}

@media screen and (min-width: 1063px) {
  .homepage-card {
    width: calc(50% - govuk-spacing(6));
  }
}

#homepage-tap-resources {
  columns: 2;
}

.homepage-workbasket-details {
  display: inline-block;
}

#current-workbasket {
  display: inline-block;

  a, form {
    display: inline-block;
  }
}

@media screen and (min-width: 770px) {
  #current-workbasket {
    float: right;
  }
}

#homepage-search-form {
  display: flex;
  flex-flow: row nowrap;

  .govuk-input {
    height: 50px;
    font-size: 21px;
  }

  .govuk-form-group {
    width: 100%;
  }

  .govuk-label {
    @extend .govuk-visually-hidden
  }

  .govuk-button {
    background: no-repeat url("/common/static/common/images/search-icon.svg");
    background-color: govuk-colour("black");
    background-position: center;
    color: transparent;
    margin-left: 0;
    width: 50px;
    height: 48px;
  }
}
