.workbasket-filters {

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .govuk-link {
    color: govuk-colour("black");
  }

  .selected-link {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    text-decoration: none;
  }

  .selected-link:visited {
    color: govuk-colour("white");
    text-decoration: none;
  }

  .selected-link:hover {
    text-decoration: underline;
  }
}

.govuk-header {

  .workbasket-link {

    svg {
      margin-bottom: -4px;
    }
  }

  button#sign-out {
    color: govuk-colour("white");
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 0.1em;
    }
  }

}

.workbasket-navigation {

  border-top: 1px solid govuk-colour("mid-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");

  >* {
    display: inline-block;
  }

  .govuk-list {
    margin: 0;

    li {
      display: inline-block;
      padding: 5px 35px;
      margin: 0;
    }

    .active {
      border-bottom: 4px solid govuk-colour("blue");
    }
  }

  .govuk-link {
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: govuk-colour("blue");
    }
  }

}

.react-select__control {
  @extend .govuk-select;
}

.react-select__menu {
  @extend .govuk-body;
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("mid-grey");
}

.react-select__option {
  padding: 4px;

  &:hover {
    background-color: govuk-colour("light-grey");
  }
}

.react-select__multi-value {
  margin-right: 4px;
  padding: 0 4px;
  background-color: govuk-colour("light-grey");
  border: 1px solid govuk-colour("dark-grey");
  border-radius: 5px;
}