.environment-banner {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-top: 100px solid green;
    color: white;
    text-align: right;
    line-height: 40px;
    font-size: 14px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
}


// .environment-banner:after {
//     content: attr(data-environment);
//     position: absolute;
//     right: 50%;
//     top: 50%;
//     transform: translate(10%, -175%) rotate(45deg);
//     font-size: 15px;
//     background-color: transparent;
//     color: white;
//     padding: 4px;
//     white-space: nowrap;
// }

.text-wrapper {
    position: absolute;
    transform: translate(-40%, -125%) rotate(45deg);
    color: white;
    background-color: transparent;
    padding: 4px;
    white-space: nowrap;
}