.quota-definitions {
    details.govuk-details[open] {
        height: 600px;
    }

    .govuk-details__text {
        position: absolute;
        width: 600px;
    }

    .govuk-summary-list__row * {
        display: block;
        width: 100% !important;
    }

    .govuk-summary-list__key {
        border: 0;
    }

    .govuk-summary-list__row:last-child .govuk-summary-list__value {
        border: 0;
    }
}