.govuk-table-list {
  @extend .govuk-list;
}

@media (min-width: 40.0625em) {
  .govuk-table-m {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;

    .govuk-list {
      font-size: inherit;
    }
  }

  .govuk-table-list {
    margin-bottom: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

// fix line breaks between parts of measure condition
.govuk-table__cell li {
  white-space: nowrap;
}

table.tap-workbasket-items tbody {
  .start-transaction {
    font-size: 0.9rem;
    background-color: #eee;
    .details {
      font-weight: bold;
    }
    .demote,
    .promote {
      display: inline-block;
      margin-left: 1rem;
    }
  }
  .start-transaction.first-cell,
  .item.first-cell {
    border-left: 1px solid #b1b4b6;
  }
  .start-transaction.last-cell,
  .item.last-cell {
    border-right: 1px solid #b1b4b6;
  }
  .end-transaction div {
    height: 1.5rem;
  }
  .govuk-link.disabled {
    color: #ccc;
  }
}
