// makes a button or input element look like a hyperlink
.button-link {
  background: none;
  border: none;
  padding: 0;
  font-family: sans-serif;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: govuk-colour("blue");
  @extend .govuk-link;

  &:focus {
    background-color: govuk-colour("yellow");
  }
}

.down-arrow,
.right-arrow {
  font-size: 1rem;
}

.fixed-width {
  font-family: monospace;
}
