@function frontend-font-url($filename){
@return url("~govuk-frontend/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename){
@return url("~govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "accessible-autocomplete";

@import "icon-action-list";
@import "layout";
@import "text";
@import "components";
@import "autocomplete";
@import "accordion";
@import "button";
@import "_table";
@import "additional_codes";
@import "footnotes";
@import "geo_areas";
@import "measures";
@import "publishing";
@import "regulations";
@import "workbaskets";
@import "versions";
@import "fake-link";
@import "violations";
@import "badges";
@import "quota-definitions";
@import "commodities";
@import "utils";
@import "environment";