{% extends "layouts/layout.jinja" %}

{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% set page_title = "Additional code: " ~ object.type.sid ~ object.code %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": "Find and edit additional codes", "href": url("additional_code-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
    </div>
  </div>
  {% set details_html %}
    <div class="additional_code__details">
      <div class="additional_code__details__content">
        <h2 class="govuk-heading-l">Details</h2>
        {{ govukSummaryList({
          "rows": [
            {
              "key": {"text": "Additional code ID"},
              "value": {"text": object.type.sid ~ object.code},
              "actions": {"items": []}
            },
            {
              "key": {"text": "Additional code type"},
              "value": {"text": object.type.sid ~ " - " ~ object.type.description},
              "actions": {"items": []}
            },
            {
              "key": {"text": "Description"},
              "value": {"text": object.get_description().description},
              "actions": {"items": []}
            },
            {
              "key": {"text": "Start date"},
              "value": {"text": "{:%d %b %Y}".format(object.valid_between.lower)},
              "actions": {"items": []}
            },
            {
              "key": {"text": "End date"},
              "value": {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
              "actions": {"items": []}
            },
            {
              "key": {"text": "Status"},
              "value": {"text": object.transaction.workbasket.get_status_display()},
              "actions": {"items": []}
            },
          ]
        })}}
      </div>
      {# <aside class="additional_code__details__actions">
        <h2 class="govuk-heading-s">Actions</h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a class="govuk-link">Edit this additional code</a></li>
          <li><a class="govuk-link">Delete this additional code</a></li>
        </ul>
      </aside> #}
    </div>
  {% endset %}

  {% set description_data_html %}
    {% set description_rows = [] %}
    {% for description in object.descriptions.all() %}
      {{ description_rows.append([
        {"text": "{:%d %b %Y}".format(description.valid_between.lower)},
        {"text": description.description},
        {
            "html": '<a href="#" class="govuk-link govuk-!-font-size-16">Edit description</a>'
        }
      ]) or ""}}
    {% endfor %}
    <div class="additional_code__description-data">
      <div class="additional_code__description-data__content">
        {{ govukTable({
          "firstCellIsHeader": false,
          "head": [
            {
              "text": "Start Date",
              "classes": "govuk-!-width-one-quarter"
            },
            {
              "text": "Description",
              "classes": "govuk-!-width-two-thirds"
            },
            {
              "text": "Actions"
            },
          ],
          "rows": description_rows
        }) }}
      </div>
      <div class="additional_code__description-data__actions">
        <ul class="govuk-list">
          <li><a href="#" class="govuk-link govuk-!-font-size-16">Create a new additional code description</a></li>
        </ul>
      </div>
    </div>
  {% endset %}

  {{ govukTabs({
    "items": [
      {
        "label": "Details",
        "id": "details",
        "panel": {
          "html": details_html
        }
      },
      {
        "label": "Descriptions",
        "id": "descriptions",
        "panel": {
          "html": description_data_html
        }
      }
    ]
  }) }}
{% endblock %}
