{% extends "layouts/layout.jinja" %}

{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% set page_title = "Additional code: " ~ object.type.sid ~ object.code %}

{% set core_data_tab_html %}{% include "includes/tabs/core_data.jinja" %}{% endset %}
{% set description_tab_html %}{% include "includes/tabs/descriptions.jinja" %}{% endset %}
{% set version_control_tab_html %}{% include "includes/tabs/version_control.jinja" %}{% endset %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": "Find and edit additional codes", "href": url("additional_code-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
    </div>
  </div>

  {{ govukTabs({
    "items": [
      {
        "label": "Details",
        "id": "core-data",
        "panel": {
          "html": core_data_tab_html
        }
      },
      {
        "label": "Descriptions",
        "id": "descriptions",
        "panel": {
          "html": description_tab_html
        }
      },
      {
        "label": "Version Control",
        "id": "version-control",
        "panel": {
          "html": version_control_tab_html
        }
      },
    ]
  }) }}
{% endblock %}