{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "Find and edit additional codes" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <p class="govuk-body">
    Enter criteria to help find an additional code.
    Alternatively, <a href="">create a new additional code</a>.
  </p>

  <div class="filter-layout">
    <form class="filter-layout__filters" method="get" action="{{ url("additional_code-ui-list") }}">
      {{ govukInput({
        "id": "search",
        "name": "search",
        "label": {
          "text": "Search",
          "classes": "govuk-label--m",
          "attributes": {}
        },
        "formGroup": {}
      }) }}

      {{ govukButton({"text": "Filter"}) }}
    </form>

    <div class="filter-layout__content">
      {% include "includes/additional_codes_list.jinja" %}
    </div>
  </div>
{% endblock %}
