{% extends "layouts/layout.jinja" %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = 'Reports index' %}

{% block breadcrumb %}
    {{ breadcrumbs(request, [
      {'text': "Report index"}
    ]) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Reports index
    </h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-9">View reports about CDS approvals and rejections, expiring quotas and other missing data. </span>

    <div>
        {{ govukTable({ "head": report.headers(), "rows": report.rows() }) }}
    </div>
{% endblock %}



