{% extends "reports/layout_reports.jinja" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {'text': "Reports Index", "href": '/reports'},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Report: {{ report.name }}        
    </h1>
    {% if not report.tab_name2 %}
      <a id="exportToCSVLink{{report.slug()}}" class="govuk-button" style="float:right;" href="{{ url("reports:export_report_to_csv", kwargs={"report_slug": report.slug()}) }}">Export to CSV</a>
    {% endif %}
    <h2 class="govuk-body">
    {{ report.description|safe }}
    </h2>
    <div class="govuk-!-margin-top-9">
        {% include "generics/table.jinja" %}
    </div>
{% endblock %}
