{% from "components/details/macro.njk" import govukDetails %}

{{ govukDetails({
        "summaryText": "Help with duties",
        "text": "Enter the duty that applies to the " + component + ". This is expressed as a percentage (e.g. 4%), a specific duty (e.g. 33 GBP/100kg) or a compound duty (e.g. 3.5% + 11 GBP / 100 kg)."
    }) }}
    