{% from "components/create_sortable_anchor.jinja" import create_sortable_anchor %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}

{% block tab_content %}
    <h2 class="govuk-heading-l">{{ page_title }}</h2>

 {% set table_rows = [] %}
  {% for measure in object_list %}
    {% set measure_link %}
      <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('measure-ui-detail', kwargs={'sid': measure.sid}) }}">{{ measure.sid }}</a>
    {% endset %}

    {% set commodity_link %}
      <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('commodity-ui-detail', args=[measure.goods_nomenclature.sid]) }}">{{ measure.goods_nomenclature.item_id }}</a>
    {% endset %}

    {% set action %}
      {% if measure.valid_between.lower > [today, measure.goods_nomenclature.version_at(workbasket.transactions.last()).valid_between.upper]|min %}To be deleted{% else %}To be end-dated{% endif %}
    {% endset %}

    {{ table_rows.append([
      {"text": measure_link},
      {"html": commodity_link if measure.goods_nomenclature else "-"},
      {"text": "{:%d %b %Y}".format(measure.goods_nomenclature.version_at(workbasket.transactions.last()).valid_between.upper) if measure.goods_nomenclature.version_at(workbasket.transactions.last()).valid_between.upper else "-" },
      {"text": "{:%d %b %Y}".format(measure.valid_between.lower) },
      {"text": "{:%d %b %Y}".format(measure.effective_end_date) if measure.effective_end_date else '-' },
      {"text": action},
    ]) or "" }}
  {% endfor %}

  {% set commodity_code %}
    {{ create_sortable_anchor(request, "Commodity code", sorting_urls["goods_nomenclature"], "#measures") }}
  {% endset %}

  {% set start_date %}
    {{ create_sortable_anchor(request, "Measure start date", sorting_urls["start_date"], "#measures") }}
  {% endset %}

  {% set measure_sid %}
    {{ create_sortable_anchor(request, "Measure SID", sorting_urls["sid"], "#measures") }}
  {% endset %}

  {% if object_list %}
    <p>The following measures are linked to commodity codes that have been end-dated in your workbasket. Click submit to automatically end-date or delete these measures.</p>
    {{ govukTable({
      "head": [
        {"text": measure_sid},
        {"text": commodity_code},
        {"text": "Commodity end date"},
        {"text": start_date},
        {"text": 'Measure end date'},
        {"text": "Action"},
      ],
      "rows": table_rows
    }) }}

  {% else %}
    <p class="govuk-body">No measures to end-date have been found. </p>
    <p class="govuk-body">There are either no active measures related to commodity codes updated in this workbasket or the measures already have end-dates in line with their respective commodities.</p>
  {% endif %}
  {% include "includes/common/pagination.jinja" %}

    
{% endblock %}