{% set table_rows = [] %}
{% for obj in object_list %}

  {% set derived_from_goods_nomenclature %}
    <a class="govuk-link" href="{{ url("commodity-ui-detail", kwargs={'sid':obj.derived_from_goods_nomenclature.sid}) }}">
      {{ obj.derived_from_goods_nomenclature.item_id }}
    </a>
  {% endset %}


  {{ table_rows.append([
    {"text": obj.new_goods_nomenclature.item_id},
    {"html": derived_from_goods_nomenclature},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "New commodity code"},
    {"text": "Derived from commodity code"},  
    ],
  "rows": table_rows
}) }}
