{% from "components/table/macro.njk" import govukTable %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">
    Your tariff changes
  </h2>
    {% set change_count = workbasket.tracked_models.count() %}
    <p class="govuk-body align-left">{{ change_count }} change{{ pluralize(change_count) }}</p>
    <p class="govuk-body align-right">
        <a href="{{ url('workbaskets:submit_workbasket', args=[workbasket.pk] ) }}" class="govuk-link">Publish all changes</a>
    </p>
    {% set table_rows = [] %}
    {% for obj in page_obj.object_list %}
      {% set object_link -%}
        <a class="govuk-link govuk-!-font-weight-bold" href="{{ obj.get_url() or "#" }}">{{ obj.get_described_object() if obj.get_described_object else obj.structure_code }}</a>
      {%- endset %}
      {{ table_rows.append([
        {"text": obj._meta.verbose_name|capitalize, "classes": "govuk-!-width-one-quarter"},
        {"html": object_link, "classes": "govuk-!-width-one-quarter"},
        {"text": obj.structure_description, "classes": "govuk-!-width-one-quarter"},
        {"text": "{:%d %b %Y}".format(obj.transaction.updated_at), "classes": "govuk-!-width-one-quarter"},
      ]) or "" }}
    {% endfor %}

    {{ govukTable({
      "head": [
        {"text": "Type"},
        {"text": "ID"},
        {"text": "Description"},
        {"text": "Activity date"},
      ],
      "rows": table_rows
    }) }}

    {% include "includes/common/pagination.jinja" %}

</div>
</div>