{% from "components/button/macro.njk" import govukButton %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/table/macro.njk" import govukTable %}


{% macro checkbox_item(field) -%}
  {% set id = field.id_for_label %}
  {% set name = field.name %}
  {% set checked = "checked" if field.value() else "" %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ name }}" type="checkbox" {{ checked }} data-check-trackedmodel>
          <label class="govuk-label govuk-checkboxes__label" for="{{ id }}"></label>
        </div>
      </div>
    </fieldset>
  </div>
{%- endmacro %}


{% set checkbox_check_all -%}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="select-all" name="select-all" type="checkbox" data-check-all="data-check-trackedmodel">
          <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="selected"></label>
        </div>
      </div>
    </fieldset>
  </div>
{%- endset %}


{% if workbasket %}
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Your tariff changes</h2>
    </div>
  </div>

  {% if download_ready %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          We've created an envelope which contains your published changes between {{ "{:%d %b %Y}".format(approved_dates.start) }} and {{ "{:%d %b %Y}".format(approved_dates.end) }}. It's ready for your action.
        </strong>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Help with your actions</span>
        </summary>
        <div class="govuk-details__text">
          This is a place holder for help text about tariff managers' actions and/or next steps
        </div>
      </details>
      <div class="govuk-button-group">
        <a href={{ url("workbaskets:workbasket-download") }} class="govuk-button" data-module="govuk-button" download>
          Download the envelope
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set change_count = workbasket.tracked_models.count() %}
      <p class="govuk-body">{{ change_count }} changes</p>

      {% if form.fields %}
        {% set actions_details_html %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <button
                value="publish-all"
                name="form-action"
                class="govuk-link fake-link"
                data-module="govuk-button"
                role="link"
              >
                Publish <strong>all</strong> changes
              </button>
            </div>
            <div class="govuk-grid-column-one-third">
              <button
                value="remove-selected"
                name="form-action"
                class="govuk-link fake-link"
                data-module="govuk-button"
                role="link"
              >
                Remove <strong>selected</strong> changes
              </button>
            </div>
          </div>
        {%- endset%}
        {{ govukDetails({
          "summaryText": "Actions on changes below",
          "html": actions_details_html
        }) }}

        {% set table_rows = [] %}
        {% for field in form %}
          {% set checkbox = checkbox_item(field) %}
          {% set obj = field.field.obj %}
          {% set object_link -%}
            <a class="govuk-link" href="{{ obj.get_url() or "#" }}">
              {{ obj.get_described_object() if obj.get_described_object else obj.structure_code }}
            </a>
          {%- endset %}
          {% set object_description -%}
            {{ obj.structure_description if obj.structure_description else "-" }}
          {%- endset %}

          {{ table_rows.append([
            {"html": checkbox},
            {"text": obj._meta.verbose_name.title(), "classes": "govuk-!-width-one-quarter"},
            {"html": object_link, "classes": "govuk-!-width-one-quarter"},
            {"text": object_description, "classes": "govuk-!-width-one-quarter"},
            {"text": "{:%d %b %Y}".format(obj.transaction.updated_at), "classes": "govuk-!-width-one-quarter"},
          ]) or "" }}
        {% endfor %}

        {{ govukTable({
          "head": [
            {"html": checkbox_check_all},
            {"text": "Type"},
            {"text": "ID"},
            {"text": "Description"},
            {"text": "Activity date"},
          ],
          "rows": table_rows
        }) }}

        {% include "includes/workbaskets/selectable-items-pagination.jinja"%}
      {% endif %}
    </div>
  </div>
</form>
{% endif %}
