{% from "components/button/macro.njk" import govukButton %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/table/macro.njk" import govukTable %}


{% macro checkbox_item(field) -%}
  {% set id = field.id_for_label %}
  {% set name = field.name %}
  {% set checked = "checked" if field.value() else "" %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ name }}" type="checkbox" {{ checked }} data-check-trackedmodel>
          <label class="govuk-label govuk-checkboxes__label" for="{{ id }}"></label>
        </div>
      </div>
    </fieldset>
  </div>
{%- endmacro %}


{% macro transaction_details(transaction) -%}
  <span class="details">Transaction: {{ transaction.pk }}</span>

  {% if is_transaction_first_in_workbasket(transaction) -%}
    <span class="govuk-link disabled promote">Promote &#x25B2;</span>
  {%- else %}
    <button
      name="form-action"
      value="promote-transaction__{{ transaction.pk }}"
      class="govuk-link fake-link promote"
      data-module="govuk-button"
    >Promote &#x25B2;</button>
  {%- endif %}

  {% if is_transaction_last_in_workbasket(transaction) -%}
    <span class="govuk-link disabled demote">Demote &#x25BC;</span>
  {%- else %}
    <button 
      name="form-action"
      value="demote-transaction__{{ transaction.pk }}"
      class="govuk-link fake-link demote"
      data-module="govuk-button"
    >Demote &#x25BC;</button>
  {%- endif %}
{%- endmacro %}


{% set checkbox_check_all -%}
<div id="check-all-checkbox"></div>
{%- endset %}


{% if workbasket %}
{% set change_count = workbasket.tracked_models.count() %}
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if change_count %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <button
              value="remove-all"
              name="form-action"
              class="govuk-button govuk-button--warning"
              data-module="govuk-button">Remove all workbasket changes</button>
          </fieldset>
        </div>
        <h2 class="govuk-body">Select a component you would like to edit or remove:</h2>

      {% else %}
        <h2 class="govuk-body">There is nothing in your workbasket yet.</h2>
      {% endif %}
    </div>
  </div>

  {% if uploaded_envelope_dates %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          We've created an envelope which contains your published changes between {{ "{:%d %b %Y}".format(uploaded_envelope_dates.start) }} and {{ "{:%d %b %Y}".format(uploaded_envelope_dates.end) }}. It's ready for your action.
        </strong>
      </div>
      <div class="govuk-button-group">
        <a href={{ url("workbaskets:workbasket-download") }} class="govuk-button" data-module="govuk-button" download>
          Download the envelope
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if form.fields %}

        {% set table_rows = [] %}
        {% for field in form %}
          {% set checkbox = checkbox_item(field) %}
          {% set obj = field.field.obj %}
          {% set object_link -%}
            <a class="govuk-link" href="{{ obj.get_url() or "#" }}">
              {{ obj.get_described_object() if obj.get_described_object else obj.structure_code }}
            </a>
          {%- endset %}
          {% set object_description -%}
            {{ obj.structure_description if obj.structure_description else "-" }}
          {%- endset %}

          {# Above each transaction add transaction info and actions. #}
          {% if loop.first or is_obj_first_in_transaction(obj) -%}
            {% set _transaction_details -%}
              {% if is_transaction_first_in_workbasket(obj.transaction) -%}
              <span class="details">Transaction: {{ obj.transaction.pk }}</span>
                <button
                  name="form-action"
                  value="promote-transaction__{{ obj.transaction.pk }}"
                  class="govuk-link fake-link promote"
                  data-module="govuk-button"
                >Promote &#x25B2;</button>
              {%- endif %}

              <button 
                name="form-action"
                {% if is_transaction_last_in_workbasket(obj.transaction) %}disabled{% endif %}
                value="demote-transaction__{{ obj.transaction.pk }}"
                class="govuk-link fake-link demote"
                data-module="govuk-button"
              >Demote &#x25BC;</button>
            {%- endset %}

            {{ table_rows.append([
              {
                "text": "",
                "classes": "start-transaction first-cell",
              },
              {
                "html": transaction_details(obj.transaction),
                "colspan": 6,
                "classes": "start-transaction last-cell",
              },
            ]) or "" }}
          {%- endif %}

          {# TrackedModel instance. #}
          {{ table_rows.append([
            {
              "text": "",
              "classes": "item first-cell",
            },
            {"html": checkbox},
            {"html": object_link, "classes": "govuk-!-width-one-quarter"},
            {"text": obj._meta.verbose_name.title(), "classes": "govuk-!-width-one-quarter"},
            {"text": obj.update_type_str},
            {"text": object_description, "classes": "govuk-!-width-one-quarter"},
            {
              "text": "{:%d %b %Y}".format(obj.transaction.updated_at),
              "classes": "govuk-!-width-one-quarter item last-cell",
            },
          ]) or "" }}

          {# Below each transaction, add a spacer line. #}
          {% if not loop.last and is_obj_last_in_transaction(obj) %}
            {{ table_rows.append([
              {
                "html": "<div></div>",
                "colspan": 7,
                "classes": "end-transaction first-cell",
              },
            ]) or "" }}
          {% endif  %}
        {% endfor %}

        {{ govukTable({
          "head": [
            {"text": "", classes: "wb-header-cell"},
            {"html": checkbox_check_all},
            {"text": "ID"},
            {"text": "Component"},
            {"text": "Action"},
            {"text": "Description"},
            {"text": "Activity date"},
          ],
          "rows": table_rows,
          "classes": "tap-workbasket-items",
        }) }}

        {% include "includes/workbaskets/selectable-items-pagination.jinja"%}
      {% endif %}
    </div>
  </div>
  {% if change_count %}
  <button value="remove-selected" name="form-action" class="govuk-button govuk-button--secondary" data-module="govuk-button">Remove</button>
  {% endif %}
</form>
{% endif %}
