{% set table_rows = [] %}
{% for object in object_list %}
  {% set object_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("additional_code-ui-detail", kwargs={"sid": object.sid}) }}">{{ object.type.sid ~ object.code }}</a>
  {%- endset %}
  {{ table_rows.append([
    {"html": object_link},
    {"text": object.get_description().description},
    {"text": object.type.sid ~ " - " ~ object.type.description, "classes": "govuk-!-width-one-eighth"},
    {"text": "{:%d %b %Y}".format(object.valid_between.lower)},
    {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
    {"text": object.transaction.workbasket.get_status_display()},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "ID"},
    {"text": "Description"},
    {"text": "Type"},
    {"text": "Start date"},
    {"text": "End date"},
    {"text": "Status"}
  ],
  "rows": table_rows
}) }}
