{% set object_type = "import batch" %}
{% set object_type_plural = "import batches" %}
{% set form_url = "taric_parser_import_ui_list" %}
{% set list_include = "taric_parser/importer_list.jinja" %}


{%- include "layouts/list.jinja" -%}
