{% extends "layouts/create.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Create a " ~ verbose_name  %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view "~ verbose_name ~ "s", "href": list_url},
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}
