{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "tasks/macros/display_details.jinja" import display_assignees %}
{% from "tasks/macros/display_details.jinja" import display_workbasket %}
{% from "tasks/macros/display_details.jinja" import display_summary_row_stacked %}

{% set page_title = verbose_name|capitalize ~ " " ~ object.id %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and view " ~ verbose_name ~ "s", "href": object.get_url("list")},
      {"text": page_title}
    ],
    with_workbasket=False,
  ) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        <span class="govuk-caption-xl">{{ object.title }}</span>
        {{ page_title }}
      </h1>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Description</h2>
      <p class="govuk-body"> {{ object.description }}</p>

      <h2 class="govuk-heading-m">Steps</h2>
      {% if object_list %}
        {% include list_include %}
      {% else %}
        <p class="govuk-body">There are no {{ task_object_name }}s for this {{ object_name }}.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Details</h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        {% if verbose_name == "ticket" %}
          {{ display_summary_row_stacked("Workbasket", display_workbasket(object.summary_task.workbasket)) }}
          {{ display_summary_row_stacked("Status", object.summary_task.progress_state) }}
          {{ display_summary_row_stacked("Assignee", display_assignees(object.summary_task.assignees.assigned())) }}
          {{ display_summary_row_stacked("Work type", object.creator_template.title) }}
          {{ display_summary_row_stacked("Created date", object.summary_task.created_at|format_date) }}
          {{ display_summary_row_stacked("Entry into force date", "None") }}
          {{ display_summary_row_stacked("Policy contact", "None") }}
        {% elif verbose_name == "ticket template" %}
          {{ display_summary_row_stacked("Created by", object.creator.get_displayname()) }}
          {{ display_summary_row_stacked("Created date", object.created_at|format_date) }}
        {% endif %}
      </dl>
    </div>
  </div>

  {% if verbose_name == "ticket template" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
          {{ govukButton({
            "text": "Add a step",
            "href": url("workflow:task-template-ui-create", kwargs={"workflow_template_pk": object.pk}),
          }) }}
          {{ govukButton({
            "text": "Delete " ~ verbose_name,
            "href": object.get_url("delete"),
            "classes": "govuk-button--warning"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
