{% extends 'layouts/create.jinja' %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Create a task template" %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view workflow templates", "href": "#TODO"},
      {
        "text": "Workflow template: " ~ task_workflow_template.title,
        "href": url("workflow:task-workflow-template-ui-detail", kwargs={"pk": task_workflow_template.pk}),
      },
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}
