{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Task template: " ~ object.title %}
{% set edit_url = "#TODO" %}


{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view workflow templates", "href": "#TODO"},
      {
        "text": "Workflow template: " ~ task_workflow_template.title,
        "href": url(
          "workflow:task-workflow-template-ui-detail",
          kwargs={"pk": task_workflow_template.pk}),
      },
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <h2 class="govuk-heading-m">Details</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">ID</dt>
      <dd class="govuk-summary-list__value">{{ object.pk }}</dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Title</dt>
      <dd class="govuk-summary-list__value">{{ object.title }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ object.get_url(action='edit') }}">Change<span class="govuk-visually-hidden"> title</span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ object.description }}</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ object.get_url(action='edit') }}">Change<span class="govuk-visually-hidden"> description</span></a>
      </dd>
    </div>
  </dl>

  <div class="govuk-button-group govuk-!-margin-top-6">
  {{ govukButton({
      "text": "Delete task template",
      "href": "#TODO",
      "classes": "govuk-button--warning"
  }) }}
  </div>
{% endblock %}
