{% extends "layouts/create.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Create a workflow template" %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view workflow templates", "href": url("workflow:task-workflow-template-ui-list")},
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}
