{% extends "common/confirm_create.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Workflow template created" %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view workflow templates", "href": "#TODO"},
      {
        "text": "Create a workflow template",
        "href": url("workflow:task-workflow-template-ui-create"),
      },
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": "Workflow template: " ~ object.title,
    "text": "You have created a new workflow template",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}

{% block button_group %}
  {{ govukButton({
    "text": "View workflow template",
    "href": url("workflow:task-workflow-template-ui-detail", kwargs={"pk": object.pk}),
    "classes": "govuk-button"
  }) }}
  {{ govukButton({
    "text": "Create a task template",
    "href": url("workflow:task-template-ui-create", kwargs={"workflow_template_pk": object.pk}),
    "classes": "govuk-button--secondary"
  }) }}
{% endblock %}

{% block actions %}
  <li><a href="TODO" class="govuk-link">Find and view workflow templates</a></li>
{% endblock %}
