{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Workflow template: " ~ object.title %}
{% set list_include = "tasks/includes/task_queue.jinja" %}

{% set edit_url = object.get_url("edit") %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and view workflow templates", "href": url("workflow:task-workflow-template-ui-list")},
      {"text": page_title}
    ],
    with_workbasket=False,
  ) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <h2 class="govuk-heading-m">Details</h2>
  
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        ID
      </dt>
      <dd class="govuk-summary-list__value">
        {{ object.pk }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Title
      </dt>
      <dd class="govuk-summary-list__value">
        {{ object.title }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ edit_url }}">Change<span class="govuk-visually-hidden"> title</span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Description
      </dt>
      <dd class="govuk-summary-list__value">
        {{ object.description }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ edit_url }}">Change<span class="govuk-visually-hidden"> description</span></a>
      </dd>
    </div>
  </dl>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Task templates</h2>
    </div>

    <div class="govuk-grid-column-one-quarter">
      {{ govukButton({
        "text": "Create task template",
        "href": url("workflow:task-template-ui-create", kwargs={"workflow_template_pk": object.pk}),
        "classes": "govuk-button align-right"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if object_list %}
        {% include list_include %}
      {% else %}
        <p class="govuk-body">There are no task templates for this workflow template.</p>
      {% endif %}
    </div>
  </div>

  <div class="govuk-button-group govuk-!-margin-top-6">
    {{ govukButton({
      "text": "Delete workflow template",
      "href": object.get_url("delete"),
      "classes": "govuk-button--warning"
    }) }}
    {{ govukButton({
      "text": "Find and view workflow templates",
      "href": "#TODO",
      "classes": "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}
