{% extends "layouts/confirm.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Workflow template deleted" %}

{% block breadcrumb %}
  {{ breadcrumbs(
    request,
    [
      {"text": "Find and view workflow templates", "href": "#TODO"},
      {"text": page_title}
    ],
    False,
  ) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": "Workflow template ID: " ~ deleted_pk,
    "text": "Workflow template has been deleted",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}

{% block button_group %}
  {{ govukButton({
    "text": "Find and view workflow templates",
    "href": "#TODO",
    "classes": "govuk-button"
  }) }}
  {{ govukButton({
    "text": "Create a workflow template",
    "href": url("workflow:task-workflow-template-ui-create"),
    "classes": "govuk-button--secondary"
  }) }}
{% endblock %}

{% block actions %}
{% endblock %}
