
.tap-inline {
    .tap-row {
        display: flex;
        flex-direction: row;
    }

    .tap-column {
        flex-grow: 1;
        display: flex;

        .govuk-form-group {
            display: flex;
            flex-direction: column;
            width: 100%;

            .autocomplete__wrapper {
                margin-bottom: 0 !important;
            }
            .autocomplete,
            > input,
            > .tap-copy-down-wrapper {
                margin-top: auto;
            }
        }
    }
    .tap-column:nth-child(2) {
        margin-left: 15px;
    }
}

.tap-copy-down {
    padding: 10px;
    background-image: url("/common/static/common/images/copy-down-arrow.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #f3f2f1;
    box-shadow: inset 0 -2px 0 #929191;
    border: 0;
    cursor: pointer;
}
.tap-copy-down:hover {
    color: #0b0c0c;
    background-color: #dbdad9;
}
.tamato-badge-light-blue {
    @extend .tamato-badge;
    background-color: rgb(185, 196, 238);
    color: rgb(34, 21, 146);
}
.tamato-badge-light-yellow {
    @extend .tamato-badge;
    background-color: rgb(237, 234, 192);
    color: rgb(93, 87, 31);
}