{% from "components/table/macro.njk" import govukTable -%}
{% if report.slug() == "table_report_of_eu_data" -%} 
<script nonce="{{ request.csp_nonce }}" src="{{ static('common/js/ag-grid-community.min.js') }}" async></script>
<script nonce="{{ request.csp_nonce }}">


    document.addEventListener('DOMContentLoaded', function () {
    const gridOptions = {
        columnDefs: {{ report.headers() | tojson }},
        rowData: {{ report.rows(current_page_data) | tojson }},
        filter: true
    };

    agGrid.createGrid(document.querySelector('#myGrid'), gridOptions, {
        onFirstDataRendered: function (params) {
            alert('hello')
        }
    });
});
</script>
{% endif -%}
{% if report.tabular_reports -%}

    <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#{{ report.tab_name | replace(' ', '_') | lower }}">
            {{ report.tab_name}}
        </a>
        </li>
        <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#{{ report.tab_name2 | replace(' ', '_') | lower }}">
            {{ report.tab_name2 }}
        </a>
        </li>
        <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#{{ report.tab_name3 | replace(' ', '_') | lower }}">
            {{ report.tab_name3 }}
        </a>
        </li>
        <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#{{ report.tab_name4 | replace(' ', '_') | lower }}">
            {{ report.tab_name4 }}
        </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="{{ report.tab_name | replace(' ', '_') | lower }}">
        <h2 class="govuk-heading-l">{{ report.tab_name }}</h2>
            <a id="exportToCSVLink{{report.tab_name | replace(' ', '_') | lower}}" class="govuk-button report-button-inline" href="{{ url("reports:export_report_to_csv", kwargs={"report_slug": report.slug() }) }}">Export to CSV</a>
        {{ govukTable({
        "head": report.headers(),
        "rows": report.rows()
    }) }}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="{{ report.tab_name2 | replace(' ', '_') | lower }}">
    <div>
        <h2 class="govuk-heading-l">{{ report.tab_name2 }}</h2>
            <a id="exportToCSVLink{{report.tab_name2 | replace(' ', '_') | lower}}" class="govuk-button report-button-inline" href="{{ url("reports:export_report_with_tabs_to_csv", kwargs={"report_slug": report.slug(), "current_tab": report.tab_name2 | replace(' ', '_') | lower }) }}">Export to CSV</a>
            </div>
        {{ govukTable({
        "head": report.headers2(),
        "rows": report.rows2()
    }) }}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="{{ report.tab_name3 | replace(' ', '_') | lower }}">
        <h2 class="govuk-heading-l">{{ report.tab_name3 }}</h2>
            <a id="exportToCSVLink{{report.tab_name3 | replace(' ', '_') | lower}}" class="govuk-button report-button-inline" href="{{ url("reports:export_report_with_tabs_to_csv", kwargs={"report_slug": report.slug(), "current_tab": report.tab_name3 | replace(' ', '_') | lower }) }}">Export to CSV</a>
        {{ govukTable({
        "head": report.headers3(),
        "rows": report.rows3()
    }) }}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="{{ report.tab_name4 | replace(' ', '_') | lower }}">
        <h2 class="govuk-heading-l">{{ report.tab_name4 }}</h2>
        <a id="exportToCSVLink{{report.tab_name4 | replace(' ', '_') | lower}}" class="govuk-button report-button-inline" href="{{ url("reports:export_report_with_tabs_to_csv", kwargs={"report_slug": report.slug(), "current_tab": report.tab_name4 | replace(' ', '_') | lower }) }}">Export to CSV</a>
        {{ govukTable({
        "head": report.headers4(),
        "rows": report.rows4()
    }) }}
    </div>
    </div>

{% else -%}
    {% if current_page_data -%}
    {% if report.slug() == "table_report_of_eu_data" -%}
    <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
    {% else -%}
        {{ govukTable({
        "head": report.headers(),
        "rows": report.rows(current_page_data)
    }) }}
    {% endif -%}
    

        <nav class="pagination tamato-clearfix" role="navigation" aria-label="Pagination Navigation"><nav class="pagination tamato-clearfix" role="navigation" aria-label="Pagination Navigation">
    <div class="govuk-body">
        Showing {{ current_page_data|length }} of {{ current_page_data.paginator.count }}
        {# Polymorphic TrackedModelsQuerySet instances don't have a valid `model`. #}
        {% if items_name %}
            {{items_name}}
        {% elif current_page_data.object_list.model %}
            {{ current_page_data.object_list.model._meta.verbose_name_plural if current_page_data.paginator.count > 1 else current_page_data.object_list.model._meta.verbose_name }}
        {% else %}
            "items"
        {% endif %}
    </div>
    <div class="govuk-body">
        Page {{ current_page_data.number }} of {{ current_page_data.paginator.num_pages }}
    </div>
    <ul class="govuk-list align-right">
        {% if current_page_data.has_previous %}
            <li>
                <a
                    class="govuk-link govuk-!-margin-right-1"
                    href="?{{ query_transform(request, page=1)}}"
                    rel="prev"
                    aria-label="Go to First Page"
                >
                    First
                </a>
            </li>
            <li>
                <a
                    class="govuk-link govuk-!-margin-right-1"
                    href="?{{ query_transform(request, page=current_page_data.previous_page_number)}}"
                    rel="prev"
                    aria-label="Go to Previous Page"
                >
                    Prev
                </a>
            </li>
        {% endif %}
        {% for page_link in current_page_data.paginator.page_range %}
            {% set isCurrent = page_link == current_page_data.number %}
            {% if page_link >= current_page_data.number - 5 and page_link <= current_page_data.number + 5 %}

            <li
                class="{{ 'govuk-!-margin-left-2 govuk-!-margin-right-2' if isCurrent else 'govuk-!-margin-right-1'}}"
                {% if isCurrent %}aria-current="true"{% endif %}
            >
                {% if page_link == '...' or page_link == current_page_data.number|string %}
                    {{ page_link }}
                {% else %}
                    <a
                        class="govuk-link"
                        href="?{{ query_transform(request, page=page_link) }}"
                        aria-label="Go to Page {{ page_link }}"
                    >{{ '{0:,}'.format(page_link|int) }}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        {% if current_page_data.paginator.limit_breached %}
            <li class="govuk-!-margin-right-1" >...</li>
        {% endif %}
        {% if current_page_data.has_next %}
            <li>
                <a
                    class="govuk-link"
                    href="?{{ query_transform(request, page=current_page_data.next_page_number()) }}"
                    rel="next"
                    aria-label="Go to Next Page"
                >
                    Next
                </a>
            </li>
            <li>
                <a
                    class="govuk-link"
                    href="?{{ query_transform(request, page=current_page_data.paginator.num_pages) }}"
                    rel="next"
                    aria-label="Go to Last Page"
                >
                    Last
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% else -%}
    {{ govukTable({
        "head": report.headers(),
        "rows": report.rows()
    }) }}
    {% endif -%}
{% endif -%}