{% extends "common/confirm_update.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% block breadcrumb %}
{% include "includes/quotas/blocking-breadcrumbs.jinja"%}
{% endblock %}

{% block main_button %}
{{ govukButton({
  "text": "View other blocking periods for this quota order number",
  "href": url('quota_definition-ui-list-filter', kwargs={'sid': object.quota_definition.order_number.sid, 'quota_type': "blocking_periods"}),
  "classes": "govuk-button--secondary"
}) }}
{% endblock%}

{% block actions %}
<li><a href="{{ object.quota_definition.order_number.get_url('list') }}">Find and edit quotas</a></li>
{% endblock %}