{% from "components/table/macro.njk" import govukTable %}

{% set table_rows = [] %}

{% for object in object_list %}
  {% set object_link -%}
    <a class="govuk-link" href="{{ object.get_url(action='detail') }}">{{ object.title }}</a>
  {%- endset %}

  {{ table_rows.append([
    {"html": object_link},
    {"text": object.progress_state},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "Name"},
    {"text": "Status"}
  ],
  "rows": table_rows
}) }}
