{% from "components/table/macro.njk" import govukTable %}
{% from "tasks/macros/item_actions.jinja" import render_item_button %}

{%- set table_rows = [] -%}

{%- for obj in object_list %}
  {%- set up_down_cell_content %}
    {% if object_list|length == 1 %}
      {# No buttons needed for a single item #}
    {% elif loop.index == 1 %}
      {{ render_item_button(obj, "demote", use_icon=True) }}
    {% elif loop.index == 2 %}
      {{ render_item_button(obj, "promote", use_icon=True) }}
      <br>
      {% if 2 < object_list | length %}
        {{ render_item_button(obj, "demote", use_icon=True) }}
      {% endif %}
    {% elif loop.index == object_list | length %}
      {{ render_item_button(obj, "promote", use_icon=True) }}
    {% else %}
      {{ render_item_button(obj, "promote", use_icon=True) }}
      <br>
      {{ render_item_button(obj, "demote", use_icon=True) }}
    {% endif %}
  {% endset -%}

  {%- set title_cell_content %}
    <a href="{{ obj.get_url(action='detail') }}" class="govuk-link">{{ obj.title }}</a>
  {% endset -%}

  {%- set description_cell_content %}
    <span>{{ obj.description|truncate(50) }}</span>
  {% endset -%}

  {%- set order_cell_content %}
    {% if object_list|length == 1 %}
      {# No buttons needed for a single item #}
    {% elif loop.index == 1 %}
      {{ render_item_button(obj, "demote_to_last") }}
    {% elif loop.index == object_list | length %}
      {{ render_item_button(obj, "promote_to_first") }}
    {% else %}
      {{ render_item_button(obj, "promote_to_first") }}
      <br>
      {{ render_item_button(obj, "demote_to_last") }}
    {% endif %}
  {% endset -%}

  {%- set remove_cell_content %}
    <a href="{{ obj.get_url("delete") }}" class="govuk-link">Remove</a>
  {% endset -%}

  {{ table_rows.append([
    {"html": up_down_cell_content},
    {"text": loop.index},
    {"html": title_cell_content},
    {"html": description_cell_content},
    {"html": order_cell_content},
    {"html": remove_cell_content},
  ]) or "" }}

{% endfor -%}

<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  {{ govukTable({
    "head": [
      {"text": ""},
      {"text": "Position"},
      {"text": "Title"},
      {"text": "Description"},
      {"text": "Order"},
      {"text": "Remove"},
    ],
    "rows": table_rows,
  }) }}
</form>
