{% set table_rows = [] %}
{% for object in object_list %}
  {{ table_rows.append([
    {"text": object.name},
    {"text": "{:%d %b %Y}".format(object.created_at)},
    {"text": object.chunks_waiting},
    {"text": object.chunks_running},
    {"text": object.chunks_done},
    {"text": object.chunks_errored},
  ]) or "" }}
{% endfor %}
{{ govukTable({
  "head": [
    {"text": "Taric ID number"},
    {"text": "Date added"},
    {"text": "Uploaded by"},
    {"text": "Status"},
  ],
  "rows": table_rows
}) }}
