{% set table_rows = [] %}

{% for object in object_list %}
  {{ table_rows.append([
    {"text": object.name},
    {"text": "{:%d %b %Y}".format(object.created_at)},
    {"text": object.author.get_full_name() if object.author else "-"},
    {"text": "Placeholder Status"},
    {"text": ""},

  ]) or "" }}
{% endfor %}
{{ govukTable({
  "head": [
    {"text": "Taric ID number"},
    {"text": "Date added"},
    {"text": "Uploaded by"},
    {"text": "Status"},
  ],
  "rows": table_rows
}) }}
