{% from "components/create-status-tag.jinja" import create_status_tag%}

{% set table_rows = [] %}

{% for object in object_list %}
  {%- set import_status_cell -%}
    {{ create_status_tag(object, status_tag_generator) }}
  {%- endset -%}

  {%- set details_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url('commodity_importer-ui-details', kwargs={'pk': object.pk}) }}">{{ object.name }}</a>
  {%- endset %}


  {%- set goods_status_cell -%}
    {% if goods_status(object) == "editable_goods" %}
      <form action="{{ url("workbaskets:workbasket-ui-list") }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="workbasket" value="{{ object.workbasket.pk }}">
        <input type="hidden" name="workbasket-tab" value="review-goods">
        <input type="submit" class="button-link" name="submit" value="View Workbasket {{object.workbasket.pk}}">
      </form>
    {% elif goods_status(object) == "no_goods" %}
      <span>No action</span>
    {%- else -%}
      <span></span>
    {%- endif -%}
  {%- endset -%}

  {%- set author -%}
    {% if object.author %}
      {% if object.author.get_full_name() %}
        {{ object.author.get_full_name() }}
      {% elif object.author.email %}
        {{ object.author.email }}
      {% else %}
        {{ object.author.username }}
      {% endif %}
    {% else %}
      -
    {% endif %}
  {%- endset -%}

  {{ table_rows.append([
    {"text": details_link},
    {"text": "{:%d %b %Y}".format(object.created_at)},
    {"text": author},
    {"text": import_status_cell},
    {"html": goods_status_cell, "classes": "goods-status " ~ goods_status(object)},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "Taric ID number"},
    {"text": "Date added"},
    {"text": "Uploaded by"},
    {"text": "Status"},
    {"text": "Action"},
  ],
  "rows": table_rows
}) }}
