{% set table_rows = [] %}

{% for object in object_list %}
  {%- set object_status -%}
    <span class="status-badge">{{object.status}}</a>
  {%- endset -%}

  {%- set object_link -%}
    <a class="govuk-link" href="#">Resume</a>
  {%- endset -%}

  {%- set author -%}
    {% if object.author %}
      {% if object.author.get_full_name() %}
        {{ object.author.get_full_name() }}
      {% elif object.author.email %}
        {{ object.author.email }}
      {% else %}
        {{ object.author.username }}
      {% endif %}
    {% else %}
      -
    {% endif %}
  {%- endset -%}

  {{ table_rows.append([
    {"text": object.name},
    {"text": "{:%d %b %Y}".format(object.created_at)},
    {"text": author},
    {"text": object_status},
    {"html": object_link},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "Taric ID number"},
    {"text": "Date added"},
    {"text": "Uploaded by"},
    {"text": "Status"},
    {"text": ""},
  ],
  "rows": table_rows
}) }}
