{% extends "layouts/layout.jinja" %}

{% set page_title = "You do not have access to this part of the service" %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have access to this part of the service</h1>
        <p class="govuk-body">
          <a class="govuk-link" href="https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&FormId=7Beij6oz-0atlt_mgAa7hnv6Jn6EmylOnTuPOq1EO2NUMjBNRllURlk0R0dFS1FHQkVBMFhNWjROVi4u">Contact the Tariff Application Platform (TAP) team</a> to change your access rights.
        </p>
        <p class="govuk-body">You will need to describe what you were doing before seeing this error message.</p>
        <p class="govuk-body">The team will reply to you within two working days.</p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
