{% extends "layouts/layout.jinja" %}

{% set page_title = "Accessibility statement" %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement for the Tariff management tool</h1>
    <p class="govuk-body" id="about-the-accessibility-of-this-service">
    This website is run by the Department for Business and Trade (DBT). The Tariff Application
    Platform is where DBT staff and partners can access and where authorised make changes to
    the UK’s integrated Tariff database.
    </p>
    <p class="govuk-body">
    DBT regularly tests its online services to ensure they meet accessibility requirements. Our
    internal development teams test frequently. We also do regular accessibility audits conducted
    by external agencies. We want our whole website to comply with Web Content Accessibility
    Guidelines (WCAG) 2.1 AA as a minimum.
    </p>
    <p class="govuk-body">
      We want as many people as possible to be able to use this website. For example, that means
      you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>zoom in up to 200% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader</li>
    </ul>
    <p class="govuk-body">
    This site will:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>respond to different screen sizes or zoom levels</li>
      <li>communicate information without relying on colour</li>
    </ul>
    <p class="govuk-body">
      AbilityNet has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-m" id="how-accessible-this-website-is">
      How accessible this website is
    </h2>
    <p class="govuk-body govuk-!-font-weight-bold" >
    We are constantly improving the content and performance of our website to make sure
    it can best support DBT employees to find the data and insights they need. Recent
    testing showed that parts of the website are not fully accessible. For example:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
      <li>Users needing to make physical changes to the tariff will struggle to complete
          tasks when using a screen reader</li>
    </ul>

    <h2 class="govuk-heading-m" id="reporting-accessibility-problems">
      Reporting accessibility problems with this website
    </h2>
    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website.
      If you find any problems not listed on this page or think we’re not meeting accessibility requirements,
      contact: <a class="govuk-link" href="mailto:stephen.corder@businessandtrade.gov.uk">stephen.corder@businessandtrade.gov.uk</a>.
    </p>
    <h2 class="govuk-heading-m" id="enforcement-procedure">
      Enforcement Procedure
    </h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public
      Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
      (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,
      contact the Equality Advisory and Support Service (EASS).
    </p>
    <h2 class="govuk-heading-m" id="technical-information-about-accessibility">
      Technical information about this website's accessibility
    </h2>
    <p class="govuk-body">
      The Department for Business and Trade is committed to making its websites accessible, in
      accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2)
      Accessibility Regulations 2018.
      This website is partially compliant with the Web Content Accessibility Guidelines version
      2.1 A standard.
    </p>
    <h2 class="govuk-heading-m" id="website-testing">
      How we tested this website
    </h2>
    <p class="govuk-body">
      The website is frequently tested using automated software (Wave). It's also manually tested
      by the development team. We manually test pages with users and technical development
      teams before they are made publicly available.
    </p>
    <p class="govuk-body">
      The website was audited by The Digital Accessibility Centre (DAC) in January 2024. The
      service is measured against the Web Accessibility Initiative’s (WAI) Web Content
      Accessibility Guidelines 2.1 (WCAG 2.1) to give an accurate feedback on any non-compliant
      issues. To attain the standard accreditation all A and AA criteria must be achieved.
    </p>
    <p class="govuk-body">
      To give a more accurate review of the service the DAC team use two testing processes. The
      first is a manual technical audit using automated tools. The second is a dedicated team of user
      testers with differing disabilities who use a range of adaptive technologies. The findings of
      both testing teams are combined to provide more accurate feedback
    </p>
    <p class="govuk-body">
    This statement was prepared on 10 December 2024.
    </p>
  </div>
</div>
{% endblock %}