{% extends "layouts/layout.jinja" %}

{% set page_title = "Accessibility statement" %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement for the Tariff application platform</h1>
    <p class="govuk-body" id="about-the-accessibility-of-this-service">
      The Department for Business and Trade digital team is committed to making sure our online services are accessible
      to all users and comply with level AA of the Web Content Accessibility Guidelines – WCAG 2.1,
      in line with The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <p class="govuk-body">
      In order to help us achieve and maintain our objective, we have commissioned
      <a href="https://digitalaccessibilitycentre.org/">
        The Digital Accessibility Centre (DAC)
      </a>
      to carry out WCAG 2.1 AA level technical compliance audits that also include extensive manual testing.
    </p>
    <p class="govuk-body">
      The services/websites currently booked in for testing are:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Tariff application platform</li>
    </ul>
    <p class="govuk-body">
      We anticipate the outcome of all tests to be complete by <b>30th June 2023</b>.
    </p>

    <h2 class="govuk-heading-m" id="what-to-do-if-you-cannot-access-parts-of-this-website">
      What to do if you cannot access parts of this website
    </h2>
    <p class="govuk-body">
      If you need information on this website in a different format, email
      <a class="govuk-link" href="mailto:stephen.corder@trade.gov.uk">stephen.corder@trade.gov.uk</a>.
    </p>
    <p class="govuk-body">
      If you have a problem with accessing any of the pages on this site you can contact us at
      <a class="govuk-link" href="mailto:9cf0f83c.trade.gov.uk@uk.teams.ms">9cf0f83c.trade.gov.uk@uk.teams.ms</a>.
      We’ll get back to you within 5 working days.
    </p>

    <h2 class="govuk-heading-m" id="reporting-accessibility-problems">
      Reporting accessibility problems with this website
    </h2>
    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website.
      If you find any problems or think we’re not meeting the requirements of the accessibility regulations,
      please tell us by contacting <a class="govuk-link" href="mailto:stephen.corder@trade.gov.uk">stephen.corder@trade.gov.uk</a>.
    </p>
  </div>
</div>
{% endblock %}