{% extends "layouts/layout.jinja" %}

{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/table/macro.njk" import govukTable %}


{% set page_title = "Application information" %}


{% block breadcrumb %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ url('home') }}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{ page_title }}
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">
    {% block page_title %}
      {{ page_title }}
    {% endblock %}
  </h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Active business rule checks</h2>

      {% set table_head = [
          {"text": "Workbasket ID"},
          {"text": "Time started"},
          {"text": "Checks completed"},
          {"text": "Celery task ID"},
      ] %}
      {% set table_rows = [] %}

      {% if celery_healthy %}
        {% if active_checks %}
          {% for check in active_checks %}
            {{ table_rows.append([
                {"text": check.workbasket_id},
                {"text": check.date_time_start},
                {"text": check.checks_completed},
                {"text": check.task_id},
            ]) or "" }}
          {% endfor %}
        {% else %}
          {{ table_rows.append([
            {
              "text": "No active checks.",
              "colspan": 4,
            }
          ]) or "" }}
        {% endif %}
      {% else %}
          {{ table_rows.append([
            {
              "text": "Business rule check details are currently unavailable.",
              "colspan": 4,
            }
          ]) or "" }}
      {% endif %}

      {{ govukTable({
          "head": table_head,
          "rows": table_rows
      }) }}
    </div>
  </div>


  {% if request.user.is_superuser %}
  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Deployment Information</h2>

      {% set table_head = [
        {"text": "Name"},
        {"text": "Value"},
        {"text": "Description"},
      ] %}

      {% set table_rows = [
        [
          {"text": "GIT_BRANCH"},
          {"text": GIT_BRANCH},
          {"text": "Environment variable"},
        ],
        [
          {"text": "GIT_COMMIT"},
          {"text": GIT_COMMIT},
          {"text": "Environment variable"},
        ],
        [
          {"text": "APP_UPDATED_TIME"},
          {"text": "{:%d %b %Y, %H:%M}".format(APP_UPDATED_TIME|localtime)},
          {"text": "Estimated application deploy time"},
        ],
        [
          {"text": "LAST_TRANSACTION_TIME"},
          {"text": "{:%d %b %Y, %H:%M}".format(LAST_TRANSACTION_TIME|localtime)},
          {"text": "Time that a transaction was last updated"},
        ],
      ] %}

      {{ govukTable({
          "head": table_head,
          "rows": table_rows
      }) }}
    </div>
  </div>
{% endif %}

{% endblock %}
