{% extends "layouts/layout.jinja" %}
{% from "macros/fake_tabs.jinja" import fake_tabs %}

{% block breadcrumb %}
{% endblock %}

{% set links = [
    {
      "text": "Create",
      "href": url('measure-create-process-queue'),
      "selected": selected_tab == "measure-create-process-queue"
    },
    {
      "text": "Edit",
      "href": url('measure-edit-process-queue'),
      "selected": selected_tab == "measure-edit-process-queue"
    },
    {
      "text": "Rule check queue",
      "href": url('workbaskets:rule-check-queue'),
      "selected": selected_tab == "rule-check-queue",
    }
  ]
%}

{% set refresh_button_content -%}
  Refresh
  <img
    src="{{ static('common/images/mdi_refresh.svg') }}"
    alt="refresh filter results"
  >
{%- endset %}

{% block content %}
  <h1 class="govuk-heading-xl">Measure processing queue</h1>
  {{ fake_tabs(links) }}
  <div class="govuk-tabs__panel">
    {% block tab_content %}{% endblock %}
  </div>
{% endblock %}