{% extends "layouts/confirm.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Create a new " ~ object._meta.verbose_name %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string, "href": object.get_url()},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": object._meta.verbose_name|title ~ " " ~ object|string ~ " has been created",
    "text": "This new " ~ object._meta.verbose_name ~ " has been added to your workbasket",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}
