{% extends "layouts/confirm.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = object._meta.verbose_name|capitalize ~ " created" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Create " ~ object._meta.verbose_name_plural, "href": object.get_url("create")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string ~ " created"}
    ])
  }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": object._meta.verbose_name|capitalize ~ ": " ~ object|string,
    "text": object._meta.verbose_name|capitalize ~ ": " ~ object|string ~ " has been created and added to workbasket " ~ request.user.current_workbasket.pk,
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}
