{% extends "layouts/confirm.jinja" %}

{% set page_title = "Edit " ~ object._meta.verbose_name ~ " details" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("dashboard")},
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string, "href": object.get_url()},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block panel %}
  {{ govukPanel({
    "titleText": object._meta.verbose_name|capitalize ~ " " ~ object|string ~ " has been updated",
    "text": "This change has been added to your tariff changes",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
{% endblock %}
