{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Edit " ~ object._meta.verbose_name %}

{% set described_object = object.get_described_object() %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit " ~ described_object._meta.verbose_name_plural, "href": described_object.get_url("list")},
      {"text": described_object._meta.verbose_name|capitalize ~ ": " ~ described_object|string, "href": described_object.get_url()},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        "titleText": "Description of " ~ described_object._meta.verbose_name ~ " " ~ described_object|string ~ " has been updated",
        "text": "This change has been added to your workbasket",
        "classes": "govuk-!-margin-bottom-7"
      }) }}

      <h2 class="govuk-heading-m">Next steps</h2>
      <p class="govuk-body">To complete your task you must publish your change. </p>
      {{ govukButton({
        "text": "Go to your workbasket summary",
        "href": url("workbaskets:current-workbasket"),
        "classes": "govuk-button--secondary"
      }) }}
      <ul class="govuk-list govuk-list-spaced">
        <li><a class="govuk-link" href="{{ described_object.get_url() }}">View {{ described_object._meta.verbose_name }} {{ described_object|string }}</a></li>
        <li><a class="govuk-link" href="{{ described_object.get_url("list") }}">Find and edit {{ described_object._meta.verbose_name_plural }}</a></li>
        {% if request.session.workbasket %}
        <li><a class="govuk-link" href="{{ url('workbaskets:edit-workbasket', args=[request.session.workbasket.id]) }}">Return to workbasket</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
