{% extends "layouts/form.jinja" %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Create a new " ~ described_object._meta.verbose_name  ~ " description" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit " ~ described_object._meta.verbose_name_plural, "href": described_object.get_url("list")},
      {"text": described_object._meta.verbose_name|capitalize ~ ": " ~ described_object|string, "href": described_object.get_url()},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Create a new description of {{ described_object._meta.verbose_name ~ ": " ~ described_object|string }}.
      </p>
      {% call django_form() %}
        {{ crispy(form) }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
