{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Tariff management dashboard overview" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Dashboard overview" }
    ]})
  }}
{% endblock %}

{% macro dashboard_block(context) %}
<div class="govuk-grid-column-one-quarter">
  <h2 class="govuk-heading-s">{{ context.title }}</h2>
  <p class="govuk-heading-xl">{{ intcomma(context.value) }}</p>
</div>
{% endmacro %}

{% block content %}
    <span class="govuk-caption-m govuk-!-margin-bottom-3">Dashboard</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{ page_title }}</h1>
    
    <div class="govuk-grid-row">
      {% for content in dashboard_contents %}
        {{ dashboard_block(content) }} 
      {% endfor %}    
    </div>
{% endblock %}






