{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Tariff management dashboard overview" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Dashboard overview" }
    ]})
  }}
{% endblock %}

{% macro dashboard_block(context) %}
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">{{ context.heading }}</h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ context.summary }}
        </span>
      </summary>
      <div class="govuk-details__text">
        {{ context.details }} 
        <a href="{{context.link}}" class="govuk-link" rel="noreferrer noopener"
         target="_blank">{{context.summary}}</a>
      </div>
    </details>
    <div class="govuk-grid-row">
      {% for count in context.counts %}
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-s">{{ count.title }}</h2>
          <p class="govuk-heading-xl">{{ intcomma(count.value) }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% block content %}
  <span class="govuk-caption-m govuk-!-margin-bottom-3">Dashboard</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{ page_title }}</h1>

  <div class="govuk-grid-row">
    {% for content in dashboard_contents %}
      {{ dashboard_block(content) }}
    {% endfor %}
  </div>
{% endblock %}
