{% extends "layouts/form.jinja" %}

{% set page_title = "Edit " ~ object._meta.verbose_name ~ " details" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("dashboard")},
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string, "href": object.get_url()},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block form %}
  {% call django_form(action=object.get_url("edit")) %}
    {{ crispy(form) }}
  {% endcall %}
{% endblock %}
