{% extends "layouts/form.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Edit " ~ object._meta.verbose_name ~ " details" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object|string, "href": object.get_url()},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block form %}
  {% call django_form(action=object.get_url("edit")) %}
    {{ crispy(form) }}
  {% endcall %}
{% endblock %}
