{% extends "layouts/form.jinja" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "tasks/macros/display_details.jinja" import display_status %}


{% set page_title = "Home" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Search the Tariff Application Platform</h1>
  <span class="govuk-caption-l govuk-!-margin-bottom-4">This service lets you manage the UK's import and export tariff data</span>

  {% block form %}
    <div class="govuk-grid-row">
      <div id="homepage-search" class="govuk-grid-column-full">
        {% call django_form() %}
          {{ crispy(form) }}
        {% endcall %}
      </div>
    </div>
  {% endblock %}

  <div id="masonry-container" class="govuk-grid-row">
    {% if request.user.groups.filter(name='Tariff Managers').exists() or request.user.is_superuser %}

    {% set my_tickets_rows = []%}
      {% for ticket in my_tickets %}
      
        {%- set ticket_linked_id -%}
            <a
              class="govuk-link"
              href="{{ url('workflow:task-workflow-ui-detail', kwargs={'pk':  ticket.taskworkflow.pk}) }}"
            >{{ ticket.taskworkflow.pk }}</a>
        {%- endset -%}

        {{ my_tickets_rows.append([          
            {"html": ticket_linked_id},
            {"text": ticket.title},
            {"text": display_status(ticket.progress_state.__str__())}

        ],
        ) or "" }}
      {% endfor %}

      <article class="masonry-card">
        <h3 class="govuk-heading-m">Tickets</h3>
            <div class="govuk-button-group">
              <a href="{{ url('workflow:task-workflow-ui-list') }}"
              class="govuk-button"
            >View all tickets</a>
              <a href="{{ url('workflow:task-workflow-ui-list') }}"
            class="govuk-button govuk-button--secondary"
          >Create a new ticket</a>
            </div>
        {% if request.user.is_superuser %}
          <p class="govuk-body"></p>
          <a href="{{ url('workflow:task-workflow-template-ui-list') }}"
            class="govuk-link"
          >View ticket templates</a>
          </p>
        {% endif %}
        <h4>My tickets</h4>
        <p><a href="#NOT-IMPLEMENTED" class="govuk-link">View all my tickets</a>
        </p>
        {{ govukTable({
          "head": [
            {"text": "ID", "classes": "govuk-visually-hidden"},
            {"text": "Title", "classes": "govuk-visually-hidden"},
            {"text": "Status", "classes": "govuk-visually-hidden"},
                  ],
          "rows": my_tickets_rows
}) }}
      </article>
    {% endif %}

    {% if request.user.groups.filter(name='Tariff Managers').exists() or request.user.is_superuser %}
      <article class="masonry-card">
        <h3 class="govuk-heading-m">Tickets in review</h3>
          <p class="govuk-body"></p>
          <a href="{{ url('workflow:task-workflow-ui-list') }}"
            class="govuk-link"
          >Tickets</a>
          </p>
        {% if request.user.is_superuser %}
          <p class="govuk-body"></p>
          <a href="{{ url('workflow:task-workflow-template-ui-list') }}"
            class="govuk-link"
          >Ticket templates</a>
          </p>
        {% endif %}
      </article>
    {% endif %}

    {% if can_view_workbasket %}
      <article class="masonry-card">
        <h3 class="govuk-heading-m">Workbaskets</h3>

        <div>
          {% if can_add_workbasket %}
              <p><a href="{{ url('workbaskets:workbasket-ui-create') }}">Create a workbasket</a></p>
          {% endif %}

          {% if can_edit_workbasket %}
              <p><a href="{{ url('workbaskets:workbasket-ui-list') }}">Edit a workbasket</a></p>
          {% endif %}

          {% if can_manage_packaging %}
              <p><a href="{{ url('publishing:packaged-workbasket-queue-ui-list') }}">Package workbaskets</a><br></p>
          {% endif %}
            <p><a href="{{ url('workbaskets:workbasket-ui-list-all') }}">Search for workbaskets</a></p>
        </div>
      </article>
    {% endif %}

    {% if can_import_taric %}
      <article class="masonry-card">
        <h3 class="govuk-heading-m">EU TARIC files</h3>
        <p class="govuk-body">
          <a href="{{ url('commodity_importer-ui-list') }}"
            class="govuk-link"
          >View EU import list and import new TARIC files</a>
        </p>
      </article>
    {% endif %}

    {% if can_consume_packaging %}
      <article class="masonry-card">
        <h3 class="govuk-heading-m">Envelopes</h3>
        <p class="govuk-body">
          <a href="{{ url('publishing:envelope-queue-ui-list') }}"
            class="govuk-link"
          >Process envelopes</a>
        </p>
      </article>
    {% endif %}

    {% if can_view_processing_queues %}
      <article class="masonry-card">
        <h3 class="govuk-heading-m">Processing queues</h3>
        <p class="govuk-body">
          <a href="{{ url('measure-create-process-queue') }}"
            class="govuk-link"
          >Measures create process queue</a>
          <br>
          This queue shows the status of measures that you submitted for
          creation.
          </p>
          <p class="govuk-body">
          <a href="{{ url('measure-edit-process-queue') }}"
            class="govuk-link"
          >Measures edit process queue</a>
          <br>
          This queue shows the status of measures that you submitted for
          editing.
          </p>
          <p class="govuk-body">
          <a href="{{ url('workbaskets:rule-check-queue') }}"
            class="govuk-link"
          >Rule check queue</a>
          <br>
          This queue shows currently running and queued business rule
          checks.
        </p>
      </article>
    {% endif %}


    <article class="masonry-card">
      <h3 class="govuk-heading-m">Resources</h3>
      <p class="govuk-body">
        We have a range of resources you can use with the Tariff Application Platform.
      </p>
      <ul id="homepage-tap-resources" class="govuk-list govuk-list--spaced">
      {% if request.user.is_superuser %}
        <li>
          <a href="{{ url('app-info') }}" class="govuk-link">Application information</a>
        </li>
          <li>
            <a href="{{ url('import_batch-ui-list') }}" class="govuk-link">Importer V1</a>
          </li>
          <li>
            <a href="{{ url('taric_parser_import_ui_list') }}" class="govuk-link">Importer V2</a>
          </li>
            {% endif %}
      {% if request.user.has_perm('reference_documents.view_referencedocument') %}
          <li>
            <a href="{{ url('reference_documents:index') }}" class="govuk-link">Reference documents</a>
          </li>

        {% endif %}
        {% if can_view_reports %}
          <li>
            <a href="{{ url('reports:index') }}" class="govuk-link"><abbr title="Tariff Application Platform">TAP</abbr> reports</a>
          </li>
        {% endif %}
        <li>
          <a href="https://uktrade.github.io/tariff-data-manual/#home" class="govuk-link" rel="noreferrer noopener" target="_blank">Tariff data manual</a>
        </li>
      </ul>
    </article>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <h2 class="govuk-heading-l govuk-grid-column-full govuk-!-margin-bottom-3">How can we support you?</h2>

    <article class="masonry-card">
      <h3 class="govuk-heading-m">Get help</h3>
      <p class="govuk-body">
        Find documentation, guidance, training and updates in the
        <a
          href="https://data-services-help.trade.gov.uk/tariff-application-platform/"
          class="govuk-link"
        >
          <abbr title="Tariff Application Platform">TAP</abbr> help centre.
        </a>
      </p>
    </article>

    <article class="masonry-card govuk-!-padding-bottom-5">
      <h3 class="govuk-heading-m">Get in touch</h3>
      <p class="govuk-body"><a class="govuk-link" href="mailto:9cf0f83c.trade.gov.uk@uk.teams.ms">Contact us</a> if you have a question or suggestion.</p>
    </article>
  </div>
{% endblock %}
