{% extends "layouts/layout.jinja" %}

{% from "components/inset-text/macro.njk" import govukInsetText %}

{% set page_title = "Manage trade tariffs" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ page_title }}
        <span class="govuk-caption-xl">
          This service lets you manage UK trade tariffs
        </span>
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Main menu
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Additional codes</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url("additional_code-ui-list") }}">
            Find and edit additional codes
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Certificates</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url("certificate-ui-list") }}">
            Find and edit certificates
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Footnotes</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url('footnote-ui-list') }}">
            Find and edit footnotes
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Geographical areas</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url('geoarea-ui-list') }}">
            Find and edit geographical areas
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Measures</h2>
      <ul class="govuk-list"
        <li>
          <a class="govuk-link" href="{{ url('measure-ui-list') }}">
            Find and edit measures
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Quotas</h2>
      <ul class="govuk-list"
        <li>
          <a class="govuk-link" href="{{ url('quota-ui-list') }}">
            Find and edit quotas
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Regulations</h2>
      <ul class="govuk-list"
        <li>
          <a class="govuk-link" href="{{ url('regulation-ui-list') }}">
            Find and edit regulations
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="govuk-body govuk-!-margin-bottom-9"></p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Workbaskets</h2>
      {% set workbaskets_notification %}
        {% with num_workbaskets = workbaskets|length %}
          {% if num_workbaskets > 0 %}
            You have {{ num_workbaskets }} workbasket{{ pluralize(num_workbaskets) }}, listed below.
          {% else %}
            You are not working with any workbaskets at the moment.
          {% endif %}
        {% endwith %}
      {% endset %}
      {{ govukInsetText({
        "text": workbaskets_notification
      }) }}
      {% include "includes/workbasket-list.jinja" %}
    </div>
  </div>
{% endblock %}
