{% extends "layouts/layout.jinja" %}

{% from "components/inset-text/macro.njk" import govukInsetText %}

{% set page_title = "Main menu" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Manage regulations</h2>
      <ul class="govuk-list"
        <li><a class="govuk-link" href="{{ url('regulation-ui-list') }}">Find and edit
            regulations</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Manage additional codes</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url("additional_code-ui-list") }}">Find and edit
            additional codes</a></li>
      </ul>
      <h2 class="govuk-heading-m">Manage footnotes</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('footnote-ui-list') }}">Find and edit
            footnotes</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Manage geographical areas</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="{{ url('geoarea-ui-list') }}">Find and edit
            geographical areas</a></li>
      </ul>
    </div>
  </div>
  <p class="govuk-body govuk-!-margin-bottom-9"></p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Workbaskets</h2>
      {% set workbaskets_notification %}
        {% with num_workbaskets = workbaskets|length %}
          {% if num_workbaskets > 0 %}
            You have {{ num_workbaskets }} workbasket{{ pluralize(num_workbaskets) }}, listed below.
          {% else %}
            You are not working with any workbaskets at the moment.
          {% endif %}
        {% endwith %}
      {% endset %}
      {{ govukInsetText({
        "text": workbaskets_notification
      }) }}
      {% include "includes/workbasket-list.jinja" %}
    </div>
  </div>
{% endblock %}
