{% extends "layouts/layout.jinja" %}

{% set page_title = "Sorry, the service is unavailable" %}

{% set workbasket_html %}{% endset %}
{% set logout_login_link %}{% endset %}
{% set can_view_workbasket %}{% endset %}
{% set can_import_taric %}{% endset %}
{% set can_manage_packaging %}{% endset %}
{% set can_consume_packaging %}{% endset %}

{% block header %}
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logotype">
        <a
          href="/"
          class="govuk-header__link govuk-header__link--service-name govuk-!-margin-right-1"
        >{{ service_name }}</a>
        <strong class="govuk-tag govuk-phase-banner__content__tag ">{{ phase_banner_tag }}</strong>
      </div>
    </div>
  </header>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">You will be able to use the service later.</p>
        <p class="govuk-body">
          <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=7Beij6oz-0atlt_mgAa7husF7H2qg6ZMi_-_m4b1eedUMjBNRllURlk0R0dFS1FHQkVBMFhNWjROViQlQCN0PWcu">Contact the Tariff Application Platform (TAP) team</a> if you have any queries. {# /PS-IGNORE #}
        </p>
        <p class="govuk-body">The team will reply to you within 2 working days.</p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
