{% extends "layouts/form.jinja" %}

{% set page_title = "Tariff Management Tool" %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page_title }}</h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-9">This service lets you manage UK trade tariffs</span>

    {% block form %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% call django_form() %}
                    {{ crispy(form) }}
                {% endcall %}
            </div>
        </div>
    {% endblock %}

    {% block reporting %}
        <div>
            <a href="{{ url('reportsindex') }}">Reports</a>
        </div>
    {% endblock %}

{% endblock %}






