{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Your current workbasket is no longer active" %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your current workbasket is no longer active</h1>
        <p class="govuk-body">
            The workbasket is no longer in the editing state. Since you last edited it, it may have been
            archived, queued, published or deleted.
        </p>
        <p class="govuk-body">Ensure you are in the correct workbasket before continuing.</p>
      </div>
    </div>
  </main>
</div>
{{ govukButton({
    "text": "Return to homepage",
    "href": url("home"),
    "classes": "govuk-button--secondary",
  }) }}
{% endblock %}
