{% extends "layouts/detail.jinja" %}

{% from "components/table/macro.njk" import govukTable %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/fake_tabs.jinja" import fake_tabs %}

{% set area_code = " (" ~ object.get_area_code_display() ~ ")" %}
{% set page_title = "Geographical area: " ~  object.area_id ~ area_code %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and edit geographical areas", "href": url("geo_area-ui-list")},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% set links = [
    {
      "text": "Details",
      "href": url('geo_area-ui-detail', kwargs={"sid": object.sid}),
      "selected": selected_tab == "details"
    },
    {
      "text": "Descriptions",
      "href": url('geo_area-ui-detail-descriptions', kwargs={"sid": object.sid}),
      "selected": selected_tab == "descriptions",
    },
    {
      "text": "Memberships",
      "href": url('geo_area-ui-detail-memberships', kwargs={"sid": object.sid}),
      "selected": selected_tab == "memberships"
    },
    {
      "text": "Measures",
      "href": url('geo_area-ui-detail-measures', kwargs={"sid": object.sid}),
      "selected": selected_tab == "measures"
    },
    {
      "text": "Version control",
      "href": url('geo_area-ui-detail-version-control', kwargs={"sid": object.sid}),
      "selected": selected_tab == "version-control"
    },
  ]
%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
    </div>
  </div>
  {{ fake_tabs(links) }}
  <div class="govuk-tabs__panel {% block content_class %}{% endblock %}">
    {% block tab_content %}
      {% include "includes/geo_areas/tabs/core_data.jinja" %}
    {% endblock %}
  </div>
{% endblock %}

