{% extends "layouts/form.jinja" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/warning-text/macro.njk" import govukWarningText %}


{% set page_title = "Terminate measure creation" %}


{% block breadcrumb %}
  {{ breadcrumbs(
      request,
      [
        {"text": "Measures process queue", "href": url("measure-create-process-queue")},
        {"text": page_title},
      ],
      with_workbasket=False,
  ) }}
{% endblock %}


{% block form %}
  <h2 class="govuk-heading-l">Details</h2>
  {{ govukSummaryList({
        "rows": [
        {
            "key": {"text": "Workbasket ID"},
            "value": {"text": object.workbasket.pk},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Submitted date"},
            "value": {"text": object.created_at.strftime(datetime_format)},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Submitted by"},
            "value": {"text": object.user or "Unknown"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Expected objects count"},
            "value": {"text": object.expected_measures_count},
            "actions": {"items": []}
        },
        ]
    })}}

  <p class="govuk-body">Process cancellation is not guarenteed because of the dynamic nature of processes.</p>

  <p class="govuk-body">Are you sure you want to try cancelling this process?</p>

  {{ govukWarningText({
    "text": "Cancelled processes can not be restarted.",
    "iconFallbackText": "Warning"
  }) }}

  {%- call django_form() %}
    {{ crispy(form) }}
  {%- endcall %}
{% endblock %}
