{% extends "layouts/confirm.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Edit measure details" %}

{% macro panel_title(edited_measures_count) %}
  {% if edited_measures_count > 1 %}
    {{ edited_measures_count }} measures have been edited
  {% else %}
    {{ edited_measures_count }} measure has been edited
  {% endif %}
{% endmacro %}

{% macro panel_subtitle() %}
    This change has been added to your workbasket
{% endmacro %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": page_title },
    ])
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        "titleText": panel_title(edited_measures_count),
        "text": panel_subtitle(),
        "classes": "govuk-!-margin-bottom-7"
      }) }}
      <h2 class="govuk-heading-m">Next steps</h2>
      <p class="govuk-body">To complete your task you must publish your change. </p>
      {{ govukButton({
        "text": "Go to workbasket summary",
        "href": url("workbaskets:current-workbasket"),
        "classes": "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %}