{% extends "measures/create-wizard-step.jinja" %}

{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/fieldset/macro.njk" import govukFieldset %}
{% from "components/button/macro.njk" import govukButton %}
{% from "measures/subform.jinja" import subform %}

{% set page_title = step_metadata[wizard.steps.current].title %}
{% set page_subtitle = "Create a new measure" %}
{% set info = "Create a new measure" %}

{% block form %}

{% set option_html = namespace() %}
{% set option_html.ERGA_OMNES -%}

  {{ subform(subform=form.erga_omnes_exclusions_subform, field_name="erga_omnes_exclusion", field_plural="countries/regions to exclude", no_form_tags=no_form_tags) }}

{%- endset %}

{% set option_html.GROUP -%}
  <div class="govuk-form-group">
  {{ form.geo_group }}
  </div>
  {{ subform(subform=form.geo_group_exclusions_subform, field_name="geo_group_exclusion", field_plural="countries/regions", no_form_tags=no_form_tags) }}

{%- endset %}

{% set option_html.COUNTRY -%}

  {{ subform(subform=form.geo_area_subform, field_name="geo_area", field_plural="countries/regions", no_form_tags=no_form_tags) }}

{%- endset %}

{% set radios = [] %}
{% for value, label in form.GeoAreaType.choices %}
  {{ radios.append({
    "value": value,
    "text": label,
    "checked": form.geo_area_type.initial and value in form.geo_area_type.initial,
    "conditional": {
      "html": option_html[value]
    } if option_html[value] else {}
  }) or "" }}
{% endfor %}

<p class="govuk-body">The measure will only apply to imports from or exports to the selected area. You can specify exclusions.</p>

{{ govukRadios({
  "idPrefix": form.add_prefix("geo_area_type"),
  "name": form.add_prefix("geo_area_type"),
  "fieldset": {
    "legend": {
      "text": form.geo_area_type.label,
      "classes": "govuk-fieldset__legend--s",
    }
  },
  "items": radios,
}) }}

{{ govukDetails({
  "summaryText": "Help with geography",
  "text": "Choose the geographical area to which the measure applies. This can be a specific country or a group of countries, and exclusions can be specified. The measure will only apply to imports from or exports to the selected area."
}) }}

{{ govukButton({
  "text": "Continue",
  "classes": "govuk-button--primary",
  "value": "Continue",
  "name": "submit",
}) }}

{% endblock %}
