{% extends "layouts/form.jinja" %}
{% from "components/step-by-step-nav/macro.jinja" import step_by_step_nav %}

{% set page_title = wizard.steps.step0 ~ ". " ~ step_metadata[wizard.steps.current].title %}
{% set page_subtitle = "Create a new measure" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <span class="govuk-caption-l">{{ page_subtitle|default("") }}</span>
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>

      {% call django_form(action=view.get_step_url(wizard.steps.current)) %}
        {{ wizard.management_form }}
        {% block form %}{{ crispy(form) }}{% endblock %}
      {% endcall %}
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Follow the steps below to create
            a new measure</span>
        </h2>
      </div>
      <div id="step-by-step-navigation">
      {% set steps = [] %}
      {% for step in wizard.steps.all %}
        {{ steps.append(
          {
            "title": step_metadata[step].title,
            "contents": [
              {
                "type": "list",
                "contents": [
                  {
                    "href": url("measure-ui-create", kwargs={"step": step}),
                    "text": step_metadata[step].link_text
                  }
                ]
              }
            ]
          },
        ) or "" }}
      {% endfor %}
      {{ step_by_step_nav({
        "id": "step-by-step-nav",
        "remember_last_step": True,
        "small": True,
        "steps": steps
      }) }}
      </div>
    </div>
  </div>
{% endblock %}
