{% with measure_footnotes = form.request.session["instance_footnotes_" ~ form.instance.sid] %}
  {% if measure_footnotes %}
    {% set table_rows = [] %}
    {% for footnote in footnotes %}
      {% if footnote.pk in measure_footnotes %}
        {% set footnote_link -%}
          <a class="govuk-link govuk-!-font-weight-bold" href="{{ footnote.get_url() }}">{{ footnote|string }}</a>
        {%- endset %}
        {% set remove_button -%}
          <button formaction={{ form.instance.get_url('edit-footnotes') }} class="govuk-link govuk-!-font-weight-bold fake-link" name="remove" value={{ footnote.pk }}>Remove</a>
        {%- endset %}
        {{ table_rows.append([
          {"html": footnote_link},
          {"text": footnote.get_description().description|default("")},
          {"html": remove_button}
        ]) or "" }}
      {% endif %}
    {% endfor %}
    {{ govukTable({
      "head": [
        {"text": "ID"},
        {"text": "Description"},
        {"text": ""}
      ],
        "rows": table_rows,
        "caption": "Footnotes currently assigned to the measure",
        "captionClasses": "govuk-table__caption--m"
      }) }}
  {% endif %}
{% endwith %}

{{ crispy(footnotes_formset.management_form, no_form_tags) }}

{% for form in footnotes_formset %}
  {{ crispy(form) }}
{% endfor %}

{% if footnotes_formset.data[footnotes_formset.prefix ~ "-ADD"] %}
  {{ crispy(footnotes_formset.empty_form)|replace("__prefix__", footnotes_formset.forms|length)|safe }}
{% endif %}

{% call govukFieldset({"legend": {}, "classes": "govuk-!-padding-top-3"}) %}
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" value=1, name={{ footnotes_formset.prefix ~ "-ADD" }}, formaction={{ object.get_url("edit-footnotes") }}>
    Add another footnote
  </button
{% endcall %}
