{% extends "measures/create-wizard-step.jinja" %}

{% from "components/fieldset/macro.njk" import govukFieldset %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set page_title = step_metadata[wizard.steps.current].title %}

{% block form %}
  {% set formset = form %}
  {{ crispy(formset.management_form, no_form_tags) }}

  {% if formset.non_form_errors() %}
    {% set error_list = [] %}
    {% for error in formset.non_form_errors() %}
      {{ error_list.append({
        "html": '<p class="govuk-error-message">' ~ error ~ '</p>',
      }) or "" }}
    {% endfor %}

    {{ govukErrorSummary({
      "titleText": "There is a problem",
      "errorList": error_list
    }) }}
  {% endif %}

  {% for form in formset %}
    {{ crispy(form) }}
  {% endfor %}

  {% if formset.data[formset.prefix ~ "-ADD"] %}
    {{ crispy(formset.empty_form)|replace("__prefix__", formset.forms|length)|safe }}
  {% endif %}

  {% call govukFieldset({"legend": {}, "classes": "govuk-!-padding-top-3"}) %}
    {{ govukButton({
      "text": "Add new",
      "classes": "govuk-button--secondary",
      "value": "1",
      "name": formset.prefix ~ "-ADD",
    }) }}
  {% endcall %}

  {{ govukButton({"text": "Continue"}) }}
{% endblock %}
