{% if form.request.session["instance_footnotes_"~form.instance.sid] %}
        {% set table_rows = [] %}
        {% for footnote in form.instance.footnotes.all() %}
            {% if footnote.pk in form.request.session["instance_footnotes_"~form.instance.sid]%}
                {% set footnote_link -%}
                <a class="govuk-link govuk-!-font-weight-bold" href="{{ footnote.get_url() }}">{{ footnote|string }}</a>
                {%- endset %}
                {% set remove_button -%}
                    <button formaction={{ form.instance.get_url('edit-footnotes') }} class="govuk-link govuk-!-font-weight-bold fake-link" name="remove" value={{ footnote.pk }}>Remove</a>    
                {%- endset %}
                {{ table_rows.append([
                {"html": footnote_link},
                {"text": footnote.get_description().description|default("")},
                {"html": remove_button}
                ]) or "" }}
            {% endif %}
        {% endfor %}
        {{ govukTable({
            "head": [
            {"text": "ID"},
            {"text": "Description"},
            {"text": ""}
            ],
            "rows": table_rows,
            "caption": "Footnotes currently assigned to the measure",
            "captionClasses": "govuk-table__caption--m"
        }) }}
    {% else %}
        <p class="govuk-label">No footnotes found.</p>
        <br></br>
    {% endif %}

{{ crispy(formset.management_form, no_form_tags) }}
    <label class="govuk-label">Add a footnote</label>
    <div id="sort-code-hint" class="govuk-hint">Start typing the ID of the footnote or terms used in the description</div>
    {% for form in formset %}
        {{ crispy(form) }}
    {% endfor %}

    {% if formset.data[formset.prefix ~ "-ADD"] %}
        {{ crispy(formset.empty_form)|replace("__prefix__", formset.forms|length)|safe }}
    {% endif %}

    {% call govukFieldset({"legend": {}, "classes": "govuk-!-padding-top-3"}) %}
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" value=1, name={{ formset.prefix ~ "-ADD" }}, formaction={{ object.get_url("edit-footnotes") }}>
            Add another footnote
        </button
       
    {% endcall %}