{% extends "measures/create-wizard-step.jinja" %}

{% set page_title = step_metadata[wizard.steps.current].title %}

{% block form %}
  <p class="govuk-body">
    Before you start, you'll need:
    <ul class="govuk-list govuk-list--bullet">
      <li>the measure type</li>
      <li>the measure start date</li>
      <li>the measure end date (if there is one)</li>
    </ul>
  </p>

  <p class="govuk-body">
    You must also make sure you have details of the following:
    <ul class="govuk-list govuk-list--bullet">
      <li>the geographical area the measure applies to</li>
      <li>the regulation ID</li>
      <li>the 10-digit commodity code or codes the measure applies to</li>
      <li>the duty which applies to the measure</li>
      <li>any additional code</li>
      <li>any condition codes</li>
      <li>any footnotes</li>
    </ul>
  </p>
  
  <p class="govuk-body">If you need to create or find these details, you can do so on the previous page.</p>
  <p class="govuk-body">Your progress will be saved if you exit this service provided you remain on the same device.</p>
  
  <div class="govuk-button-group">
    {{ govukButton({"text": "Start now", "isStartButton": True}) }}
    {{ govukButton({
      "text": "Back",
      "href": url("workbaskets:edit-workbasket"),
      "classes": "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}
