
{% extends "layouts/form.jinja" %}
{% from 'macros/create_link.jinja' import create_link %}
{% from "components/warning-text/macro.njk" import govukWarningText %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = step_metadata[wizard.steps.current].title %}
{% set page_subtitle = "Edit measures" %}
{% set info = "Edit measures" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <span class="govuk-caption-l">{{ page_subtitle|default("") }}</span>
      <h1 class="govuk-heading-xl">{{ page_title }}</h1>
            <p class="govuk-body"> You are about to edit the start and/or end dates of your selected measures.</p>
      {{ govukWarningText({
        "text": "You are currently only able to change the start and end dates of multiple measures.",
        "iconFallbackText": "Warning"
      }) }}
    
      <div class="govuk-inset-text">
        <p>Your edited measures will be added to your workbasket as items.</p>
        <p>If you need to undo your edits later, you will need to remove the items from the workbasket.</p>
      </div>

      {% call django_form(action=view.get_step_url(wizard.steps.current)) %}
        {{ wizard.management_form }}
        {% block form %}{{ crispy(form) }}{% endblock %}
      {% endcall %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full"></div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View all selected measures
          </span>
        </summary>
        <div class="govuk-details__text">
          {% if measures %}
            {% set table_rows = [] %}
            {% for measure in measures %}
                {% set measure_link -%}
                  <a class="govuk-link govuk-!-font-weight-bold" href="{{ measure.get_url() }}">{{measure.sid}}</a>
                {%- endset %}
                {% set footnotes %}
                  {% for footnote in measure.footnotes.all() %}
                      {{ create_link(footnote.get_url(), footnote|string) }}{{ ", " if not loop.last else "" }}
                  {% endfor %}
                {% endset %}
                {{ table_rows.append([
                  {"html": measure_link},
                  {"text": measure.measure_type.sid ~ " - " ~ measure.measure_type.description},
                  {"text": measure.goods_nomenclature.item_id|wordwrap(2)|replace("\n", " ") if measure.goods_nomenclature else '-', "classes": "govuk-!-width-one-eighth"},
                  {"text": "{:%d %b %Y}".format(measure.effective_valid_between.lower) if measure.effective_valid_between.lower else '-'},
                  {"text": "{:%d %b %Y}".format(measure.effective_valid_between.upper) if measure.effective_valid_between.upper else '-'},
                  {"text": measure.duty_sentence if measure.duty_sentence else '-'},
                  {"html": create_link(url("additional_code-ui-detail", kwargs={"sid": measure.additional_code.sid}), measure.additional_code.type.sid ~ measure.additional_code.code) if measure.additional_code else '-'},
                  {"html": create_link(url("geo_area-ui-detail", kwargs={"sid": measure.geographical_area.sid}), measure.geographical_area.area_id ~ " - " ~ measure.geographical_area.get_description().description) if measure.geographical_area else '-'},
                  {"text": create_link(measure.order_number.get_url(), measure.order_number.order_number) if measure.order_number else '-'},
                  {"text": footnotes if measure.footnotes.all() else '-'},
                ]) or "" }}
            {% endfor %}
            {{ govukTable({
              "head": [
                {"text": "ID"},
                {"text": "Type"},
                {"text": "Commodity code"},
                {"text": "Start date"},
                {"text": "End date"},
                {"text": "Duties"},
                {"text": "Additional code"},
                {"text": "Geographical area"},
                {"text": "Quota"},
                {"text": "Footnote"},
              ],
              "rows": table_rows,
              "classes": "govuk-table-m"
            }) }}

          {% endif %}
        </div>
      </details>
    </div>
  </div>

{% endblock %}