{% extends "layouts/form.jinja" %}

{% from "components/accordion/macro.njk" import govukAccordion %}
{% from "components/autocomplete/macro.jinja" import autocomplete %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}


{% set page_title = "Edit " ~ object._meta.verbose_name ~ " details" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": "Find and edit " ~ object._meta.verbose_name_plural, "href": object.get_url("list")},
      {"text": object._meta.verbose_name|capitalize ~ ": " ~ object.sid, "href": object.get_url()},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% set validity_period_html %}
    {{ form.start_date }}
    {{ form.end_date }}
    {{ govukDetails({
      "summaryText": "Help with measure validity period",
      "text": "Enter the start date for the measure’s validity period. The end date will inherit from the measure generating regulation or an earlier end date can be specified."
      }) }}
{% endset %}

{% block form %}
  {% call django_form(action=object.get_url("edit")) %}
    {{ govukAccordion({
        "id": "accordion-default",
        "items": [
            {
                "heading": {"text": "Measure type"},
                "content": {
                    "html": form.measure_type
                },
                "summary": {}
            },
            {
                "heading": {"text": "Measure generating regulation"},
                "content": {
                    "html": form.generating_regulation
                },
                "summary": {}
            },
            {
                "heading": {"text": "Commodity code"},
                "content": {
                    "html": form.goods_nomenclature
                },
                "summary": {}
            },
            {
                "heading": {"text": "Additional code"},
                "content": {
                    "html": form.additional_code
                },
                "summary": {}
            },
            {
                "heading": {"text": "Quota order number"},
                "content": {
                    "html": form.order_number
                },
                "summary": {}
            },
            {
                "heading": {"text": "Measure validity period"},
                "content": {
                    "html": validity_period_html
                },
                "summary": {}
            },
        ]
    }) }}
    {{ govukButton({
        "text":"Save",
    }) }}
  {% endcall %}
{% endblock %}