{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{% set form_url = "measure-ui-list" %}
{% set list_include = "includes/measures/list.jinja" %}

{% set page_title = "Find and edit " ~ object_list.model._meta.verbose_name_plural %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <p class="govuk-body">
    Search for {{object_list.model._meta.verbose_name_plural}}.
    Alternatively, <a class="govuk-link" href="{{ url("measure-ui-create") }}">create a new {{ object_list.model._meta.verbose_name }}</a>.
  </p>

  <div class="full-width-search">
    <div class="govuk-!-margin-bottom-5">
      <form method="get" action="{{ url(form_url) }}">
          {{ crispy(filter.form) }}
      </form>
    </div>

{% endblock %}
