{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{% set form_url = "measure-ui-list" %}
{% set list_include = "includes/measures/list.jinja" %}

{% set page_title = "Find and edit " ~ object_list.model._meta.verbose_name_plural %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <p class="govuk-body">
    Search for {{object_list.model._meta.verbose_name_plural}}.
    Alternatively, <a class="govuk-link" href="{{ url("measure-ui-create") }}">create a new {{ object_list.model._meta.verbose_name }}</a>.
  </p>

  <div class="filter-layout full-width-search">
    <div class="govuk-accordion govuk-!-margin-bottom-5" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-heading-m govuk-!-margin-top-3 govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Search and filter
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class="govuk-body">Select one or more options to search</p>
        <form method="get" action="{{ url(form_url) }}">
            {{ crispy(filter.form) }}
        </form>
      </div>
    </div>
    </div>

{% endblock %}
