<div class="govuk-radios__conditional" id="div_id_{{ field.html_name }}">
    <label class="govuk-label" for="id_{{ field.html_name}}">Duty</label>
    <div id="condition-duty-hint" class="govuk-hint">
        If a different duty applies to each certificate, licence or document on this measure, enter it here.
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Examples
                </span>
            </summary>
            <div class="govuk-details__text">
                You can use one of the following:
                <ul>
                    <li>a percentage, such as 4%</li>
                    <li>a specific duty, such as 1.23 GBP/kg</li>
                    <li>a compound duty, such as 3.5% + 11 GBP/LTR</li>
                </ul>
            </div>
        </details>
        <input class="govuk-input" id="id_{{ field.html_name }}" name="{{ field.html_name }}" type="text" spellcheck="false" value="{{ field.initial if field.initial else ""}}">
    </div>
</div>