{% from "components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Details</h2>
        {% block data %}
        {% endblock %}
    </div>
    {% if not omit_actions and object.get_url('edit') %}
        {% include "includes/common/actions.jinja"%}
    {% endif %}
</div>