{% from "components/table/macro.njk" import govukTable %}

{% set description_rows = [] %}
{% for description in object.get_descriptions() %}
	{{ description_rows.append([
		{"text": "{:%d %b %Y}".format(description.valid_between.lower)},
		{"text": description.description},
	]) or ""}}
{% endfor %}

<div class="additional_code__description-data">
	<div class="additional_code__description-data__content">
		<h2 class="govuk-heading-l">Descriptions</h2>
		{{ govukTable({
			"head": [
				{"text": "Start date", "classes":  "govuk-!-width-one-eighth"},
				{"text": "Description"},
			],
			"rows": description_rows
		}) }}
	</div>
</div>