{% from "components/table/macro.njk" import govukTable %}
{% from 'macros/create_link.jinja' import create_link %}

{% set description_rows = [] %}
{% for description in object.get_descriptions(request=request) %}
	{% set edit_url = description.get_url("edit") %}
	{% set delete_url = description.get_url("delete") %}
	{% set description_row = [
		{"text": "{:%d %b %Y}".format(description.validity_start)},
		{"text": description.description},
	]%}
	{% if not omit_actions and edit_url %}
		{{ description_row.append({"html": create_link(edit_url, "Edit") }) or "" }}
	{% endif %}
	{% if not omit_actions and delete_url %}
		{{ description_row.append({"html": create_link(delete_url, "Delete") }) or "" }}
	{% endif %}
	{{ description_rows.append(description_row) or "" }}
{% endfor %}

<h2 class="govuk-heading-l">Descriptions</h2>
<!-- Original:
<p><a class="govuk-link" href={{object.get_url("create-description")}}>Create a new description</a></p>
-->
<p><a class="govuk-link" href={{object.get_url("description-ui-create")}}>Create a new description</a></p>
{% set head = [
	{"text": "Start date", "classes":  "govuk-!-width-one-eighth"},
	{"text": "Description"},
]%}
{% if not omit_actions and description_rows.0|length >= 3 %}
	{{ head.append({"text": "Actions"}) or "" }}
{% endif %}
{{ govukTable({
	"head": head,
	"rows": description_rows
}) }}
