<div class="govuk-grid-column-one-quarter">
  <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Actions</h2>
      <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="{{ url('quota-definitions', args=[object.sid]) }}">View definition periods</a></li>
            <li><a class="govuk-link" href="{{ measures_url }}">View all measures</a></li>
          {% set delete_url = object.get_url('delete') %}
          {% if delete_url %}
            <li><a class="govuk-link" href="{{ delete_url }}">Delete this {{object._meta.verbose_name}}</a></li>
          {% endif %}
      </ul>
  </div>
</div>