<div id="quota_origins"></div>

<script nonce="{{ request.csp_nonce }}">
  {# data used by react form component: common/static/common/js/components/QuotaOriginFormset/index.js #}
  const originsData = {{origins_initial|safe}};
  const originsErrors = {
    {% for k, errorlist in errors.as_data().items() %}
      "{{ k }}": "{% for errors in errorlist %}{% for error in errors %}{{ error|safe }}{% if not loop.last %}\n{% endif %}{% endfor %}{% endfor %}",
    {% endfor %}
  };
  const groupsWithMembers = {{groups_with_members|safe}};
  const geoAreasOptions = [
    {"label": "", "value": ""},
    {% for geo_area in geo_area_options %}
    {
      "label": "{{ geo_area.area_id  ~ " - " ~ geo_area.description }}",
      "value": {{ geo_area.pk }},
    },
    {% endfor %}
  ]
  const exclusionsOptions = [
    {"label": "", "value": ""},
    {% for geo_area in exclusions_options %}
    {
      "label": "{{ geo_area.area_id  ~ " - " ~ geo_area.description }}",
      "value": {{ geo_area.pk }},
    },
    {% endfor %}
  ]
</script>
