{% for expression in duty_expressions -%}{% if expression.prefix and expression.duty_amount_applicability_code == code %}"{{ expression.prefix }}"i {% if not loop.last %}| {% endif %}{% else %}{% endif %}{% endfor %}