<div class="regulation__core-data">
	<div class="regulation__core-data__content">
		<h2 class="govuk-heading-l">Details</h2>
        {{
		   govukSummaryList({
			"rows": [
			{
				"key": {"text": "Internal identifier"},
				"value": {"text": object.regulation_id},
				"actions": {"items": []}
			},
			{
				"key": {"text": "Information text"},
				"value": {"text": object.information_text if object.information_text else "-"},
				"actions": {"items": []}
			},
			{
				"key": {"text": "Public-facing identifier"},
				"value": {"html": ("<a href=\"" ~ object.url ~ "\">" ~ object.public_identifier ~ "</a>") if object.public_identifier else "-"},
				"actions": {"items": []}
			},

            {
              "key": {"text": "URL"},
              "value": {"text": object.url or "-"},
              "actions": {"items": []}
            },
			{
				"key": {"text": "Regulation group"},
				"value": {"text": (object.regulation_group.group_id ~ ": " ~object.regulation_group.description) if object.regulation_group else "-"},
				"actions": {"items": []}
			},
			{
				"key": {"text": "Start date"},
				"value": {"text": "{:%d %b %Y}".format(object.valid_between.lower)},
				"actions": {"items": []}
			}
			,{
				"key": {"text": "End date"},
				"value": {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
				"actions": {"items": [] },
            },
            {
				"key": {"text": "Status"},
				"value": {"text": object.transaction.workbasket.get_status_display()},
				"actions": {"items": []},
            }
        ]
		   })
        }}
	</div>
</div>
