{% from "components/table/macro.njk" import govukTable %}

{% set table_rows = [] %}
{% for object in object_list %}
    {% set workbasket_link -%}
        {% if object.workbasket.status == "EDITING"%}
            <a class="govuk-link govuk-!-font-weight-bold" href="{{ url("workbaskets:workbasket-ui-detail", kwargs={"pk": object.workbasket.pk}) }}">{{ object.workbasket.pk }}</a>
        {% else %}
            <p>{{object.workbasket.pk}} {{object.workbasket.status}}</p>
        {% endif %}
    {%- endset %}
    {% set submitted_date -%}
        {{object.created_at.strftime('%H:%M')}} <br/>
        {{object.created_at.strftime('%Y %b %d')}}
    {%- endset %}

    {{ table_rows.append([
        {"text": workbasket_link},
        {"text": submitted_date},
        {"text": "created by"},
        {"html": object.status_tag['text']|upper, 'classes': object.status_tag['tag_class']},
        {"text": "object.expected_measures_count"},
        {"text": "action"},
    ]) or ""}}
{% endfor %}

{{ govukTable({
    "head": [
        {"text": "Workbasket ID"},
        {"text": "Submitted date"},
        {"text": "Submitted by"},
        {"text": "Status"},
        {"text": "Object count"},
        {"text": "Action"},
    ],
    "rows": table_rows
})}}
