{% from 'macros/create_link.jinja' import create_link %} 
{% from "includes/measures/conditions.jinja" import conditions_list %}
{% from "components/button/macro.njk" import govukButton %}

{# Sets out checkbox #}
{% macro checkbox_item(field) -%}
  {% set id = field.id_for_label %}
  {% set name = field.name %}
  {% set checked = "checked" if field.value() else "" %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ name }}" type="checkbox" {{ checked }} data-check-trackedmodel>
          <label class="govuk-label govuk-checkboxes__label" for="{{ id }}"></label>
        </div>
      </div>
    </fieldset>
  </div>
{%- endmacro %}

{# Sets out checking all checkbox #}
{% set checkbox_check_all -%}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="select-all" name="select-all" type="checkbox" data-check-all="data-check-trackedmodel">
          <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="selected"></label>
        </div>
      </div>
    </fieldset>
  </div>
{%- endset %}

{# sets out form #}
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if form.fields %}
        {% set table_rows = [] %}
        {% for field in form %}
          {% set checkbox = checkbox_item(field) %}
          {% set measure = field.field.obj %}
            {% set measure_link -%}
              <a class="govuk-link govuk-!-font-weight-bold" href="{{ measure.get_url() }}">{{measure.sid}}</a>
            {%- endset %}
            {% set footnotes %}
              {% for footnote in measure.footnotes.all() %}
                  {{ create_link(footnote.get_url(), footnote|string) }}{{ ", " if not loop.last else "" }}
              {% endfor %}
            {% endset %}
              {{ table_rows.append([
                {"html": checkbox},
                {"html": measure_link},
                {"text": measure.measure_type.sid ~ " - " ~ measure.measure_type.description},
                {"text": measure.goods_nomenclature.item_id|wordwrap(2)|replace("\n", " ") if measure.goods_nomenclature else '-', "classes": "govuk-!-width-one-eighth"},
                {"text": "{:%d %b %Y}".format(measure.effective_valid_between.lower) if measure.effective_valid_between.lower else '-' },
                {"text": "{:%d %b %Y}".format(measure.effective_valid_between.upper) if measure.effective_valid_between.upper else '-' },
                {"text": measure.duty_sentence if measure.duty_sentence else '-'},
                {"html": create_link(url("additional_code-ui-detail", kwargs={"sid": measure.additional_code.sid}), measure.additional_code.type.sid ~ measure.additional_code.code) if measure.additional_code else '-'},
                {"html": create_link(url("geo_area-ui-detail", kwargs={"sid": measure.geographical_area.sid}), measure.geographical_area.area_id ~ " - " ~ measure.geographical_area.get_description().description) if measure.geographical_area else '-'},
                {"text": create_link(measure.order_number.get_url(), measure.order_number.order_number) if measure.order_number else '-'},
                {"text": footnotes if measure.footnotes.all() else '-'},
                {"text": conditions_list(measure) if measure.conditions.latest_approved() else "-", "classes": "govuk-!-width-one-quarter"},
              ]) or "" }} 
          {% endfor %}
        {{ govukTable({
          "head": [
            {"html": checkbox_check_all},
            {"text": "ID"},
            {"text": "Type"},
            {"text": "Commodity code"},
            {"text": "Start date"},
            {"text": "End date"},
            {"text": "Duties"},
            {"text": "Additional code"},
            {"text": "Geographical area"},
            {"text": "Quota"},
            {"text": "Footnote"},
            {"text": "Conditions"},
          ],
          "rows": table_rows,
          "classes": "govuk-table-m"
        }) }}
      {% endif %}
    </div>
  </div>
  <button value="remove-selected" name="form-action" class="govuk-button govuk-button--secondary" data-module="govuk-button">Delete selected measures </button>
  <button value="edit-selected" name="form-action" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit selected measures </button>
</form>
