{% extends "layouts/layout.jinja" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "includes/workbaskets/navigation.jinja" import navigation %}
{% from "macros/fake_tabs.jinja" import fake_tabs %}

{% set page_title %}
  Workbasket {{ workbasket.id if workbasket else request.session.workbasket.id }} - Checks
{% endset %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page_title }}</h1>
    {{ navigation(request, "check") }}
    
    {% include "includes/workbaskets/workbasket-business-rules.jinja" %}
    <div>
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worksheet check
        </dt>
        <dd class="govuk-summary-list__value">
          Compare worksheet data with workbasket data
        </dd>
        <dt class="govuk-summary-list__actions">
          {{
            govukButton({
              "text": "Compare data",
              "href": url("workbaskets:workbasket-check-ui-compare"),
              "classes": "govuk-button--secondary govuk-!-margin-0"
          })}}
        </dt>
    </div>
    </dl>
</div>
    
{% endblock %}