{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/fieldset/macro.njk" import govukFieldset %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/radios/macro.njk" import govukRadios %}

{% set page_title = "Create new or select existing workbasket" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": "Workbaskets", "href": url("workbasket-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>
  <p class="govuk-body">
    {% if request.session.workbasket %}
      You currently have the "{{ request.session.workbasket }}" workbasket open.
    {% else %}
      You currently do not have an open workbasket.
    {% endif %}
    Please specify if you would like to open an existing 'In progress' workbasket or
    create a new one.
  </p>

  <form method="post" action="{{ url("workbasket-ui-set-current-workbasket") }}">
    {{ csrf_input }}
    {% set workbasket_options = [] -%}
    {% for workbasket in objects -%}
      {{ workbasket_options.append({
        "value": workbasket.pk,
        "text": workbasket.title|default("Workbasket " ~ workbasket.pk),
      }) or "" }}
    {%- endfor -%}
    {{ workbasket_options.append({
      "value": "new",
      "text": "New workbasket"
    }) or "" }}
    {{ govukRadios({
      "idPrefix": "workbasket",
      "name": "workbasket",
      "fieldset": {
        "legend": {
          "html": '<h2 class="govuk-heading-m">Select an option</h2>',
        },
      },
      "items": workbasket_options
    }) }}
    {% call govukFieldset({"attributes": {"id": "new-workbasket-details"}}) %}
      {{ govukInput({
        "id": "title",
        "name": "title",
        "label": {
          "text": "What is the workbasket name?"
        }
      }) }}
      {{ govukCharacterCount({
        "id": "reason",
        "name": "reason",
        "maxlength": 500,
        "label": {
          "text": "What is the reason for creating this workbasket?"
        },
        "value": ""
      }) }}
    {% endcall %}

    {{ govukButton({
      "text": "Open workbasket",
      "preventDoubleClick": true,
      "attributes": {"id": "submit"}
    }) }}
    <span class="govuk-body"><a href="#">Cancel</a></span>
  </form>
{% endblock %}

