{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Edit workbasket details" %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
    {"text": page_title},
    ])
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        "titleText": object._meta.verbose_name|title ~ " " ~ object.id ~ " has been updated",
        "text": "The details for this workbasket have been updated",
        "classes": "govuk-!-margin-bottom-7"
      }) }}

      <h2 class="govuk-heading-m">Next steps</h2>
          <div class="govuk-button-group">
      {{ govukButton({
        "text": "Go to your workbasket summary",
        "href": url("workbaskets:current-workbasket"),
        "classes": "govuk-button"
      }) }}
        {{ govukButton({
    "text": "Return to homepage",
    "href": url("home"),
    "classes": "govuk-button--secondary",
  }) }}
      </div>

    </div>
  </div>
{% endblock %}
