{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Measures submitted to be ended" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Workbasket " ~ request.user.current_workbasket.id },
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " checks", "href": url("workbaskets:workbasket-checks")},
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " auto end date measures"},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% set measure_count = request.session['count_ended_measures'] if request.session['count_ended_measures'] else '0'%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        "titleText": measure_count ~ " measure" ~ measure_count|pluralize ~ " will be ended",
        "text": "You have successfully submitted " ~ measure_count ~ " measure" ~ measure_count|pluralize ~ " to be end-dated or deleted and added to workbasket " ~ request.user.current_workbasket.id ~ " when complete.",
        "classes": "govuk-!-margin-bottom-7"
      }) }}
      <h2 class="govuk-heading-m">Next steps</h2>
      <a href="{{ url('workbaskets:edit-workbasket') }}" class="govuk-button govuk-button--primary">Continue to workbasket</a>
    </div>
  </div>
{% endblock %}
