{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% set page_title = "Delete workbasket " ~ object.pk %}


{% block breadcrumb %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url('home') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ page_title }}
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ page_title}}</h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Are you sure you want to permanently delete workbasket {{ object.pk }}?</p>

    {{ govukWarningText({
      "text": "Deleted workbaskets can not be recovered.",
      "iconFallbackText": "Warning"
    }) }}

    <form method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      {% set error_list = [] %}

      {% for field, errors in form.errors.items() %}
        {% for error in errors.data %}
        {% if error.message|length > 1 %}
          {{ error_list.append({
            "text": error.message,
            "href": "#" ~ (form.prefix ~ "-" if form.prefix else "") ~ field ~ ("_" ~ error.subfield if error.subfield is defined else ""),
          }) or "" }}
        {% endif %}
        {% endfor %}
      {% endfor %}

      {% if error_list|length > 0 %}
        {{ govukErrorSummary({
          "titleText": "There is a problem",
          "errorList": error_list
        }) }}
      {% endif %}

      <div class="govuk-button-group">
        {{ govukButton({
          "text": "Delete workbasket",
          "classes": "govuk-button--warning",
          "name": "action",
          "value": "delete"
        }) }}
        {% if object.pk == request.user.current_workbasket["id"] %}
          {{ govukButton({
            "text": "Cancel",
            "href": url("workbaskets:current-workbasket"),
            "classes": "govuk-button--secondary"
          }) }}
        {% else %}
          {{ govukButton({
            "text": "Cancel",
            "href": url("workbaskets:workbasket-ui-detail", kwargs={"pk": object.pk}),
            "classes": "govuk-button--secondary"
          }) }}
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
