{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}

{% set page_title = "Remove tariff changes" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Confirmation</span>
    <h1 class="govuk-heading-xl">
      Remove tariff changes
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      "titleText": "The tariff changes have been removed.",
      "classes": "govuk-!-margin-bottom-7"
    }) }}

    <p class="govuk-body">
      {% include "includes/common/main-menu-link.jinja" %}
    </p>
  </div>
</div>
{% endblock %}
