{% extends "layouts/layout.jinja" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% set page_title = "Remove tariff changes" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Remove tariff changes
        <span class="govuk-caption-xl"></span>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      {{ govukWarningText({
        "text": "Are you sure you want to permanently remove the " ~ object_list|length ~ " tariff changes below?",
        "iconFallbackText": "Warning"
      }) }}

      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="govuk-button-group">
          {% if object_list -%}
            {{ govukButton({
              "text": "Remove tariff changes",
              "classes": "govuk-button--warning",
              "name": "action",
              "value": "delete"
            }) }}
          {% else %}
            {{ govukButton({
              "text": "Remove tariff changes",
              "classes": "govuk-button--warning",
              "name": "action",
              "value": "delete",
              "disabled": "true"
            }) }}
          {% endif %}

          {{ govukButton({
            "text": "Cancel",
            "classes": "govuk-button--secondary",
            "name": "action",
            "value": "cancel"
          }) }}
        </div>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="govuk-list">
      {% for obj in object_list %}
        <li>
          <a class="govuk-link" href="{{ obj.get_url() or "#" }}">
            {{ obj._meta.verbose_name.title() }} {{ obj.sid or obj.id }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
