{% extends "layouts/layout.jinja" %}

{% from "components/accordion/macro.njk" import govukAccordion %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/warning-text/macro.njk" import govukWarningText %}


{% set page_title = "Remove tariff changes" %}
{% set accordion_items = [] %}


{% macro measure_detail_tabs(object, omit_actions=False) -%}
{# Generate 'details' markup for all relevant tabs of a given measure.
  object - the measure.
  omit_actions - set to True to prevent an 'actions' sidebar being included in
    the generated markup.
#}
  {% set core_data_tab_html %}{% include "includes/measures/tabs/core_data.jinja" %}{% endset %}
  {% set conditions_tab_html %}{% include "includes/measures/tabs/conditions.jinja" %}{% endset %}
  {{ govukTabs({
    "items": [
      {
        "label": "Details",
        "id": "core-data",
        "panel": {
          "html": core_data_tab_html
        }
      },
      {
        "label": "Conditions",
        "id": "conditions",
        "panel": {
          "html": conditions_tab_html
        }
      }
    ]
  }) }}
{%- endmacro %}


{% macro regulation_details_tabs(object, omit_actions=False) -%}
{# Generate 'details' markup for all relevant tabs of a given regulation.
  object - the measure.
  omit_actions - set to True to prevent an 'actions' sidebar being included in
    the generated markup.
#}
  {% set core_data_tab_html %}{% include "includes/regulations/tabs/core_data.jinja" %}{% endset %}
  {% set conditions_tab_html %}{% include "includes/regulations/tabs/version_control.jinja" %}{% endset %}
  {{ govukTabs({
    "items": [
      {
        "label": "Details",
        "id": "core-data",
        "panel": {
          "html": core_data_tab_html
        }
      },
      {
        "label": "Conditions",
        "id": "conditions",
        "panel": {
          "html": conditions_tab_html
        }
      }
    ]
  }) }}
{%- endmacro %}


{# Build the accordion's item list. #}
{% for object in object_list %}
  {% if object._meta.model_name == "measure" %}
    {% set item_heading = object._meta.verbose_name.title() ~ ": " ~ object.sid %}
    {% set item_content = measure_detail_tabs(object, omit_actions=True) %}
  {% elif object._meta.model_name == "regulation" %}
    {% set item_heading = object._meta.verbose_name.title() ~ ": " ~ object.regulation_id %}
    {% set item_content = regulation_details_tabs(object, omit_actions=True) %}
  {% endif %}

  {% set item =
    {
      "heading": {
        "text": item_heading
      },
      "content": {
        "html": item_content
      },
      "summary": {
      }
    }
  %}

  {% set accordion_items = accordion_items.append(item) %}
{% endfor %}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Remove tariff changes
        <span class="govuk-caption-xl"></span>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      {{ govukWarningText({
        "text": "Are you sure you want to permanently remove the tarif changes below?",
        "iconFallbackText": "Warning"
      }) }}

      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="govuk-button-group">
          {{ govukButton({
            "text": "Remove tariff changes",
            "classes": "govuk-button--warning",
            "name": "action",
            "value": "delete"
          }) }}

          {{ govukButton({
            "text": "Cancel",
            "classes": "govuk-button--secondary",
            "name": "action",
            "value": "cancel"
          }) }}
        </div>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukAccordion({
        "id": "accordion-default",
        "items": accordion_items
      }) }}
    </div>
  </div>
{% endblock %}
