{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}

{% set page_title = "Remove tariff changes" %}

{% block breadcrumb %}
  {% if workbasket %}
    {{ breadcrumbs(request, [
        {"text": "Find and view workbaskets", "href": url("workbaskets:workbasket-ui-list-all")},
        {
          "text": "Workbasket " ~ workbasket.id ~ "-" ~ workbasket.status,
          "href": url("workbaskets:workbasket-ui-detail", kwargs={"pk": workbasket.pk}),
        },
        {"text": page_title}
      ])
    }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      "titleText": "The tariff changes have been removed.",
      "classes": "govuk-!-margin-bottom-7"
    }) }}

    {% if workbasket %}
      {{ govukButton({
        "text": "Return to workbasket",
        "href": url("workbaskets:workbasket-ui-detail", kwargs={"pk": workbasket.pk}),
      }) }}
    {% else %}
      {{ govukButton({
        "text": "Go to your workbasket summary",
        "href": url("workbaskets:current-workbasket"),
      }) }}
    {% endif %}
  </div>
</div>
{% endblock %}
