{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}


{% set page_title = "Remove tariff changes" %}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Confirmation</span>
    <h1 class="govuk-heading-xl">
      Remove tariff changes
      <span class="govuk-caption-xl"></span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      "titleText": "The tariff changes have been removed.",
      "classes": "govuk-!-margin-bottom-7"
    }) }}

    <p class="govuk-body">
      <a href="{{ url('index') }}" class="govuk-link">Return to main menu</a>
    </p>
  </div>
</div>
{% endblock %}
