{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}

{% set page_title = "Workbasket " ~ deleted_pk ~ " deleted" %}


{% block breadcrumb %}
    {{ breadcrumbs(request, [
        {"text": "Find and view workbaskets", "href": url("workbaskets:workbasket-ui-list-all")},
        {"text": "Workbasket " ~ deleted_pk},
        {"text": "Delete workbasket " ~ deleted_pk },
        {"text": page_title}
      ])
    }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      "titleText": "Workbasket " ~ deleted_pk ~ " has been deleted",
      "classes": "govuk-!-margin-bottom-7"
    }) }}

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">
      To manage another workbasket, select one from the edit an existing workbasket page.
    </p>
<div class="govuk-button-group">
    {{ govukButton({
      "text": "Edit an existing workbasket",
      "href": url("workbaskets:workbasket-ui-list"),
      "classes": "govuk-button--primary"
    }) }}

  {{ govukButton({
    "text": "Return to homepage",
    "href": url("home"),
    "classes": "govuk-button--secondary",
  }) }}
  </div>
  </div>
</div>
{% endblock %}
