{% extends "layouts/layout.jinja" %}

{% from "components/accordion/macro.njk" import govukAccordion %}
{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}


{% set page_title = "Work basket: " ~ workbasket.title %}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Find and edit work baskets", "href": url("workbaskets:workbasket-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Details</h2>

      {{ govukTable({
          "firstCellIsHeader": true,
          "rows": [
          [
              {"text": "Workbasket ID"},
              {"text": workbasket.pk}
          ],
          [
              {"text": "Workbasket name"},
              {"text": workbasket.title},
          ],
          [
              {"text": "Reason"},
              {"text": workbasket.reason or ""}
          ],
          [
              {"text": "Number of changes"},
              {"text": '{0:,}'.format(workbasket.tracked_models.count()) }
          ],
          [
              {"text": "Created"},
              {"text": "{:%d %b %y %H:%M}".format(workbasket.created_at)}
          ],
          [
              {"text": "Last amended"},
              {"text": "{:%d %b %y %H:%M}".format(workbasket.updated_at)}
          ],
          [
              {"text": "Workbasket status"},
              {"text": workbasket.get_status_display()}
          ],
          ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Changes</h2>

      {% set object_list = page_obj %}
      {% set items_name = "changes" %}

      {% include "includes/common/pagination-list-summary.jinja" %}
      {% include "includes/workbaskets/workbasket-items-accordion.jinja" %}
      {% include "includes/common/pagination.jinja" %}
    </div>
  </div>
{% endblock %}
      