{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}
{% from "includes/workbaskets/navigation.jinja" import create_workbasket_detail_navigation with context %}
{% from "workbaskets/macros/workbasket_status_tag.jinja" import create_workbasket_status_tag %}

{% set page_title %} Workbasket {{ workbasket.id }} - {{ workbasket.status }} {% endset %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {
        "text": "Find and view workbaskets",
        "href": url("workbaskets:workbasket-ui-list-all")
      },
      {"text": page_title}
    ])
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page_title }}</h1>

  {{ create_workbasket_detail_navigation(active_tab="details") }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Details</h2>

      {{ govukTable({
        "firstCellIsHeader": true,
        "rows": [
          [
            {"text": "Status"},
            {"html": create_workbasket_status_tag(workbasket.status)},
          ],
          [
            {"text": "Workbasket ID"},
            {"text": workbasket.pk}
          ],
          [
            {"text": "Jira number"},
            {"text": workbasket.title},
          ],
          [
            {"text": "Description"},
            {"text": workbasket.reason or ""}
          ],
          [
            {"text": "Number of changes"},
            {"text": '{0:,}'.format(workbasket.tracked_models.count())}
          ],
          [
            {"text": "Created"},
            {"text": "{:%d %b %y %H:%M}".format(workbasket.created_at)}
          ],
          [
            {"text": "Last updated"},
            {"text": "{:%d %b %y %H:%M}".format(workbasket.updated_at)}
          ],
      ]}) }}
    </div>
  </div>

  {% if workbasket.status == "EDITING" %}
    <form action="{{ url("workbaskets:workbasket-ui-list") }}" method="post" style="display: inline">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="hidden" name="workbasket" value="{{ workbasket.pk }}">
      <input type="hidden" name="workbasket-tab" value="view-summary">
      <input type="submit" class="govuk-button" name="submit" value="Go to summary view">
    </form>
  {% endif %}

  {{ govukButton({
    "text": "Return to homepage",
    "href": url("home"),
    "classes": "govuk-button--secondary",
  }) }}
  </div>
{% endblock %}
