{% extends "layouts/layout.jinja" %}

{% from "components/accordion/macro.njk" import govukAccordion %}
{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "View workbasket" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("index")},
      {"text": "Workbaskets", "href": url("workbaskets:workbasket-ui-list")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-xl">Work Basket</span>
  <h1 class="govuk-heading-xl">{{ workbasket.title }}</h1>
  <p class="govuk-body">
    You are viewing this work basket in read-only mode.
  </p>

  {% set detail_html %}
    <h2 class="govuk-heading-l">About this Workbasket</h2>
    {{ govukTable({
      "firstCellIsHeader": true,
      "rows": [
        [
          {"text": "Workbasket ID"},
          {"text": workbasket.pk}
        ],
        [
          {"text": "Workbasket name"},
          {"text": workbasket.title},
        ],
        [
          {"text": "Reason"},
          {"text": workbasket.reason or ""}
        ],
        [
          {"text": "User"},
          {"text": workbasket.author.fullname or ""}
        ],
        [
          {"text": "Created"},
          {"text": "{:%d %b %y %H:%M}".format(workbasket.created_at)}
        ],
        [
          {"text": "Last amended"},
          {"text": "{:%d %b %y %H:%M}".format(workbasket.updated_at)}
        ],
        [
          {"text": "Workbasket status"},
          {"text": workbasket.get_status_display()}
        ],
        [
          {"text": "Activity summary"},
          {"text": ""}
        ]
      ]
    }) }}
  {% endset %}

  {% set activities_html %}
    <h2 class="govuk-heading-l">Workbasket activities</h2>
    <p class="govuk-body">This workbasket contains the following {# workbasket.items.count() #} changes:</p>
    {% set activity_groups = [] %}
    {% for group_name, group_items in workbasketitem_groups %}
      {% set table %}
        {% with object_list = group_items %}
          {% include "includes/" ~ group_name ~ "_list.jinja" %}
        {% endwith %}
      {% endset %}
      {{ activity_groups.append(
        {
          "heading": {"text": group_name|capitalize},
          "content": {"html": table},
          "summary": {}
        }
      ) or "" }}
    {% endfor %}
    {{ govukAccordion({
      "id": "workbasket-{{ workbasket.pk }}-activities-accordion",
      "items": activity_groups
    }) }}
  {% endset %}

  {% set history_html %}
    <h2 class="govuk-heading-l">Workbasket history</h2>
    <p class="govuk-body">The table below shows the actions that have been performed on
    this workbasket.</p>
    {{ govukTable({
      "head": [
        {"text": "Date"},
        {"text": "User"},
        {"text": "Event type"},
        {"text": "Description"}
      ],
      "rows": []
    }) }}
  {% endset %}

  {{ govukTabs({
    "items": [
      {
        "label": "Workbasket detail",
        "id": "detail",
        "panel": {
          "html": detail_html
        }
      },
      {
        "label": "Workbasket activities",
        "id": "activities",
        "panel": {
          "html": activities_html
        }
      },
      {
        "label": "Workbasket history",
        "id": "history",
        "panel": {
          "html": history_html
        }
      }
    ]
  }) }}
{% endblock %}
