{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "includes/workbaskets/navigation.jinja" import navigation %}

{% set page_title %}
  Workbasket {{ request.user.current_workbasket.id }}
  {% if request.user.current_workbasket.title %} - Add/edit items{% endif %}
{% endset %}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " - Summary", "href": url("workbaskets:current-workbasket") },
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " - Add/edit items" }
    ]
  }) }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
    {{ page_title }}
  </h1>

  {{ navigation(request, "edit") }}

  {% macro workbasket_column(title, links) %}
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m">{{ title }}</h2>
        <ul class="govuk-list">
          {% for link in links %}
            <li>
              <a class="govuk-link" href="{{ link.url }}">
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
  {% endmacro %}

  <div class="govuk-grid-row">
    {{ workbasket_column("Additional codes", [
      {"text": "Create a new additional code", "url": url('additional_code-ui-create')},
      {"text": "Find and edit additional codes", "url": url("additional_code-ui-list")},
      ])
    }}
    {{ workbasket_column("Certificates", [
      {"text": "Create a new certificate", "url": url('certificate-ui-create')},
      {"text": "Find and edit certificates", "url": url("certificate-ui-list")},
      ])
    }}
    {{ workbasket_column("Footnotes", [
      {"text": "Create a new footnote", "url": url('footnote-ui-create')},
      {"text": "Find and edit footnotes", "url": url('footnote-ui-list')},
      ])
    }}
    {{ workbasket_column("Geographical areas", [
      {"text": "Create a new geographical area", "url": url('geo_area-ui-create')},
      {"text": "Find and edit geographical areas", "url": url('geo_area-ui-list')},
      ])
    }}
  </div>
  <div class="govuk-grid-row">
    {{ workbasket_column("Commodities", [
      {"text": "Find commodities", "url": url('commodity-ui-list')},
      ])
    }}
    {{ workbasket_column("Measures", [
      {"text": "Create a new measure", "url": url('measure-ui-create', kwargs={"step": "start"})},
      {"text": "Find and edit measures", "url": url('measure-ui-search')},
      {"text": "Read the duty sentence reference", "url": url("duties")},
      ])
    }}
    {{ workbasket_column("Quotas", [
      {"text": "Create a new quota", "url": url('quota-ui-create')},
      {"text": "Find and edit quotas", "url": url('quota-ui-list')},
      {"text": "Create quota association", "url": url('sub_quota_definitions-ui-create')},
      ])
    }}
    {{ workbasket_column("Regulations", [
      {"text": "Create a new regulation", "url": url('regulation-ui-create')},
      {"text": "Find and edit regulations", "url": url('regulation-ui-list')},
      ])
    }}
  </div>
{% endblock %}
