{% extends "layouts/create.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Edit workbasket details" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " - summary", "href": url("workbaskets:current-workbasket") },
      {"text": page_title}
    ]
  }) }}
{% endblock %}
