{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title %}Workbasket {{ workbasket.id if workbasket else request.session.workbasket.id }}{% endset %}
{% set page_subtitle %}<span class="govuk-!-font-weight-bold">Summary</span> - View workbasket components{% endset %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.session.workbasket.id ~ " - Summary" }
    ]})
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
    {{ page_title }}
  </h1>
  <h2 class="govuk-body-l govuk-!-margin-bottom-6">
    {{ page_subtitle }}
  </h2>
  <a href="{{ url('workbaskets:edit-workbasket', args=[request.session.workbasket.id]) }}" class="govuk-button govuk-button--primary">Edit this workbasket</a>
  {% if workbasket.tracked_model_check_errors.exists() %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <div class="govuk-button-group">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Live status {{ workbasket.tracked_model_check_errors.order_by("created_at").last().created_at}}  
      </h2>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save as draft
      </button>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      Number of changes: {{workbasket.tracked_models.count()}}
    </h2>
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      Number of violations: {{workbasket.tracked_model_check_errors.count()}}
    </h2>
    <a href="{{ url('workbaskets:workbasket-ui-violations', args=[request.session.workbasket.id]) }}" class="govuk-button govuk-button--primary">View violations</a>
  </div>
  {% endif %}
  {% include "includes/workbaskets/workbasket-selectable-items.jinja" %}
{% endblock %}
