{% extends "workbaskets/review.jinja" %}
{% from "components/button/macro.njk" import govukButton %}

{% block filters %}{% endblock %}
{% block tab_content %}
  <p>Visit the <a href="{{url('review-imported-goods', kwargs={'pk':workbasket.pk})}}">Review imported goods</a> page to see commodities imported into this workbasket.</p>
{% endblock %}
