{% extends "layouts/layout.jinja" %}
{% from "components/table/macro.njk" import govukTable %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "includes/workbaskets/navigation.jinja" import navigation %}

{% set page_title %}Workbasket {{ workbasket.id if workbasket else request.session.workbasket.id }} - Review changes{% endset %}
{% set page_subtitle %}<span class="govuk-!-font-weight-bold">Summary</span> - View workbasket components{% endset %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.session.workbasket.id ~ " - Review changes" }
    ]})
  }}
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  {{ page_title }}
</h1>

{{ navigation(request, "review") }}

<div class="govuk-!-margin-top-5">
  {% if paginator.count > 0 %}
    <p class="govuk-body">There are {{ paginator.count }} measures to review.</p>
  {% endif %}
  {% if object_list %}
    {% include "includes/measures/workbasket-measures.jinja" %}
  {% else %}
    <p class="govuk-body">There are no measures in this workbasket.</p>
  {% endif %}
  {% include "includes/common/pagination.jinja" %}
</div>
{% endblock %}
