{% extends "layouts/layout.jinja" %}

{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "Edit an existing workbasket" %}
{% set list_include = "includes/workbaskets/edit-workbasket-list.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <nav class="workbasket-filters">
    <p class="govuk-body govuk-!-font-weight-bold">Filter results:</p>
    <ul class="govuk-list">
      <li>
        <a href="{{ request.path }}?assignment=" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if not request.GET.assignment %}selected-link{% endif %}">All</a>
      </li>
      <li>
        <a href="{{ request.path }}?assignment=Full" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.assignment == 'Full' %}selected-link{% endif %}">Fully assigned</a>
      </li>
      <li>
        <a href="{{ request.path }}?assignment=Reviewer" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.assignment == 'Reviewer' %}selected-link{% endif %}">Reviewer assigned</a>
      </li>
      <li>
        <a href="{{ request.path }}?assignment=Worker" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.assignment == 'Worker' %}selected-link{% endif %}">Worker assigned</a>
      </li>
      <li>
        <a href="{{ request.path }}?assignment=Awaiting" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.assignment == 'Awaiting' %}selected-link{% endif %}">Awaiting assignment</a>
      </li>
    </ul>
  </nav>
  <hr class="govuk-section-break govuk-section-break--visible">

  {% if object_list %}
    {% include list_include %}
  {% else %}
    <p class="govuk-body">There are no workbaskets with this status.</p>
  {% endif %}
  {% include "includes/common/pagination.jinja" %}
{% endblock %}
