{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/create_sortable_anchor.jinja" import create_sortable_anchor %}
{% from "includes/workbaskets/navigation.jinja" import navigation %}

{% set page_title %}
  Workbasket {{ workbasket.id if workbasket else request.user.current_.workbasket.id }} - Summary
{% endset %}

{% set change_workbasket_details_link = url("workbaskets:workbasket-ui-update", kwargs={"pk": workbasket.pk}) %}
{% set workbasket_changes_link = url("workbaskets:workbasket-ui-changes", kwargs={"pk": workbasket.pk}) %}
{% set transaction_order_link = url("workbaskets:workbasket-ui-transaction-order", kwargs={"pk": workbasket.pk}) %}
{% set assign_users_link = url("workbaskets:workbasket-ui-assign-users", kwargs={"pk": workbasket.pk}) %}
{% set unassign_users_link = url("workbaskets:workbasket-ui-unassign-users", kwargs={"pk": workbasket.pk}) %}

{% set base_url = url("workbaskets:current-workbasket") ~ "?page=" ~ page_obj.number %}

{% macro display_assigned_users(assigned_users, assignment_type) %}
  {% if not assigned_users and assignment_type == "workers" %}
    No users have been assigned to this workbasket yet.
  {% elif not assigned_users and assignment_type == "reviewers" %}
    No users have been assigned to review this workbasket yet.
  {% else %}
    {% for user in assigned_users %}
      {{ user.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.user.current_workbasket.id ~ " - Summary" }
    ]})
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
    {{ page_title }}
  </h1>

  {{ navigation(request, "summary") }}

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">TOPS/Jira number</dt>
      <dd class="govuk-summary-list__value">{{ workbasket.title }}</dd>
      <dd class="govuk-summary-list__actions">
        <a
          class="govuk-link"
          href="{{ change_workbasket_details_link }}"
        >Change<span class="govuk-visually-hidden"> TOPS/Jira number</span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ workbasket.reason }}</dd>
      <dd class="govuk-summary-list__actions">
        <a
          class="govuk-link"
          href="{{ change_workbasket_details_link }}"
        >Change<span class="govuk-visually-hidden"> description</span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">View and remove items from the workbasket</dt>
      <dd class="govuk-summary-list__value">
        View all items as they would generate in an envelope and remove items where needed.
      </dd>
      <dd class="govuk-summary-list__actions">
        <a
          class="govuk-link"
          href="{{ workbasket_changes_link }}"
        >Workbasket changes</a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">View and reorder workbasket transactions</dt>
      <dd class="govuk-summary-list__value">
        View the proposed transaction order for the envelope and rearrange items where needed.
      </dd>
      <dd class="govuk-summary-list__actions">
        <a
          class="govuk-link"
          href="{{ transaction_order_link }}"
        >Workbasket transactions</a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Assigned to</dt>
      <dd class="govuk-summary-list__value">{{ display_assigned_users(assigned_workers, "workers") }}</dd>
      <dd class="govuk-summary-list__actions">
        {% if assigned_workers %}
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a
                id="assign-workers"
                class="govuk-link"
                href="{{ assign_users_link }}"
              >Assign<span class="govuk-visually-hidden"> users</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a
                id="unassign-workers"
                class="govuk-link" href="{{ unassign_users_link }}"
              >Unassign<span class="govuk-visually-hidden"> users</span></a>
            </li>
          </ul>
        {% else %}
          <a
            id="assign-workers"
            class="govuk-link"
            href="{{ assign_users_link }}"
          >Assign<span class="govuk-visually-hidden"> users</span></a>
        {% endif %}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Assigned to review</dt>
      <dd class="govuk-summary-list__value">{{ display_assigned_users(assigned_reviewers, "reviewers") }}</dd>
      <dd class="govuk-summary-list__actions">
        {% if assigned_reviewers %}
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a
                id="assign-reviewers"
                class="govuk-link"
                href="{{ assign_users_link }}"
              >Assign<span class="govuk-visually-hidden"> users to review</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a
                id="unassign-reviewers"
                class="govuk-link"
                href="{{ unassign_users_link }}"
              >Unassign<span class="govuk-visually-hidden"> users to review</span></a>
            </li>
          </ul>
        {% else %}
          <a
            id="assign-reviewers"
            class="govuk-link"
            href="{{ assign_users_link }}"
          >Assign<span class="govuk-visually-hidden"> users</span></a>
        {% endif %}
      </dd>
    </div>

    {% if workbasket.tasks.exists() and can_add_comment %}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
        <dt class="govuk-summary-list__key">Activity</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
          {{ crispy(form, context={"csrf_token": csrf_token, "request": request}) }}
        </dd>
        {% if comments %}
          <dd class="govuk-summary-list__actions">
            <span class="govuk-visually-hidden">Sort by </span>{{ create_sortable_anchor(request, "comments", sort_by_title, base_url, query_params="True") }}
          </dd>
        {% endif %}
      </div>
    {% endif %}
  </dl>

  {% if comments and can_view_comment %}
    <div class="govuk-grid-row">
      <div id="workbasket-comments-container" class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m govuk-visually-hidden">Comments</h2>
        {% for comment in comments %}
          <article>
            <header class="govuk-!-margin-bottom-4">
              <p class="govuk-body">
                <span class="govuk-!-font-weight-bold govuk-!-margin-right-2">{{ comment.author.get_displayname() }}</span>
                <time>{{ localtime(comment.created_at).strftime("%d %B %Y, %I:%M %p") }}</time>
              </p>
              {% if comment.author == request.user %}
                <ul class="govuk-list comment-actions">
                  <li>
                    <a
                      class="govuk-link"
                      href="{{ url("workbaskets:workbasket-ui-comment-edit", kwargs={"wb_pk": workbasket.pk, "pk": comment.pk}) }}"
                    >Edit</a>
                  </li>
                  <li>
                    <a
                      class="govuk-link"
                      href="{{ url("workbaskets:workbasket-ui-comment-delete", kwargs={"wb_pk": workbasket.pk, "pk": comment.pk}) }}"
                    >Delete</a>
                  </li>
                </ul>
              {% endif %}
            </header>
            <div class="comment">{{ comment.content|safe }}</div>
          </article>
          {% if not loop.last %}
            <hr class="govuk-section-break govuk-section-break--visible">
          {% endif %}
        {% endfor %}
        <hr class="govuk-section-break">
        {% include "includes/common/pagination.jinja" %}
      </div>
    </div>
  {% endif %}

  <script nonce="{{ request.csp_nonce }}">
    const CSRF_TOKEN = "{{ csrf_token }}";

    const assignableUsers = {{ assignable_users|safe }};
    const assignedWorkers = {{ assigned_workers|safe }};
    const assignedReviewers = {{ assigned_reviewers|safe }};

    const assignUsersUrl = "{{ assign_users_link }}";
    const unassignUsersUrl = "{{ unassign_users_link }}";
  </script>
{% endblock %}
