{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "includes/workbaskets/navigation.jinja" import navigation %}

{% set page_title %}
  Workbasket {{ workbasket.id if workbasket else request.session.workbasket.id }} - Summary
{% endset %}

{% set run_business_rules_form_icon %}
<form
    method="post"
    class="govuk-!-display-inline-block"
  >
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="workbasket_id" value="{{ workbasket.id }}">
    <button
      value="run-business-rules"
      name="form-action"
      preventDoubleClick= true
      class="no-background"
    >
      <img src="{{ static('common/images/refresh.svg') }}" alt="run business rules">
    </button>
  </form>
{% endset %}

{% set run_business_rules_form %}
  <form
    method="post"
    class="govuk-!-display-inline-block govuk-!-margin-left-5"
  >
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="workbasket_id" value="{{ workbasket.id }}">
    {{ govukButton({
      "text": "Run business rules",
      "classes": "govuk-button--secondary govuk-!-margin-0",
      "name": "form-action",
      "value": "run-business-rules",
      "preventDoubleClick": true,
    }) }}
  </form>
{% endset %}

{% set rule_check_block %}

  {% if rule_check_in_progress %}
    <div class="govuk-button-group">
      <h2 class="govuk-heading-s">
        Live status : rule check in progress. Checking {{ workbasket.tracked_models.count() }} objects in basket. Come back later or refresh to see results.
      </h2>
    </div>
  {% elif workbasket.tracked_model_check_errors.exists() %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__body" id="error-summary-title">
        <span class="govuk-!-font-weight-bold">
          Number of changes: {{workbasket.tracked_models.count()}} &nbsp
        </span>
        <a href={{ url('workbaskets:review-workbasket', args=[request.session.workbasket.id]) }}>Review changes</a>
        <span class="govuk-!-font-weight-bold" style="float:right">
          Last Run: ({{ "{:%d %b %Y %H:%M}".format(localtime(workbasket.tracked_model_checks.order_by("created_at").last().created_at)) }})
          {{ run_business_rules_form_icon }}
        </span>  
      </h2>
      <h2 class="govuk-error-summary__body" id="error-summary-title">
        Number of violations: {{workbasket.tracked_model_check_errors.count()}}
      </h2>
      <a href="{{ url('workbaskets:workbasket-ui-violations', args=[request.session.workbasket.id]) }}" class="govuk-button govuk-button--primary">View violations</a>
    </div>
  {% elif workbasket.tracked_model_checks.exists() %}
    <div class="govuk-notification-banner govuk-notification-banner--success"   
      aria-labelledby="success-summary-title" role="region" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content">
        <h2 class="govuk-body" id="success-summary-title" style="max-width:none">
            <span class="govuk-!-font-weight-bold">
              Number of changes: {{workbasket.tracked_models.count()}} &nbsp
            </span>
            <a href={{ url('workbaskets:review-workbasket', args=[request.session.workbasket.id]) }}>Review changes</a>
            <span class="govuk-!-font-weight-bold" style="float:right">
              Last Run: ({{ "{:%d %b %Y %H:%M}".format(localtime(workbasket.tracked_model_checks.order_by("created_at").last().created_at)) }})
              {{ run_business_rules_form_icon }}
            </span>        
        </h2>
        <h2 class="govuk-body govuk-!-font-weight-bold" id="success-summary-title">
          Number of violations: {{workbasket.tracked_model_check_errors.count()}}
        </h2>
        <a href="{{ url('publishing:packaged-workbasket-queue-ui-create')}}" class="govuk-button govuk-button--primary">
          Send to packaging queue
        </a>
      </div>
    </div>
  {% elif workbasket.tracked_models.exists() %}    
      <div class="govuk-button-group">
        <h2 class="govuk-heading-s">
          Live status : no rule check performed yet.
          {{ run_business_rules_form }}
        </h2>
      </div>
  {% else %}
    <div class="govuk-button-group">
      <h2 class="govuk-heading-s">
        Live status : no objects in workbasket.
      </h2>
    </div>
  {% endif %}
{% endset %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
      "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Edit an existing workbasket", "href": url("workbaskets:workbasket-ui-list")},
      {"text": "Workbasket " ~ request.session.workbasket.id ~ " - Summary" }
    ]})
  }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
    {{ page_title }}
  </h1>
  {{ navigation(request, "summary") }}

  {{ rule_check_block }}

  {% include "includes/workbaskets/workbasket-selectable-items.jinja" %}
{% endblock %}
