{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}
{% from "includes/workbaskets/navigation.jinja" import create_workbasket_detail_navigation with context %}
{% from "macros/checkbox_item.jinja" import checkbox_item %}
{% from "workbaskets/macros/load_more_pagination.jinja" import load_more_pagination with context %}
{% from "workbaskets/macros/transaction_details.jinja" import transaction_details with context %}

{% set page_title %} Workbasket {{ workbasket.id }} - {{ workbasket.status }} {% endset %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and view workbaskets", "href": url("workbaskets:workbasket-ui-list-all")},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% set checkbox_check_all %}
  <div id="check-all-checkbox"></div>
{% endset %}

{% set base_url = url("workbaskets:workbasket-ui-transaction-order", args=[workbasket.pk]) ~ "?page=" ~ page_obj.number %}

{% set current_count = page_obj|length + ((page_obj.number - 1) * view.paginate_by) %}
{% set total_count = page_obj.paginator.count %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page_title }}</h1>

  {{ create_workbasket_detail_navigation(active_tab="transaction-order") }}

  <h2 class="govuk-heading-m">Transaction order</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if not workbasket.tracked_models.count() %}
      <p class="govuk-body">There are no transactions in the workbasket.</p>

    {% elif workbasket.status == "EDITING" and user_can_delete_items %}
      <p class="govuk-body">Select to remove or click on the ID link to edit:</p>
      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% if form.fields %}
          {% set table_rows = [] %}
          {% for field in form %}
            {% set checkbox = checkbox_item(field) %}
            {% set obj = field.field.obj %}
            {% set object_link %}
              <a class="govuk-link" href="{{ obj.get_url() or "#" }}">
                {{ obj.get_described_object() if obj.get_described_object else obj.structure_code }}
              </a>
            {% endset %}
            {% set object_description -%}
              {{ obj.structure_description if obj.structure_description else "-" }}
            {% endset %}

            {# Above each transaction add transaction info and actions. #}
            {% if loop.first or is_obj_first_in_transaction(obj) %}
              {{ table_rows.append([
                { "text": "", "classes": "transaction-start first-cell"},
                {
                  "html": transaction_details(obj.transaction),
                  "colspan": 7,
                  "classes": "transaction-start last-cell",
                },
              ]) or "" }}
            {% endif %}

            {# TrackedModel instance. #}
            {{ table_rows.append([
              {"text": "", "classes": "item first-cell"},
              {"html": checkbox},
              {"html": object_link, "classes": "govuk-!-width-one-quarter"},
              {"text": obj._meta.verbose_name.title()},
              {"text": obj.update_type_str},
              {"html": object_description, "classes": "govuk-!-width-one-quarter"},
              {"text": "{:%d %b %Y}".format(obj.transaction.updated_at), "classes": "govuk-!-width-one-quarter item last-cell"},
            ]) or "" }}

            {# Below each transaction add a spacer line. #}
            {% if not loop.last and is_obj_last_in_transaction(obj) %}
              {{ table_rows.append([
                {
                  "text": "",
                  "colspan": 7,
                  "classes": "transaction-end",
                },
              ]) or "" }}
            {% endif  %}
          {% endfor %}

          {{ govukTable({
            "head": [
              {"text": ""},
              {"html": checkbox_check_all},
              {"text": "ID"},
              {"text": "Component"},
              {"text": "Action"},
              {"text": "Description"},
              {"text": "Activity date"},
            ],
            "rows": table_rows,
            "classes": "workbasket-items",
          }) }}
        {% endif %}

        <div class="govuk-button-group">
          <button value="remove-selected" name="form-action" class="govuk-button govuk-button--secondary" data-module="govuk-button">Remove</button>
        </div>

        {{ load_more_pagination(current_count, total_count) }}
      </form>

    {% else %}
      {% set table_rows = [] %}
      {% for obj in view.get_queryset() %}
        {% set object_link %}
          <a class="govuk-link" href="{{ obj.get_url() or "#" }}">
            {{ obj.get_described_object() if obj.get_described_object else obj.structure_code }}
          </a>
        {% endset %}
        {% set object_description -%}
          {{ obj.structure_description if obj.structure_description else "-" }}
        {% endset %}
        {% set transaction_detail %}
          <span class="details">Transaction: {{ obj.transaction.pk }}</span>
        {% endset %}

        {# Above each transaction add transaction info. #}
        {% if loop.first or is_obj_first_in_transaction(obj) %}
          {{ table_rows.append([
            {"text": "", "classes": "transaction-start first-cell"},
            {
              "html": transaction_detail,
              "colspan": 7,
              "classes": "transaction-start last-cell",
            },
           ]) or "" }}
        {% endif %}

        {# TrackedModel instance. #}
        {{ table_rows.append([
          {"text": "", "classes": "item first-cell"},
          {"html": object_link},
          {"text": obj._meta.verbose_name.title()},
          {"text": obj.update_type_str},
          {"text": object_description, "classes": "govuk-!-width-one-third"},
          {"text": "{:%d %b %Y}".format(obj.transaction.updated_at), "classes": "govuk-!-width-one-quarter item last-cell"},
        ]) or "" }}

        {# Below each transaction add a spacer line. #}
        {% if not loop.last and is_obj_last_in_transaction(obj) %}
          {{ table_rows.append([
            {
              "text": "",
              "colspan": 7,
              "classes": "transaction-end",
            },
          ]) or "" }}
        {% endif  %}
      {% endfor %}

      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ govukTable({
          "head": [
            {"text": ""},
            {"text": "ID"},
            {"text": "Component"},
            {"text": "Action"},
            {"text": "Description"},
            {"text": "Activity date"},
          ],
          "rows": table_rows,
          "classes": "workbasket-items",
        }) }}

        {{ load_more_pagination(current_count, total_count) }}

      </form>
    {% endif %}
    </div>
  </div>
{% endblock %}
