{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}
{% from "includes/workbaskets/navigation.jinja" import create_workbasket_detail_navigation with context %}
{% from "macros/checkbox_item.jinja" import checkbox_item %}
{% from "workbaskets/macros/load_more_pagination.jinja" import load_more_pagination with context %}
{% from "workbaskets/macros/transaction_details.jinja" import transaction_details with context %}

{% set page_title %} Workbasket {{ workbasket.id }} - {{ workbasket.status }} {% endset %}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
      {"text": "Find and view workbaskets", "href": url("workbaskets:workbasket-ui-list-all")},
      {"text": page_title}
    ])
  }}
{% endblock %}

{% set base_url = url("workbaskets:workbasket-ui-transaction-order", args=[workbasket.pk]) ~ "?page=" ~ page_obj.number %}

{% set current_count = page_obj|length + ((page_obj.number - 1) * view.paginate_by) %}
{% set total_count = page_obj.paginator.count %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ page_title }}</h1>

  {{ create_workbasket_detail_navigation(active_tab="transaction-order") }}

  <h2 class="govuk-heading-m">Transaction order</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if not workbasket.transactions.exists() %}
      <p class="govuk-body">There are no transactions in the workbasket.</p>

    {% elif workbasket.status == "EDITING" and user_can_move_transactions %}
      <p class="govuk-body">Select one or more transactions to move.</p>
      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% if form.fields %}
          {% set table_rows = [] %}
          {% for field in form %}
            {% set checkbox = checkbox_item(field) %}
            {% set transaction = field.field.obj %}

            {# Transaction info and actions. #}
            {{ table_rows.append([
              {
                "html": checkbox,
                "classes": "transaction-start"
              },
              {
                "html": transaction_details(transaction),
                "colspan": 5,
                "classes": "transaction-start",
              },
            ]) or "" }}

            {# Tracked models within transaction. #}
            {% for tracked_model in transaction.tracked_models.all() %}
              {% set tracked_model_link %}
                <a class="govuk-link" href="{{ tracked_model.get_url() or "#" }}">
                  {{ tracked_model.get_described_object() if tracked_model.get_described_object else tracked_model.structure_code }}
                </a>
              {% endset %}
              {% set tracked_model_description -%}
                {{ tracked_model.structure_description if tracked_model.structure_description else "-" }}
              {% endset %}
              {{ table_rows.append([
                {"text": "", "classes": "item"},
                {"html": tracked_model_link, "classes": "govuk-!-width-one-quarter"},
                {"text": tracked_model._meta.verbose_name.title()},
                {"text": tracked_model.update_type_str},
                {"html": tracked_model_description},
                {"text": "{:%d %b %Y}".format(transaction.updated_at), "classes": "item"},
              ]) or "" }}
            {% endfor %}

            {# Below each transaction add a spacer line. #}
            {% if not loop.last %}
              {{ table_rows.append([
                {
                  "text": "",
                  "colspan": 6,
                  "classes": "transaction-end",
                },
              ]) or "" }}
            {% endif %}
          {% endfor %}

          {{ govukTable({
            "head": [
              {"text": "Checkbox", "classes": "govuk-visually-hidden"},
              {"text": "ID"},
              {"text": "Component"},
              {"text": "Action"},
              {"text": "Description"},
              {"text": "Activity date"},
            ],
            "rows": table_rows,
            "classes": "workbasket-transactions",
          }) }}
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-bottom-5">
          <button value="promote-transactions-top"
            name="form-action"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            data-prevent-double-click="true"
          >Move to top</button>

          <button value="promote-transactions"
            name="form-action"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            data-prevent-double-click="true"
          >Move up</button>

          <button value="demote-transactions"
            name="form-action"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            data-prevent-double-click="true"
          >Move down</button>

          <button value="demote-transactions-bottom"
            name="form-action"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            data-prevent-double-click="true"
          >Move to bottom</button>
        </div>

        {{ load_more_pagination(current_count, total_count, "transaction") }}
      </form>

    {% else %}
      {% set table_rows = [] %}
      {% for transaction in view.get_queryset() %}
        {% set transaction_detail %}
          <span class="details">Transaction: {{ transaction.pk }}</span>
        {% endset %}

        {# Transaction info and actions. #}
        {{ table_rows.append([
          {
            "text": "",
            "classes": "transaction-start",
          },
          {
            "html": transaction_detail,
            "colspan": 5,
            "classes": "transaction-start",
          },
        ]) or "" }}

        {# Tracked models within transaction. #}
        {% for tracked_model in transaction.tracked_models.all() %}
          {% set tracked_model_link %}
            <a class="govuk-link" href="{{ tracked_model.get_url() or "#" }}">
              {{ tracked_model.get_described_object() if tracked_model.get_described_object else tracked_model.structure_code }}
            </a>
          {% endset %}
          {% set tracked_model_description -%}
            {{ tracked_model.structure_description if tracked_model.structure_description else "-" }}
          {% endset %}
          {{ table_rows.append([
            {"text": "", "classes": "item"},
            {"html": tracked_model_link, "classes": "govuk-!-width-one-quarter"},
            {"text": tracked_model._meta.verbose_name.title()},
            {"text": tracked_model.update_type_str},
            {"html": tracked_model_description},
            {"text": "{:%d %b %Y}".format(transaction.updated_at), "classes": "item"},
          ]) or "" }}
        {% endfor %}

        {# Below each transaction add a spacer line. #}
        {% if not loop.last %}
          {{ table_rows.append([
            {
              "text": "",
              "colspan": 6,
              "classes": "transaction-end",
            },
          ]) or "" }}
        {% endif %}
      {% endfor %}

      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ govukTable({
          "head": [
            {"text": ""},
            {"text": "ID"},
            {"text": "Component"},
            {"text": "Action"},
            {"text": "Description"},
            {"text": "Activity date"},
          ],
          "rows": table_rows,
          "classes": "workbasket-transactions",
        }) }}

        {{ load_more_pagination(current_count, total_count, "transaction") }}

      </form>
    {% endif %}
    </div>
  </div>
{% endblock %}
