{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/table/macro.njk" import govukTable %}

{%- set table_rows = [] -%}
{% for envelope in object_list %}

  {%- set published_envelope_download_link -%}
    <a
      class="govuk-link download-envelope"
      href="#"
    >{{ envelope.envelope_id }}</a>
  {%- endset -%}

  {%- set envelope_file_history_link -%}
    {{ list(envelope.get_xml_file_versions())|length }}
    (<a
      class="govuk-link"
      href="{{ url('publishing:envelope-file-history-ui-detail', kwargs={'pk': envelope.pk}) }}"
    >view all</a>)
  {%- endset -%}

  {{ table_rows.append([
    {"html": published_envelope_download_link},
    {"html": envelope_file_history_link},
    {"text": envelope.packagedworkbaskets.last().workbasket.title},
    {"text": "{:%d %b %Y, %H:%M}".format(envelope.created_at)},
  ]) or "" }}

{% endfor %}

{{ govukTable({
  "head": [
    {"text": "Envelope ID"},
    {"text": "Total versions"},
    {"text": "Workbasket title"},
    {"text": "Created"},
  ],
  "rows": table_rows
}) }}
