{% from "components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  "text": "The workbasket will be added to the packaging queue to send to CDS.",
  "iconFallbackText": "Warning"
}) }}