{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}

{% set page_title = "Edit footnote description" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Footnotes", "href": url("footnote-ui-list")},
      {"text": "Footnote " ~ object.described_footnote|string, "href": object.described_footnote.get_url()},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  {{ govukPanel({
    "titleText": "The description for footnote " ~ object.described_footnote|string ~ " has been updated.",
    "text": "This change has been added to your tariff changes"
  }) }}

  <h2 class="govuk-heading-m">Next steps</h2>
  <ul class="govuk-list">
    <li><a href="{{ object.described_footnote.get_url() }}">View footnote {{ object.described_footnote|string }}</a></li>
    <li><a href="{{ url("footnote-ui-list") }}">Manage more footnotes</a></li>
    <li><a href="{{ url('workbaskets:workbasket-ui-detail', args=[request.session.workbasket.id]) }}">View content of your workbasket</a></li>
    <li><a href="{{ url("home") }}">Return to main menu</a></li>
  </ul>
{% endblock %}
