{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% set page_title = "Footnote: " ~ object|string %}
{% set find_edit_url = url("footnote-ui-list") %}

{% set core_data_tab_html %}{% include "includes/footnotes/tabs/core_data.jinja" %}{% endset %}
{% set description_tab_html %}{% include "includes/common/tabs/descriptions.jinja" %}{% endset %}
{% set version_control_tab_html %}{% include "includes/footnotes/tabs/version_control.jinja" %}{% endset %}

{% set tabs = {
    "items": [
      {
        "label": "Details",
        "id": "core-data",
        "panel": {
          "html": core_data_tab_html
        }
      },
      {
        "label": "Descriptions",
        "id": "descriptions",
        "panel": {
          "html": description_tab_html
        }
      },
      {
        "label": "Version control",
        "id": "version-control",
        "panel": {
          "html": version_control_tab_html
        }
      }
    ]
  }%}

{%- include "layouts/detail.jinja" -%}