{% extends "layouts/form.jinja" %}

{% from "components/date_range_limit_input/macro.jinja" import date_range_limit_input %}
{% from "components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/select/macro.njk" import govukSelect %}

{% set page_title = "Edit footnote description" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "Footnotes", "href": url("footnote-ui-list")},
      {"text": "Footnote " ~ object.described_footnote|string, "href": object.described_footnote.get_url()},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block form_preamble %}
  <p class="govuk-body">
    You are editing a footnote description for footnote {{ object.described_footnote|string }}.
  </p>
{% endblock %}

{% block form %}
  {% call django_form(action=object.get_url("edit")) %}
    {{ date_range_limit_input({
      "form": form,
      "field": "validity_start",
      "label": "When does this description start?",
    }) }}

    {{ govukCharacterCount({
      "id": "description",
      "name": "description",
      "maxlength": 2000,
      "label": {
        "text": "Enter the footnote description",
        "classes": "govuk-label--m",
      },
      "value": form.initial.description|default("")
    }) }}

    <h2 class="govuk-heading-m">Finish now</h2>
    {{ govukButton({"text": "Add to workbasket"}) }} <span class="govuk-body"><a href="#">Cancel</a></span>
  {% endcall %}
{% endblock %}
