
      {% set table_rows = [] %}
      {% for regulation in object_list %}
        {% set regulation_link -%}
        <a href="{{ url("regulation-ui-detail", kwargs={"pk": regulation.pk}) }}">{{ regulation.regulation_id }}</a>
        {%- endset %}
        {% set regulation_group_link -%}
          {% if regulation.regulation_group -%}
            <a href="#">{{ regulation.regulation_group.description }}</a>
          {%- endif %}
        {%- endset %}
        {% set regulation_status -%}
          {% if regulation.approved -%}
            <img src="{{ static("common/images/published.png") }}" alt="Approved">
          {%- else -%}
            &nbsp;
          {%- endif %}
        {%- endset %}
        {{ table_rows.append([
          {"html": regulation_link},
          {"text": regulation.information_text},
          {"text": regulation_group_link},
          {"text": regulation.get_role_type_display()},
          {"text": "{:%d %b %Y}".format(regulation.valid_between.lower) if regulation.valid_between else "-"},
          {"text": "{:%d %b %Y}".format(regulation.valid_between.upper) if regulation.valid_between.upper else "-"},
          {"html": regulation_status},
          {"text": ""},
        ]) or "" }}
      {% endfor %}
      {{ govukTable({
        "head": [
          {"text": "ID"},
          {"text": "Information text"},
          {"text": "Regulation group"},
          {"text": "Regulation type"},
          {"text": "Start date"},
          {"text": "End date"},
          {"text": "Status"},
          {"text": "Measures"}
        ],
        "rows": table_rows
      }) }}
