{% from "components/tabs/macro.njk" import govukTabs %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/table/macro.njk" import govukTable %}

{% set object_type = "regulation" %}
{% set page_title = "Regulation: " ~ object.regulation_id %}
{% set find_edit_url = url("regulation-ui-list") %}

{% set core_data_tab_html %}{% include "includes/regulations/tabs/core_data.jinja" %}{% endset %}
{% set version_control_tab_html %}{% include "includes/regulations/tabs/version_control.jinja" %}{% endset %}

{% set tabs = {
    "items": [
      {
        "label": "Details",
        "id": "core-data",
        "panel": {
          "html": core_data_tab_html
        }
      },
      {
        "label": "Version control",
        "id": "version-control",
        "panel": {
          "html": version_control_tab_html
        }
      }
    ]
  }
%}

{%- include "layouts/detail.jinja" -%}
