Public regulation identifiers take the following forms, depending on the kind of
regulation that is being set up.

<div class="govuk-!-margin-top-3">
    <table class="govuk-table" cellspacing="0">
        <tbody>
            <tr class="govuk-table__row">
                <th class="govuk-table__header medium b">Regulation type</th>
                <th class="govuk-table__header medium b">Public identifier</th>
            </tr>
            <tr>
                <td class="govuk-table__cell medium">Secondary legislation</td>
                <td class="govuk-table__cell medium">All secondary legislation is lodged on
                    https://www.legislation.gov.uk and is searchable via its year and unique identifier. The
                    public-facing identifier is written in the form <strong>2019 No. 345</strong>
                </td>
            </tr>
            <tr>
                <td class="govuk-table__cell medium">Tertiary legislation</td>
                <td class="govuk-table__cell medium">Public notices are created on www.gov.uk. Their public-facing
                    identifiers are written in the form <strong>Taxation Notice: 2019/007</strong></td>
            </tr>
        </tbody>
    </table>
</div>
