The unique number given to this regulation to identify the order in which it was publsihed in the year. For a Statutory
Instrument (S.I.), this is the number from <a href="https://legislation.gov.uk">Legislation.gov.uk</a> . For example,
for S.I. 2020 No. 123, the sequence number is 123.