{%- extends "includes/common/tabs/core_data.jinja" -%}

{% block data %}
    {{ govukSummaryList({
        "rows": [
        {
            "key": {"text": "Footnote ID"},
            "value": {"text": object|string},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Footnote type"},
            "value": {"text": object.footnote_type|string ~ " - "  ~ object.footnote_type.description},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Usage"},
            "value": {"text": object.footnote_type.get_application_code_display()},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Description"},
            "value": {"text": object.get_description().description},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Start date"},
            "value": {"text": "{:%d %b %Y}".format(object.valid_between.lower)},
            "actions": {"items": []}
        },
        {
            "key": {"text": "End date"},
            "value": {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
            "actions": {"items": []}
        },
        {
            "key": {"text": "Status"},
            "value": {"text": object.transaction.workbasket.get_status_display()},
            "actions": {"items": []}
        },
        ]
    })}}
{% endblock %}