{% set description_rows = [] %}
{% for description in object.get_descriptions().order_by("valid_between") %}
    {% set valid_between %}
		<span class='govuk-!-font-weight-bold'>{{"{:%d %b %Y}".format(description.valid_between.lower)}}</span>
	{% endset %}
    {{ description_rows.append([
        {"html": valid_between},
        {"text": description.description},
    ]) or ""}}
{% endfor %}
<div class="footnote__description-data">
    <div class="footnote__description-data__content">
        <h2 class="govuk-heading-l">Descriptions</h2>
        {{ govukTable({
            "firstCellIsHeader": false,
            "head": [
                {"text": "Start Date", "classes":  "govuk-!-width-one-eighth"},
                {"text": "Description"}
            ],
            "rows": description_rows
        }) }}
    </div>
</div>
