<h2 class="govuk-heading-l">Version control</h2>
{% set version_rows = [] %}
{% for version in object.version_group.versions.all() %}
    {{ version_rows.append([
        {"text": version.get_update_type_display()},
        {"text": "{:%d %b %Y}".format(object.version_group.created_at)},
        {"text": object.transaction.workbasket.get_status_display()},
        {"text": "{:%d %b %Y}".format(version.valid_between.lower)},
        {"text": "{:%d %b %Y}".format(version.valid_between.upper) if version.valid_between.upper else "-"},
        {"text": version.get_description().description},
    ]) or ""}}
{% endfor %}
{{ govukTable({
    "head": [
        {"text": "Activity"},
        {"text": "Date"},
        {"text": "Status"},
        {"text": "Start date"},
        {"text": "End date"},
        {"text": "Description", "classes": "govuk-!-width-one-half"}
    ],
    "rows": version_rows
}) }}

