#workbasket-review-tabs .govuk-tabs__list-item, 
#workbasket-review-tabs .govuk-tabs__list-item--selected {
  font-size: 1rem;
}

nav#workbasket-items {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: govuk-spacing(2);

}

table.workbasket-transactions tbody {
  .transaction-start {
    font-size: 1rem;
    background-color: govuk-colour("light-grey");

    .details {
      font-weight: bold;
    }

    .demote,
    .promote {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  .transaction-start:first-child {
    padding-right: 0px;
    padding-left: govuk-spacing(3);
    padding-bottom: 0px;
  }

  .transaction-start:first-child,
  .item:first-child {
    border-top: 1px solid govuk-colour("mid-grey");
    border-left: 1px solid govuk-colour("mid-grey");
  }

  .transaction-start:last-child {
    vertical-align: middle;
  }

  .transaction-start:last-child{
    #transaction-order-actions{
      float: right;
      margin-right: govuk-spacing(3);
    }
  }

  .transaction-start:last-child,
  .item:last-child {
    border-right: 1px solid govuk-colour("mid-grey");
  }

  .transaction-end {
    height: 1.5rem;
  }
}
