#workbasket-review-tabs .govuk-tabs__list-item, 
#workbasket-review-tabs .govuk-tabs__list-item--selected {
  font-size: 1rem;
}

nav#workbasket-items {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: govuk-spacing(2);

  progress {
    width: 125%;
    height: 0.25rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  progress::-webkit-progress-value {
    background-color: govuk-colour("blue");
  }

  progress::-webkit-progress-bar {
    background-color: govuk-colour("light-grey");
  }
}

table.workbasket-items tbody {
  .transaction-start {
    font-size: 1rem;
    background-color: govuk-colour("light-grey");

    .details {
      font-weight: bold;
    }

    .demote,
    .promote {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  .transaction-start.first-cell,
  .item.first-cell {
    border-left: 1px solid govuk-colour("mid-grey");
  }

  .transaction-start.last-cell{
    #transaction-order-actions{
      float: right;
      margin-right: govuk-spacing(3);
    }
  }

  .transaction-start.last-cell,
  .item.last-cell {
    border-right: 1px solid govuk-colour("mid-grey");
  }

  .transaction-end {
    height: 1.5rem;
  }

  .govuk-link.disabled {
    color: govuk-colour("mid-grey");
  }
}
