#workbasket-review-tabs .govuk-tabs__list-item, 
#workbasket-review-tabs .govuk-tabs__list-item--selected {
  font-size: 1rem;
}

nav#workbasket-items {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: govuk-spacing(2);

}

table.workbasket-transactions tbody {
  .transaction-start {
    font-size: 1rem;
    background-color: govuk-colour("light-grey");

    .details {
      font-weight: bold;
    }

    .demote,
    .promote {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  .transaction-start:first-child {
    padding-right: 0px;
    padding-left: govuk-spacing(3);
    padding-bottom: 0px;
  }

  .transaction-start:first-child,
  .item:first-child {
    border-top: 1px solid govuk-colour("mid-grey");
    border-left: 1px solid govuk-colour("mid-grey");
  }

  .transaction-start:last-child {
    vertical-align: middle;
  }

  .transaction-start:last-child{
    #transaction-order-actions{
      float: right;
      margin-right: govuk-spacing(3);
    }
  }

  .transaction-start:last-child,
  .item:last-child {
    border-right: 1px solid govuk-colour("mid-grey");
  }

  .transaction-end {
    height: 1.5rem;
  }
}

#workbasket-comments-container {
  width: 70%;
  float: right;

  header > p{
    display: inline;
  }
}

ul.comment-actions {
  display: inline;
  float: inline-end;

  li {
    display: inline;
    border-right: 1px solid govuk-colour("mid-grey");
    padding-right: govuk-spacing(2);
    margin-right: govuk-spacing(2);
  }
  li:last-child{
    border-right: 0;
    margin-right: 0;
  }
}

.comment {
  h1 {
    @extend .govuk-heading-l;
  }

  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }
  
  p {
    @extend .govuk-body;
  }
  
  blockquote {
    @extend .govuk-inset-text;
  }

  hr {
    @extend .govuk-section-break;
    @extend .govuk-section-break--visible;
  }

  strong {
    @extend .govuk-\!-font-weight-bold;
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }

  table {
    @extend .govuk-table;
  }
  
  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell
  }
}
