<h2 class="govuk-heading-l">Memberships</h2>
{% set table_rows = [] %}
{% for membership in object.memberships.current() %}
  {{ table_rows.append([
    {"text": "{:%d %b %Y}".format(membership.valid_between.lower)},
    {"text": "{:%d %b %Y}".format(membership.valid_between.upper) if membership.valid_between.upper else "-"},
    {"text": membership.area_id},
    {"text": membership.get_description().description},
  ]) or "" }}
{% endfor %}
{% if table_rows == [] %}
  <p class="govuk-body">There are no memberships for this geographical area.</p>
{% else %}
  {{ govukTable({
    "head": [
      {"text": "Start date"},
      {"text": "End date"},
      {"text": "ID"},
      {"text": "Description", "classes": "govuk-!-width-one-half"}
    ],
    "rows": table_rows
  }) }}
{% endif %}
