{% extends "layouts/layout.jinja" %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = 'Reference Documents version details' %}

{% block breadcrumb %}
    {{ breadcrumbs(request, [
      {'text': "Reference Document Version Overview"}
    ]) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Alignment reports
    </h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-9">Reference document version details.</span>
    <div>
        {{ govukTable({ "head": alignment_report_headers, "rows": alignment_reports }) }}
    </div>

{% endblock %}



