{% extends "layouts/layout.jinja" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Reference document " ~ object.reference_document.area_id ~ " version " ~ object.version ~ " successfully created" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [{"text": "Home", "href": url("home")},
    {"text": "View reference documents", "href": url("reference_documents:index")},
      {"text": "Reference document " ~ object.reference_document.area_id, "href": url("reference_documents:details", kwargs={"pk":object.reference_document.pk})},
      {"text": "Create a new version ", "href": url("reference_documents:version-create", kwargs={"pk":object.reference_document.pk})},
      {"text": page_title}]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
    "titleText": "Reference document " ~ object.reference_document.area_id ~ " version " ~ object.version ~ " has been created",
    "text": "This change has taken immediate effect",
    "classes": "govuk-!-margin-bottom-7"
  }) }}
          </div>
  </div>
      <div class="govuk-button-group">
    {{ govukButton({
    "text": "View reference document " ~ object.reference_document.area_id ~ " version " ~ object.version,
    "href": url("reference_documents:version-details", kwargs={"pk":object.pk}),
    }) }}
    {{ govukButton({
      "text": "Back to view reference documents",
      "href": url("reference_documents:index"),
      "classes": "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}
