{% extends "layouts/form.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Edit reference document " ~ object.reference_document.area_id ~ " version " ~ object.version %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [{"text": "Home", "href": url("home")},
    {"text": "View reference documents", "href": url("reference_documents:index")},
    {"text": "Reference document " ~ object.reference_document.area_id, "href": url("reference_documents:details", kwargs={"pk":object.reference_document.pk})},
      {"text": page_title}]
  }) }}
{% endblock %}

{% block form %}
  {% call django_form() %}
    {{ crispy(form) }}
  {% endcall %}
{% endblock %}
