{% set table_rows = [] %}
{% for certificate in object_list %}
  {% set object_link -%}
    <a class="govuk-link govuk-!-font-weight-bold" href="{{ certificate.get_url() }}">{{ certificate.sid}}</a>
  {%- endset %}
  {{ table_rows.append([
    {"html": object_link},
    {"text": certificate.get_description().description},
    {"text": certificate.certificate_type ~ " - " ~ break_words(certificate.certificate_type.description), "classes": "govuk-!-width-one-quarter"},
    {"text": "{:%d %b %Y}".format(certificate.valid_between.lower)},
    {"text": "{:%d %b %Y}".format(certificate.valid_between.upper) if certificate.valid_between.upper else "-"},
    {"text": certificate.transaction.workbasket.get_status_display()},
  ]) or "" }}
{% endfor %}

{{ govukTable({
  "head": [
    {"text": "ID"},
    {"text": "Description"},
    {"text": "Type"},
    {"text": "Start date"},
    {"text": "End date"},
    {"text": "Status"}
  ],
  "rows": table_rows
}) }}
