{% extends "layouts/layout.jinja" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = 'Reference documents index' %}
{% set create_url = "create" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [{"text": "Home", "href": url("home")},
    {"text": "View reference documents"}],
  }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Reference documents
    </h1>
    <span class="govuk-caption-xl govuk-!-margin-bottom-9">You will find a list of reference documents below that can be viewed.</span>
    <p class="govuk-body">
    <a class="govuk-link" href="{{ create_url }}">
    Create a new reference document
    </a>
    </p>
    <div>
        {{ govukTable({ "head": reference_document_headers, "rows": reference_documents }) }}
    </div>
{% endblock %}



