{% extends "layouts/form.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Edit reference document " ~ object.area_id ~ " details" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [{"text": "Home", "href": url("home")},
    {"text": "View reference documents", "href": url("reference_documents:index")},
      {"text": page_title}]
  }) }}
{% endblock %}

{% block form %}
  {% call django_form() %}
    {{ crispy(form) }}
  {% endcall %}
{% endblock %}
