{% extends "layouts/layout.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}


{% set page_title = "Review - TARIC ID " ~ object.name|trim(".xml") %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": "EU Taric Import List", "href": url("commodity_importer-ui-list")},
      {"text": "Import commodities", "href": url("commodity_importer-ui-create")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    <h1 class="govuk-heading-xl">
    {% block page_title %}
      {{ page_title }}
    {% endblock %}
    </h1>

    <h2 class="govuk-heading-m">Commodity code changes</h2>

    {% set table_rows = [] %}
    {% for obj in import_changes %}
      {{ table_rows.append([
        {"text": obj["update_type"]},
        {"text": obj["object"]},
        {"text": obj["goods_nomenclature"]},
        {"text": obj["suffix"]},
        {"text": obj["validity_start"]},
        {"text": obj["validity_end"]},
        {"text": obj["comments"]},
      ]) or "" }}
    {% endfor %}
        
    {{ govukTable({
      "head": [
        {"text": "Update type"},
        {"text": "What's being updated"},
        {"text": "Goods nomenclature code"},
        {"text": "Suffix"},
        {"text": "Validity start date"},
        {"text": "Validity end date"},
        {"text": "Comments"},
      ],
      "rows": table_rows
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        "text": "Download Excel file",
        "href": "TODO",
      }) }}
      {{ govukButton({
        "text": "Continue to workbasket",
        "href": "TODO",
      }) }}
    </div>

  </div>
</div>
{% endblock %}