{% extends "layouts/form.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set page_title = "Import TARIC file" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
       {"text": "Home", "href": url("home")},
    {"text": "EU Taric Import List", "href": url("commodity_importer-ui-list")},
    {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <h1 class="govuk-heading-xl">Import TARIC file</h1>
      {{ crispy(form, context={"csrf_token": csrf_token, "request": request}) }}
    </div>
  </div>
{% endblock %}
