{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "EU Taric import list" %}
{% set list_include = "includes/taric_importer_list.jinja" %}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4" style="float: right;">
      <a 
        href="{{ url('commodity_importer-ui-create') }}"
        class="govuk-button "
        style="float: right;"
        data-module="govuk-button"
      >
        Import new Taric file
      </a>
    </div>
  </div>

  <nav class="workbasket-filters">
    <p class="govuk-body govuk-!-font-weight-bold">Filter results:</p>
    <ul class="govuk-list">
      <li>TODO: TP2000-920</li>
      <!--
      <li>
        <a
          href="{{ request.path }}?status="
          class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if not request.GET.status %}selected-link{% endif %}"
        >All</a>
      </li>
      <li>
        <a
          href="{{ request.path }}?status="
          class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.status == 'IMPORTED' %}selected-link{% endif %}"
        >Imported</a>
      </li>
      <li>
        <a
          href="{{ request.path }}?status=REVIEW"
          class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.status == 'REVIEW' %}selected-link{% endif %}"
        >In review</a>
      </li>
      <li>
        <a
          href="{{ request.path }}?status=COMPLETED"
          class="govuk-link govuk-link--no-underline govuk-link--no-visited-state {% if request.GET.status == 'COMPLETED' %}selected-link{% endif %}"
        >Completed</a>
      </li>
      -->
    </ul>
  </nav>
    
  <hr class="govuk-section-break govuk-section-break--visible">

  {% if object_list %}
    {% include list_include %}
  {% else %}
    <p class="govuk-body">There are no imports with this status.</p>
  {% endif %}

  {% include "includes/common/pagination.jinja" %}
{% endblock %}
