{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/table/macro.njk" import govukTable %}
{% from "macros/inline_filter_links.jinja" import inline_filter_links %}

{% set page_title = "EU Taric import list" %}
{% set list_include = "includes/taric_importer_list.jinja" %}

{% set filter_links_list = [
    {
      "text": "All",
      "href": "?status=",
      "selected": selected_link == "all",
    },
    {
      "text": "Importing",
      "href": "?status=IMPORTING",
      "selected": selected_link == "importing"
    },
    {
      "text": "Completed",
      "href": "?status=SUCCEEDED&workbasket__status=EDITING",
      "selected": selected_link == "completed"
    },
    {
      "text": "Published",
      "href": "?status=SUCCEEDED&workbasket__status=PUBLISHED",
      "selected": selected_link == "published"
    },
    {
      "text": "Empty",
      "href": "?status=SUCCEEDED&workbasket__status=ARCHIVED",
      "selected": selected_link == "empty"
    },
    {
      "text": "Errored",
      "href": "?status=FAILED",
      "selected": selected_link == "errored"
    },
  ]
%}


{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4" style="float: right;">
      <a href="{{ url('commodity_importer-ui-create') }}"
        class="govuk-button" style="float: right;"
        data-module="govuk-button"
      >
        Import new Taric file
      </a>
    </div>
  </div>

  <nav class="workbasket-filters">
    <p class="govuk-body govuk-!-font-weight-bold">Filter results:</p>
      {{ inline_filter_links(filter_links_list) }}
  </nav>
    
  <hr class="govuk-section-break govuk-section-break--visible">

  {% if object_list %}
    {% include list_include %}
  {% else %}
    <p class="govuk-body">There are no imports with this status.</p>
  {% endif %}

  {% include "includes/common/pagination.jinja" %}
{% endblock %}
