{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs.jinja" import breadcrumbs %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/create_sortable_anchor.jinja" import create_sortable_anchor %}
{% from "macros/fake_tabs.jinja" import fake_tabs %}

{% set page_title = "Quota ID: " ~ quota.order_number ~ " - Data" %}
{% set find_edit_url = url("quota-ui-list") %}

{% if sub_quotas %}
  {% set page_subtitle = "Main quota" %}
{% elif main_quotas %}
  {% set page_subtitle = "Sub-quota" %}
{% endif %}

{% set links = [
    {
      "text": "Quota definition periods",
      "href": url('quota_definition-ui-list', kwargs={"sid": quota.sid}),
      "selected": quota_type == None
    },
    {
      "text": "Quota associations",
      "href": url('quota_definition-ui-list-filter', kwargs={"sid": quota.sid, "quota_type": "quota_associations"}),
      "selected": quota_type == "quota_associations",
    },
    {
      "text": "Blocking periods",
      "href": url('quota_definition-ui-list-filter', kwargs={"sid": quota.sid, "quota_type": "blocking_periods"}),
      "selected": quota_type == "blocking_periods"
    },
    {
      "text": "Suspension periods",
      "href": url('quota_definition-ui-list-filter', kwargs={"sid": quota.sid, "quota_type": "suspension_periods"}),
      "selected": quota_type == "suspension_periods"
    }
  ]
%}

{% block breadcrumb %}
  {{ breadcrumbs(request, [
    {"text": "Find and edit quotas", "href": url("quota-ui-list")},
    {"text": "Quota " ~ quota.order_number, "href": url("quota-ui-detail", args=[quota.sid])},
    {"text": page_title}
  ])}}
{% endblock %}

{% block content %}
{% if page_subtitle %}
  <span class="govuk-caption-xl">
    {% block page_subtitle %}
      {{ page_subtitle }}
    {% endblock %}
  </span>
{% endif %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>


{{ fake_tabs(links) }}
<div class="quota-definitions">
  {% set base_url = url('quota_definition-ui-list', args=[quota.sid] ) %}
  <div class="govuk-tabs__panel">
  {% if quota_type == "blocking_periods" %}
    {% include "quotas/tables/blocking_periods.jinja" %}
  {% elif quota_type == "suspension_periods" %}
    {% include "quotas/tables/suspension_periods.jinja" %}
  {% elif quota_type == "quota_associations" %}
    {% include "quotas/tables/sub_quotas.jinja" %}
  {% else %}
    {% include "quotas/tables/definitions.jinja" %}
  {% endif %}
  </div>
</div>
<br>
<a href="{{ url('quota-ui-detail', kwargs={"sid": quota.sid}) }}" class="govuk-button govuk-button--secondary" >Back to quota ID</a>
{% endblock %}