
<h2 class="govuk-heading-l">Blocking periods</h2>

{% set table_rows = [] %}

{% if blocking_periods %}
  {% for object in blocking_periods %}
      {{ table_rows.append([
        {"text": object.sid },
        {"text": "{:%d %b %Y}".format(object.valid_between.lower) },
        {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "-"},
        {"text": object.get_blocking_period_type_display() },
        {"text": object.description },
      ]) or "" }}
    {% endfor %}

  {{ govukTable({
    "head": [
      {"text": "Quota definition sid"},
      {"text": "Start date"},
      {"text": "End date"},
      {"text": "Blocking period type", "classes": "govuk-!-width-one-third"},
      {"text": "Description", "classes": "govuk-!-width-one-third"},
    ],
    "rows": table_rows
  }) }}
{% else %}
  <p class="govuk-body">There are no blocking periods for this quota order number.</p>
{% endif %}