
<h2 class="govuk-heading-l">Quota definition periods</h2>

{% set table_rows = [] %}

{% for object in object_list %}

  {% set object_details_html -%}
  {{ govukSummaryList({
    "rows": [
      {
        "key": { "text": "Description" },
        "value": { "text": object.description if object.description else "—" },
        "actions": {"items": []}
      },
      {
        "key": { "text": "Measurement Unit" },
        "value": { "text": object.measurement_unit.description },
        "actions": {"items": []}
      },
      {
        "key": { "text": "Critical threshold" },
        "value": { "text": object.quota_critical_threshold ~ "%" },
        "actions": {"items": []}
      },
      {
        "key": { "text": "Critical state" },
        "value": { "text": "Yes" if object.quota_critical else "No" },
        "actions": {"items": []}
      },
      {
        "key": { "text": "Maximum precision" },
        "value": { "text": object.maximum_precision },
        "actions": {"items": []}
      },
  ]}) }}
  {% endset %}
  
  {% set object_details -%}
  {{ govukDetails({
      "summaryText": object.sid,
      "html": object_details_html
  }) }}
  {% endset %}

  {% set actions_html -%}
    <a href="{{ url('quota_definition-ui-edit', args=[object.sid])}}" class="govuk-link">Edit</a>
    {# only show the delete link for future definitions that are not currently active #}
    {% if object in object_list.as_at_today_and_beyond() and object not in object_list.as_at_today() %}
      <a href="{{ url('quota_definition-ui-delete', args=[object.sid])}}" class="govuk-link">Delete</a>
    {% endif %}
  {% endset %}

  {{ table_rows.append([
    {"text": object_details },
    {"text": quota_data[object.sid].status if quota_data[object.sid] else "—" },
    {"text": "{:%d %b %Y}".format(object.valid_between.lower) },
    {"text": "{:%d %b %Y}".format(object.valid_between.upper) if object.valid_between.upper else "—"},
    {"text": intcomma(object.initial_volume) },
    {"text": intcomma(object.volume) },
    {"text": intcomma(quota_data[object.sid].balance) if quota_data[object.sid] else "—" },
    {"text": object.measurement_unit.abbreviation|title},
    {"text": actions_html },
  ]) or "" }}
{% endfor %}

{% set sid %}
  {{ create_sortable_anchor(request, "sid", "Quota definition sid", base_url) }}
{% endset %}

{% set start_date %}
  {{ create_sortable_anchor(request, "valid_between", "Start date", base_url) }}
{% endset %}

{{ govukTable({
  "head": [
    {"text": sid},
    {"text": "Definition period status"},
    {"text": start_date},
    {"text": "End date"},
    {"text": "Initial volume"},
    {"text": "Volume"},
    {"text": "Balance"},
    {"text": "Measurement unit"},
    {"text": "Actions"},
  ],
  "rows": table_rows
}) }}
