
<h2 class="govuk-heading-l">Quota associations</h2>
{% set table_rows = [] %}
{% if sub_quotas %}
<h3 class="govuk-heading-m">Sub-quotas</h3>
  {% for object in sub_quotas %}
    {% set definition_link -%}
      <a class="govuk-link" href="{{ url('quota-ui-detail', args=[object.sub_quota.order_number.sid]) }}#definition-details">{{ object.sub_quota.sid }}</a>
    {% endset %}
    {% set sub_quota_link -%}
      <a class="govuk-link" href="{{ url('quota-ui-detail', args=[object.sub_quota.order_number.sid]) }}">{{ object.sub_quota.order_number.order_number }}</a>
    {% endset %}
    {% set actions_html %}
      <a class="govuk-link" href="{{ object.sub_quota.version_at(request.user.current_workbasket.transactions.last()).get_association_edit_url() }}">Edit</a>
      <br/>
      <a class="govuk-link" href="{{ url('quota_association-ui-delete', args=[object.pk]) }}">Delete</a>
    {% endset %}

    {{ table_rows.append([
      {"text": definition_link },
      {"text": sub_quota_link },
      {"text": "{:%d %b %Y}".format(object.sub_quota.version_at(request.user.current_workbasket.transactions.last()).valid_between.lower) },
      {"text": "{:%d %b %Y}".format(object.sub_quota.version_at(request.user.current_workbasket.transactions.last()).valid_between.upper) if object.sub_quota.valid_between.upper else "-"},
      {"text": object.get_sub_quota_relation_type_display() },
      {"text": object.coefficient },
      {"text": actions_html },
    ]) or "" }}
  {% endfor %}

  {{ govukTable({
    "head": [
      {"text": "Quota definition SID"},
      {"text": "Order number"},
      {"text": "Start date"},
      {"text": "End date"},
      {"text": "Relationship type"},
      {"text": "Coefficient"},
      {"text": "Actions"},
    ],
    "rows": table_rows
  }) }}
{% elif main_quotas %}
<h3 class="govuk-heading-m">Main quotas</h3>
  {% for object in main_quotas %}
    {% set definition_link -%}
      <a class="govuk-link" href="{{ url('quota-ui-detail', args=[object.main_quota.order_number.sid]) }}#definition-details">{{ object.main_quota.sid }}</a>
    {% endset %}
    {% set main_quota_link -%}
      <a class="govuk-link" href="{{ url('quota-ui-detail', args=[object.main_quota.order_number.sid]) }}">{{ object.main_quota.order_number.order_number }}</a>
    {% endset %}
    {% set actions_html %}
      <a class="govuk-link" href="{{ object.main_quota.get_association_edit_url() }}">Edit</a>
      <br/>
      <a class="govuk-link" href="{{ url('quota_association-ui-delete', args=[object.pk]) }}">Delete</a>
    {% endset %}
    {{ definition_link }}
    {{ main_quota_link }}
    {{ object }}
    {# {{ table_rows.append([
      {"text": definition_link },
      {"text": main_quota_link },
      {"text": "{:%d %b %Y}".format(object.main_quota.version_at(request.user.current_workbasket.transactions.last()).valid_between.lower) },
      {"text": "{:%d %b %Y}".format(object.main_quota.version_at(request.user.current_workbasket.transactions.last()).valid_between.upper) if object.main_quota.valid_between.upper else "-"},
      {"text": object.get_sub_quota_relation_type_display() },
      {"text": object.coefficient },
      {"text": actions_html },
    ]) or "" }} #}
  {% endfor %}
  {{ govukTable({
    "head": [
      {"text": "Quota definition SID"},
      {"text": "Order number"},
      {"text": "Start date"},
      {"text": "End date"},
      {"text": "Relationship type"},
      {"text": "Coefficient"},
      {"text": "Actions"},
    ],
    "rows": table_rows
  }) }}
{% else %}
  <p class="govuk-body">There are no main or sub-quotas for this quota order number.</p>
{% endif %}