
<h2 class="govuk-heading-l">Suspension periods</h2>

{% set table_rows = [] %}

{% if suspension_periods %}
  {% for object in suspension_periods %}
      {{ table_rows.append([
        {"text": object.sid },
        {"text": object.description },
      ]) or "" }}
    {% endfor %}

  {{ govukTable({
    "head": [
      {"text": "Quota definition sid"},
      {"text": "Description"},
    ],
    "rows": table_rows
  }) }}
{% else %}
  <p class="govuk-body">There are no suspension periods for this quota order number.</p>
{% endif %}