{% extends "layouts/layout.jinja" %}

{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% set page_title = "CDS - Process envelopes" %}
{% set list_include = "includes/envelope-queue.jinja" %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>


  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      {% if queue_paused %}
        {{ govukWarningText({
          "text": "Queue paused. Awaiting DIT staff to restart the queue.",
          "iconFallbackText": "Warning",
          "classes": "govuk-!-margin-bottom-0",
        }) }}
      {% else %}
        {{ govukDetails({
          "summaryText": "What happens when an envelope is downloaded?",
          "html": (
            "<p>Downloading an envelope 'locks' the associated workbasket, "
            "preventing it from being removed from or reordered in the queue by "
            "DIT staff.</p>"

            "<p>After downloading, you should process the envelope and then "
            "choose to either <em>Accept</em> or <em>Reject</em> it, depending "
            "upon the processing results. This will unlock the workbasket, "
            "remove it from the queue, and make the next envelope available for "
            "downloading.</p>"
          ),
        }) }}

        {{ govukDetails({
          "summaryText": "How do I view an envelope?",
          "html": (
            "<p>When you start processing an envelope, you will be able to "
            "download and view it."
          ),
          "classes": "govuk-!-margin-bottom-0",
        }) }}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if object_list %}
        {% include list_include %}
      {% else %}
        <p class="govuk-body">There are no envelopes queued for processing.</p>
      {% endif %}

      {% include "includes/common/pagination.jinja" %}
    </div>
  </div>

  {% include "includes/common/pagination.jinja" %}
{% endblock %}
