{% extends "layouts/list.jinja" %}

{% set page_title = "Find envelopes" %}
{% set form_url = "publishing:envelope-list-ui-list" %}
{% set ommit_create_link = True %}
{% set list_include = "includes/envelope-list.jinja" %}


{% block breadcrumb %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url('home') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        {{ page_title }}
    </li>
  </ol>
</div>
{% endblock %}
