{% extends "layouts/layout.jinja" %}

{% from "components/table/macro.njk" import govukTable %}


{% set page_title = "Envelope history for " ~ xml_file_name %}


{% block breadcrumb %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url('home') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url('publishing:envelope-list-ui-list') }}">Find processed envelopes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ page_title }}
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

{%- macro version_download_link(envelope_pk) -%}
  <a
    class="govuk-link"
    href="{{ url('publishing:download-envelope-ui-download', kwargs={'pk': envelope_pk}) }}"
    target="_blank"
  >Download</a>
{%- endmacro -%}

{%- set table_rows = [] -%}
{% for version in object_list %}
  {%- set size = "Unknown" %}
  {%- set date = "{:%d %b %Y, %H:%M}".format(version.created_at) %}
  {%- set link = "Unavailable" %}
  {% if version.xml_file_exists() %}
    {%- set size = version.xml_file.size|filesizeformat(true) %}
    {%- set link = version_download_link(version.pk) %}
  {% endif %}

  {{ table_rows.append([
      {"text": size},
      {"text": date},
      {"html": link},
  ]) or "" }}
{% endfor %}

<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">

    {{ govukTable({
      "head": [
        {"text": "File size"},
        {"text": "Created"},
        {"text": "Action"},
      ],
      "rows": table_rows
    }) }}

  </div>
</div>
{% endblock %}
