{% extends "layouts/layout.jinja" %}

{% from "components/table/macro.njk" import govukTable %}

{% set page_title = "Order and package workbaskets" %}
{% set list_include = "includes/packaged-workbasket-queue.jinja" %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({
    "items": [
      {"text": "Home", "href": url("home")},
      {"text": page_title}
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if object_list %}
    {% include list_include %}
  {% else %}
    <p class="govuk-body">There are no workbaskets in the packaging queue.</p>
  {% endif %}

  {% include "includes/common/pagination.jinja" %}
{% endblock %}
